/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}#top{width: 100%; height:500px;}

/*Page Styles*/
body{font-family: arial; background:white; font-family: 'Lato', sans-serif; -webkit-font-smoothing:antialiased;}
body.modal-open{margin-right:0px;}

/*Navigation Styles*/
.dropdown{cursor:pointer;}
.navbar-brand .badge{font-size:12px; position:relative; top:-2px;}
@media screen and (max-width:768px){
    nav.navbar{position:fixed; top:0px; width:100%;}
    #mainSection, #loadingScreen{margin-top:82px;}
}
.topLeft{position:absolute; left:20px; top:10px;}
.topRight{position:absolute; right:20px; top:10px;}
.bottomLeft{position: absolute; left:20px; bottom:10px;}
.bottomLeft2{position:absolute; left:120px; bottom:10px;}
.bottomRight{position:absolute; right:20px; bottom:10px;}
.container{position:relative;}

/*Maps*/

map, div[map] {
display: block;
width: 100%;
height: 200px;
}

    /*Dropdown Menu*/

.dropdown-toggle{-ms-user-select:none; -moz-user-select:none; -webkit-user-select:none; user-select:none;}

nav.navbar-default .dropdown-menu {
    -webkit-transition: max-height .3s ease-out;
    transition: max-height .3s ease-out;
    max-height:0px;
    display:block;
    pointer-events:none;
    height:0px;
    overflow:hidden;
    padding:0px;
    border:0px;
}
nav.navbar-default .open .dropdown-menu {
    max-height:300px;
    height:auto;
    pointer-events:all;
    border: 1px solid rgba(0,0,0,0.15);
    padding: 5px 0;
}

/*Nav Pills*/
@media screen and (max-width:768px){
.nav-pills{font-size:12px;}
}


/*Labels and Tags*/
.label{display:inline-block; position:relative; padding:.4em; margin:0px 2px; -webkit-user-select:none; user-select:none;}
.checkLabel{padding:.4em .4em .4em 1.5em;}
.checkLabel, .memberTags .badge{cursor:pointer;}
.checkLabel li{display:inline;}
.checkLabel input{display:none;}
.checkLabel .checkStatus{position:absolute; left:5px; top:5px;}
.checkLabel.label-default:hover{background:#ccc;}
.checkLabel.label-primary:hover{background:blue;}

/*Message and Events Person Well*/
#selectedList{margin-bottom:10px; padding:10px; min-height:60px; max-height:80px; overflow-y:scroll;}
.messagePerson{margin-bottom:4px;}
.preText{white-space: pre-wrap; white-space: -moz-pre-wrap; white-space: -o-pre-wrap; word-wrap: break-word;}
.noneSelected{position:absolute; left:10px; top:10px;}

/*Random Fixes*/
#registerForm #orgType input{margin-right:5px;}
#addmemberForm button{float:right; margin-right:15px;}
#correctPerson{text-align:center; margin-bottom:15px;}
#logoutbutton{margin:7px;}
input.form-control{height:34px !important;}
.tab-pane{padding-top:10px;}
.navbar-collapse{max-height:100%;}
.well, .jumbotron{position:relative;}
@media screen and (max-width: 768px){
.jumbotron {padding-top: 50px; padding-bottom: 50px;}
}

@media screen and (max-width:768px){#memberAccount #addresses{padding:0px;}}
@media screen and (min-width:768px){
#memberAccount #addresses .col-sm-6:nth-child(1){position:relative; left:-10px;}
#memberAccount #addresses .col-sm-6:nth-child(2){position:relative; left:15px;}
}
h1{font-size:36px; font-weight:bold;}


/*Main App ui-view*/
#mainSection{position:relative;}

/*Directory Page*/
#directory .member{position:relative; padding:20px 10px; border-top:1px solid #777;}
#directory .member:last-child{border-bottom:1px solid #777;}
#directory .member:hover{background:#EDEDED; cursor:pointer;}
/*makes room for the picture*/ .directoryContent{margin-left:60px;}
#directory .memberName{font-size:18px;}
.directoryTags{font-size:12px; font-style: italic;}
.directoryStatus{width:100%; margin-top:4px; display:block; font-size:16px;}
#directory h2{text-transform:uppercase; font-weight:bold; text-indent:10px; margin-bottom:4px;}

/*Member Profile Page*/
#profileContent{position:relative; margin:0 auto;}
#profileContent .row{margin:0px; padding:0px;}
#profileContent .status{text-align:center; width:100%; display:inline-block; font-size:18px; margin:10px 0px 5px;}


/*Member Tagging Page*/
#addTagsButton{margin:15px 0px;}
#selectedTags{display:inline;}
.memberTags .badge:hover{background:#d9534f;}
.memberTags .btn-group, .messagingTags .btn-group{margin:0px 2px;}

#tagtypeahead{position:relative;}
#tagtypeahead #seeall{cursor:pointer; position:absolute; right:10px; top:8px;}

.memberTags .btn-group{-webkit-user-select:none;}
.memberTags .badge{position: absolute; right: 0px; top: 0px; border-left:1px solid #ccc; padding: .3em .4em .5em .4em;
border-radius:.25em; border-bottom-left-radius: 0; border-top-left-radius: 0;}
.memberTags .page-header{margin: 20px 0 10px !important;}

#memberTags .label{padding:.4em 2em .4em .6em;}
#memberTags .badge{padding: .4em .4em .4em .3em;}
@media screen and (max-width:768px){#memberTags{left: -2px;
margin-top: 2px;}}
#memberSelect row{margin:4px -15px 4px -15px;}

.addTags .label{padding:.4em 2em .4em 1.5em;}
.addTags .btn-group{margin:2px 0px;}
.addTags .open .dropdown-toggle{background:#ccc;}
.dropdown-menu>li>a{cursor: pointer;}

#addTag button, #addTag input{display:inline-block;}

#createTags{margin-top:10px;}

/*Member Management Page*/
#manageMembers li{margin:4px;}
#manageMembers .form-inline{margin-bottom:10px;}
.permsSelect{display:inline-block;}
.addPerson{margin:4px;}

/*Messaging Page*/
textarea.form-control{height:auto; max-width:100%;}
#recentlySentMessages{margin-top:20px;}
#messagingTags{margin-bottom:5px;}
#messagingTags .btn-group{margin-bottom:5px;}

/*App Home Page*/
#statusContainer .well{font-size:14px; font-weight:bold; margin-bottom:0px;}
#statusContainer .close{margin-top:-3px;}
.currentStatus{font-style:italic;}
#statusContainer h2{margin-top:0px;}

/*Main App Page*/
#notifications ul{margin-top:20px;}
.notification{cursor:pointer; position:relative; height:86px;}
.notification.new{background:#EDEDED;}
.notification:hover{background:#EDEDED;}
.notification{border-top:1px solid #777;}
.notification:last-child{border-bottom:1px solid #777;}
.notificationContent{padding:20px 10px;}
.notificationContent .close{font-size:18px; top:5px; right:10px; position:absolute; z-index:100;}
.notificationTitle{font-weight:bold; font-size:18px; position:relative; top:-15px;}
.notificationTitle, .notificationType, .notificationSender{width:100%; display:inline-block;}
.notificationSender{font-size:12px; font-style:italic; position:absolute; bottom:5px; right:10px; text-align:right;}

#notificationModal .modal-title{font-weight:bold; font-size:18px;}
#notificationModal .notificationSender{font-size:14px; position:absolute; bottom:0px; right:15px;}
#showHidden{position:relative; width:100%; overflow:hidden;}
.pagerButtons{margin-top:20px;}
.pagerButtons .previous{margin-left:20px;}
.pagerButtons .next{float:right; margin-right:20px;}

/*Events Page*/
#newEventButton{margin-bottom:15px;}



/*target these only on the event page
#events .date{width:240px; height:260px;}
#events .date .input-group{position:absolute; bottom:14px; left:125px; width:150px;}
.bootstrap-datetimepicker-widget.calendarpage{margin-top:-260px; -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.175); box-shadow: 0 1px 3px rgba(0,0,0,0.175);}
.bootstrap-datetimepicker-widget.bottom.calendarpage:before, .bootstrap-datetimepicker-widget.bottom.calendarpage:after, .bootstrap-datetimepicker-widget.top.calendarpage:before, .bootstrap-datetimepicker-widget.top.calendarpage:after{display:none !important;} 
@media screen and (min-width:768px) and (max-width:992px){
#eventList{padding-left:40px;}
}
@media screen and (max-width:768px){
.bootstrap-datetimepicker-widget.calendarpage{position:absolute; left:50% !important; margin-left:-120px;}
}
*/

.event{cursor:pointer; position:relative;}
.event:hover{background:#EDEDED;}
.event{border-top:1px solid #777;}
.event:last-child{border-bottom:1px solid #777;}
.eventContent{padding:20px 10px;}
.eventName{display:inline-block; width:100%; font-size:16px; font-weight:bold;}

/*New Event Page*/
#eventTags{margin-bottom:5px;}
#eventTags .btn-group{margin-bottom:5px;}
#eventTags .btn-group .checkLabel{margin:0 2px;}

/*Edit Event Page*/

/*Check In Page*/
.checkin{border-top:1px solid #777; padding:10px; position:relative;}
.checkin:last-child{border-bottom:1px solid #777;}
/*makes room for the picture*/ .checkinContent{margin-left:60px; margin-right:100px; min-height:60px; position:relative;}
.checkinContent .btn-group{position:absolute; right:-100px; top:50%; margin-top:-23px;}
.checkinContent .memberName{font-size:18px;}

/*Loading Screen*/
#loadingScreen{width:100%; text-align:center;}
#loadingScreen .fa-spin{margin-top:40px; font-size:80px;}

/*Helper Classes*/
.smallprofilepic{
    display: inline-block;
    position:absolute;
    width: 40px;
    height: 40px;
    top:50%;
    margin:-20px 0 0 0px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
}
.profilepic{
    display: block;
    width: 150px;
    height: 150px;
    margin: 0px auto 10px auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border: 3px solid #222;
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);  
}

@media screen and (min-width:768px){

.md-pull-right{float:right;}

}

.trash{
padding: 0px 5px;
font-size: 14px;
}

.refresh{
position:absolute;
margin-left:-10px;
top:18px;
cursor:pointer;
padding: 0px 2px;
font-size: 16px;
display:inline-block;
opacity:0;
transition:opacity .2s linear;
-webkit-transform: translateZ(0);
-webkit-backface-visibility: hidden;
}

@media screen and (max-width:768px){
.refresh{opacity:1 !important;}
}

nav.navbar-default:hover .refresh{opacity:1;}
.fa-spin.fa-refresh{-webkit-animation-duration: 1s; /* Safari and Chrome */
    animation-duration: 1s;}

/*ng-animation code*/
.fadingIn.ng-enter, .messagePerson.ng-enter{
-webkit-animation: fadeIn .5s;
-moz-animation: fadeIn .5s;
-ms-animation: fadeIn .5s;
 animation: fadeIn .5s;
}

.fadingOut.ng-leave, .messagePerson.ng-leave{
-webkit-animation: fadeOut .5s;
-moz-animation: fadeOut .5s;
-ms-animation: fadeOut .5s;
 animation: fadeOut .5s;
}

.fadingIn.ng-enter { position:absolute !important; left:0px; right:0px; }
.fadingOut.ng-leave { position:absolute !important; left:0px; right:0px; }

.fadingInLeftBig.ng-enter{
    position:absolute !important; left:0px; right:0px;
-webkit-animation: fadeInRightBig .5s;
-moz-animation: fadeInRightBig .5s;
-ms-animation: fadeInRightBig .5s;
 animation: fadeInRightBig .5s;
}
.fadingOutRightBig.ng-leave{
    position:absolute !important; left:0px; right:0px;
-webkit-animation: fadeOutLeftBig .5s;
-moz-animation: fadeOutLeftBig .5s;
-ms-animation: fadeOutLeftBig .5s;
 animation: fadeOutLeftBig .5;
}

.collapseOut.new.ng-enter{-webkit-animation: flipInX .5s;
-moz-animation: flipInX .5s;
-ms-animation: flipInX .5s;
 animation: flipInX .5;}

.collapseOut.ng-leave{
-webkit-animation: flipOutX .5s;
-moz-animation: flipOutX .5s;
-ms-animation: flipOutX .5s;
animation: flipOutX .5;
}


/*Specific Fixes*/
.bootstrap-datetimepicker-widget .btn:active,
.bootstrap-datetimepicker-widget .btn.active {-webkit-box-shadow: none; box-shadow: none; }

.twitter-typeahead{width:100%;}

.tt-dropdown-menu,
.gist {
  text-align: left;
}

.typeahead,
.tt-query,
.tt-hint {
}

.typeahead {
  background-color: #fff;
}

/*
.typeahead:focus {
  border: 2px solid #0097cf;
}
*/

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999;
}

.tt-dropdown-menu {
  max-height:300px;
  overflow-y: scroll;
  padding: 6px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;
}

.tt-suggestion p {
  margin: 0;
}

.gist {
  font-size: 14px;
}

/* example specific styles */
/* ----------------------- */

#custom-templates .empty-message {
  padding: 5px 10px;
 text-align: center;
}

#multiple-datasets .league-name {
  margin: 0 20px 5px 20px;
  padding: 3px 0;
  border-bottom: 1px solid #ccc;
}

#scrollable-dropdown-menu .tt-dropdown-menu {
  max-height: 150px;
  overflow-y: auto;
}

#rtl-support .tt-dropdown-menu {
  text-align: right;
}

/*Angular Picture Cropping*/
div#cropped-image {
  height: 150px;
  width: 150px;
  overflow: hidden;
}