/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}#top{width: 100%; height:500px;}

/*Page Styles*/
body{font-family: arial; background:white; font-family: 'Lato', sans-serif; -webkit-font-smoothing:antialiased;}

/*Navigation Styles*/
.dropdown{cursor:pointer;}

#registerForm #orgType input{margin-right:5px;}
#addmemberForm button{float:right; margin-right:15px;}
#correctPerson{text-align:center; margin-bottom:15px;}
#logoutbutton{margin-top:7px;}
.form-control{height:34px !important;}
.tab-pane{padding-top:10px;}
#memberAccount #addresses .col-sm-6:nth-child(1){position:relative; left:-10px;}
#memberAccount #addresses .col-sm-6:nth-child(2){position:relative; left:15px;}
h1{font-size:36px; font-weight:bold;}
/*.addTags input{visibility:hidden; height:0px; width:0px;}*/

.addTags li{cursor:pointer; -webkit-user-select:none; display:inline;}
.addTags label{margin:8px 4px; display:inline-block; position:relative; padding:.2em 1.5em .3em .6em;}
.addTags input{display:none;}
.removeTag{height: 100%; position: absolute; right: 0px; top: 0px; line-height: 17px; padding: 0px 2px;}
.removeTag:hover{background:#d9534f; cursor:pointer;}

.profilepic{
  display: block;
  width: 150px;
  height: 150px;
  margin: 1em auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-border-radius: 99em;
  -moz-border-radius: 99em;
  border-radius: 99em;
  border: 5px solid #eee;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);  
}