/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}#top{width: 100%; height:500px;}

/*Page Styles*/
body{font-family: arial; background:white; font-family: 'Lato', sans-serif; -webkit-font-smoothing:antialiased;}
body.modal-open{margin-right:0px;}

/*Navigation Styles*/
.dropdown{cursor:pointer;}
.navbar-brand .badge{font-size:12px; position:relative; top:-2px;}
@media screen and (max-width:768px){
    nav.navbar{position:fixed; top:0px; width:100%;}
    #mainSection, #loadingScreen{margin-top:82px;}
}
/*Nav Pills*/
@media screen and (max-width:768px){
.nav-pills{font-size:12px;}
}


/*Random Fixes*/
#registerForm #orgType input{margin-right:5px;}
#addmemberForm button{float:right; margin-right:15px;}
#correctPerson{text-align:center; margin-bottom:15px;}
#logoutbutton{margin:7px;}
input.form-control{height:34px !important;}
.tab-pane{padding-top:10px;}

@media screen and (max-width:768px){#memberAccount #addresses{padding:0px;}}
@media screen and (min-width:768px){
#memberAccount #addresses .col-sm-6:nth-child(1){position:relative; left:-10px;}
#memberAccount #addresses .col-sm-6:nth-child(2){position:relative; left:15px;}
}
h1{font-size:36px; font-weight:bold;}
/*.addTags input{visibility:hidden; height:0px; width:0px;}*/

/*Main App ui-view*/
#mainSection{position:relative;}

/*Directory Page*/
#directory .member{position:relative; padding:10px; border-top:1px solid #777;}
#directory .member:last-child{border-bottom:1px solid #777;}
#directory .member:hover{background:#EDEDED; cursor:pointer;}
/*makes room for the picture*/ .directoryContent{margin-left:60px;}
#directory .memberName{font-size:18px;}
.directoryTags{font-size:12px; font-style: italic;}
.directoryStatus{width:100%; margin-top:4px; display:block; font-size:12px;}
.directoryStatus:before{content:'"';}
.directoryStatus:after{content:'"';}
#directory h2{text-transform:uppercase; font-weight:bold; text-indent:10px; margin-bottom:4px;}

/*Member Profile Page*/
#profileContent{border:1px solid #777; position:relative; padding:20px; border-radius: 15px;}
#profileContent .row{margin:0px; padding:0px;}


/*Member Tagging Page*/
.label{display:inline-block; position:relative; padding:.4em .4em .4em 1.5em;}
.checkLabel, .memberTags .badge{cursor:pointer;}
.memberTags .badge:hover{background:#d9534f;}
.memberTags .btn-group, .messagingTags .btn-group{margin:2px;}
.checkLabel li{display:inline;}
.checkLabel input{display:none;}
.checkLabel .checkStatus{position:absolute; left:5px; top:5px;}
.checkLabel:hover{background:#ccc;}

#addTags{margin:10px 0 0 0; padding:0px;}

.memberTags .btn-group{-webkit-user-select:none;}
.memberTags .badge{position: absolute; right: 0px; top: 0px; border-left:1px solid #ccc; padding: .3em .4em .5em .4em;
border-radius:.25em; border-bottom-left-radius: 0; border-top-left-radius: 0;}


#memberTags .label{padding:.4em 2em .4em .6em;}
#memberTags .badge{padding: .4em .4em .4em .3em;}

.addTags .label{padding:.4em 2em .4em 1.5em;}
.addTags .open .dropdown-toggle{background:#ccc;}
.dropdown-menu>li>a{cursor: pointer;}

#addTag button, #addTag input{display:inline-block;}

/*Messaging Page*/
textarea.form-control{height:auto; max-width:100%;}


/*App Home Page*/
#statusContainer h2{font-size:14px; font-weight:bold;}
.currentStatus{font-style:italic;}
.currentStatus:before, .currentStatus:after{content:'"';}

.notification{cursor:pointer; position:relative;}
.notification.new{background:lightgray;}
.notification:hover{background:#EDEDED;}
.notification{border-top:1px solid #777;}
.notification:last-child{border-bottom:1px solid #777;}
.notificationContent{padding:10px;}
.notificationContent .close{font-size:12px; position:relative; z-index:100;}
.notificationTitle{font-weight:bold; font-size:18px; position:relative; top:-15px;}
.notificationTitle, .notificationType, .notificationSender{width:100%; display:inline-block;}
.notificationType:before, .notificationType:after{content:'"';}
.notificationSender{font-size:12px; font-style:italic; text-align:right;}

#notificationModal .modal-title{font-weight:bold; font-size:18px;}
#notificationModal .notificationSender{font-size:14px; position:absolute; bottom:0px; right:15px;}

/*Loading Screen*/
#loadingScreen{width:100%; text-align:center;}
#loadingScreen .fa-spin{margin-top:40px; font-size:80px;}

/*Helper Classes*/
.smallprofilepic{
    display: inline-block;
    position:absolute;
    width: 40px;
    height: 40px;
    top:50%;
    margin:-20px 0 0 0px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
}
.profilepic{
    display: block;
    width: 150px;
    height: 150px;
    margin: 0em auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border: 3px solid #222;
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);  
}

/*ng-animation code*/
.ng-enter,.ng-leave{position:absolute !important; left:0px; right:0px;}

.fadingIn.ng-enter {
-webkit-animation: fadeIn .5s;
-moz-animation: fadeIn .5s;
-ms-animation: fadeIn .5s;
 animation: fadeIn .5s;
}

.fadingOut.ng-leave {
-webkit-animation: fadeOut .5s;
-moz-animation: fadeOut .5s;
-ms-animation: fadeOut .5s;
 animation: fadeOut .5s;
}

.fadingInLeftBig.ng-enter{
-webkit-animation: fadeInLeftBig .5s;
-moz-animation: fadeInLeftBig .5s;
-ms-animation: fadeInLeftBig .5s;
 animation: fadeInLeftBig .5s;
}
.fadingOutRightBig.ng-leave{
-webkit-animation: fadeOutRightBig .5s;
-moz-animation: fadeOutRightBig .5s;
-ms-animation: fadeOutRightBig .5s;
 animation: fadeOutRightBig .5;
}