<md-bottom-sheet id="bottomSheet" class="md-grid" onclick="removeTouch()"> <md-list> <md-item ng-repeat="item in items"> <md-button ng-show="download" class="md-grid-item-content" aria-label="{{item.name}}" download="{{download}}" ng-href="{{item.link}}" target="_blank" ng-click="itemClick(item)"> <div class="md-icon-container" style="pointer-events: none"> <i class="fa {{item.icon}} fa-fw fa-2x"></i> </div> <p class="md-grid-text"> {{ item.name }} </p> </md-button> <md-button ng-hide="download" class="md-grid-item-content" aria-label="{{item.name}}" ng-href="{{item.link}}" target="_blank" ng-click="itemClick(item)"> <div class="md-icon-container" style="pointer-events: none"> <i class="fa {{item.icon}} fa-fw fa-2x"></i> </div> <p class="md-grid-text"> {{ item.name }} </p> </md-button> </md-item> </md-list> </md-bottom-sheet> <!-- <md-bottom-sheet class="md-grid">
  <md-list>
    <md-item ng-repeat="item in items">
      <md-button class="md-grid-item-content" aria-label="{{item.name}}" ng-click="listItemClick($index)">
        <div class="md-icon-container">
          <md-inline-grid-icon icon="{{item.icon}}"></md-inline-grid-icon>
        </div>
        <p class="md-grid-text"> {{ item.name }} </p>
      </md-button>
    </md-item>
  </md-list>
</md-bottom-sheet> -->