<md-dialog> <form id="helpMessage" name="helpMessage" ng-submit="sendHelpMessage(helpMessage.$valid, message)" ng-init="message={subject:'', content:''};" novalidate> <md-content> <md-subheader class="md-primary md-sticky-no-effect"> Send us a message and we'll get right back to you. </md-subheader> <md-divider></md-divider> <!--
            <div class="form-group">
                <label for="password" class="col-sm-12 control-label">Subject</label>
                <div class="col-sm-12">
                  <input type="text" class="form-control" id="subject" name="subject" ng-model="message.subject" placeholder="Subject" required>
                </div>
                <md-text-float label="Title" ng-model="message.subject"></md-text-float>
            </div><br><br><br>
--> <div class="form-group"> <!--                <label for="content" class="col-sm-12 control-label">Message</label>--> <div class="col-sm-12"> <textarea id="content" ng-model="message.message" name="content" class="form-control" placeholder="Enter your message here..." required></textarea> </div> </div> </md-content> <div class="md-actions" layout="row"> <span flex></span> <md-button type="submit" ng-disabled="helpMessage.$invalid"> Send </md-button> <md-button ng-click="hideDialog()" class="md-primary"> Cancel </md-button> </div> </form> </md-dialog>