<md-dialog md-theme="{{$root.color}}" style="min-width:80%;">
  <md-content>
       <md-subheader>
            {{message.title}}
            <p>{{formatTimestamp(message.timestamp)}}</p>
        </md-subheader>
            <md-divider></md-divider>
        <p ng-bind-html="messageHTML"></p>
        <span class="sentBy pull-right name">sent by: {{message.sender_name}}</span>
  </md-content>
  
  <div class="md-actions" layout="row">
        <md-button href="mailto:{{selectedNotificationUser.email}}" target="_blank" ng-show="selectedNotificationUser && selectedNotification.type == 'message'" aria-label="send email"><i class="fa fa-envelope-o"></i></md-button>
        <md-button href="sms:{{selectedNotificationUser.phone}}" target="_blank" ng-show="selectedNotificationUser && selectedNotification.type == 'message'" aria-label="send sms"><i class="fa fa-phone"></i></md-button>
            <span flex></span>
        <md-button type="button" ng-show="selectedNotification.type == 'event'" ng-click="closeNotificationModal()" ng-href="{{selectedNotification.link}}">Go To Event</md-button>
        <md-button type="button" ng-show="selectedNotification.type == 'poll'" ng-click="closeNotificationModal()" ng-href="{{selectedNotification.link}}">Go To Poll</md-button>
        <md-button ng-click="unarchive()">unarchive</md-button>
        <md-button ng-click="closeNotificationModal()" class="md-primary">done</md-button>
  </div>
</md-dialog>