<?xml version='1.0' encoding='utf-8'?>
<widget id="com.netegreek.app" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>NeteGreek</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    
    <content src="index.html" />
    <access origin="*" />
    <access origin="tel:*" launch-external="yes"/>
	<access origin="sms:*" launch-external="yes"/>
	<access origin="mailto:*" launch-external="yes"/>
	<access origin="file:*" launch-external="yes"/>
	<access origin="data:text/vcard*" launch-external="yes"/>
	<access origin="data:text/calendar*" launch-external="yes"/>

</widget>
