<md-dialog md-theme="{{$root.color}}">
       <md-toolbar>
            <div class="md-toolbar-tools">
            <h1>Rename link group "{{selectedGroup.name}}"</h1>
            </div>
        </md-toolbar>
        <md-divider></md-divider>
        
    <md-content class="md-padding no-padding-top">

        <md-input-container>
            <label for="rename_group">New Group Name</label>
            <input type="text" name="rename_group" ng-model="new_group" required>
        </md-input-container>

    </md-content>
  
  <div class="md-actions" layout="row">
        <md-button ng-click="renameGroup(selectedGroup, new_group)">rename</md-button>
        <md-button ng-click="closeDialog()">cancel</md-button>
  </div>
</md-dialog>