<md-dialog md-theme="{{$root.color}}">
  <md-content>
       <md-subheader>
            Rename group "{{selectedGroup}}"
        </md-subheader>
        <md-divider></md-divider>
        <div class="form-group">
          <label for="newGroup" class="col-sm-2 control-label">Name</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="newGroup" name="newGroup" ng-model="new_group" required>
          </div>
        </div>
  </md-content>
  
  <div class="md-actions" layout="row">
        <md-button ng-click="closeDialog()">cancel</md-button>
        <md-button ng-click="renameGroup(selectedGroup, new_group)">rename</md-button>
  </div>
</md-dialog>