<md-button class="md-fab md-warn fixed md-fab-bottom-right" ng-click="openNewLinkDialog()" ng-show="$root.checkPermissions('leadership')"><i class="fa fa-plus"></i>
<md-tooltip md-direction="left">
    Add Link
</md-tooltip>
</md-button>

<div id="links" class="container" load-directive ng-model="loading_finished">
    <div class="md-whiteframe-z1">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h1>Links</h1>
            </div>
        </md-toolbar>
        <md-content class="md-padding">
            <md-list>
                <md-list-item layout="column" ng-repeat="group in linkGroups">
                    <md-toolbar class="groupTitle">
                        <div class="md-toolbar-tools">
                            <h1>{{group.name}}</h1>
                            <span flex></span>
                            <div class="groupButtons" ng-show="$root.checkPermissions('leadership')">
                                <md-button class="btn-touch" ng-click="openEditGroupDialog(group)" aria-label="edit group"><i class="fa fa-edit fa-fw"></i></md-button>
                                <md-button class="btn-touch" ng-click="group.confirmDelete = !group.confirmDelete" aria-label="delete group"><i class="fa fa-trash-o fa-fw"></i></md-button>
                            </div>
                        </div>
                    </md-toolbar>
                    <md-toolbar ng-show="group.confirmDelete" class="md-warn slideDown">
                        <div class="md-toolbar-tools">
                            <span flex></span>
                            <md-button ng-click="deleteGroup(group)">Delete</md-button>
                            <md-button ng-click="group.confirmDelete = !group.confirmDelete">Cancel</md-button>
                        </div>
                    </md-toolbar>
                    <md-content class="linkgroup">
                        <p class="md-padding" ng-show="!group.links.length">This link group is empty.</p>
                        <md-list class="itemList">
                           <div class="listItem" ng-repeat="link in group.links">
                            <md-list-item md-no-ink class="link" ng-click="doNothing()" >
                                <a target="_blank" ng-href="http://{{link.link}}" flex>{{link.title}}</a>
                                <div class="pull-right" ng-show="$root.checkPermissions('leadership')">
                                <md-button class="btn-touch" ng-click="openEditLinkDialog(link, group)"><i class="fa fa-edit fa-fw"></i></md-button>
                                <md-button class="btn-touch" ng-click="link.confirmDelete = !link.confirmDelete"><i class="fa fa-trash-o fa-fw"></i></md-button>
                                </div>
                            </md-list-item>
                            <md-toolbar ng-show="link.confirmDelete" class="md-warn slideDown">
                                <div class="md-toolbar-tools">
                                    <span flex></span>
                                    <md-button ng-click="deleteLink(link, group)">Delete</md-button>
                                    <md-button ng-click="link.confirmDelete = !link.confirmDelete">Cancel</md-button>
                                </div>
                            </md-toolbar>
                            </div>
                        </md-list>
                    </md-content>
                </md-list-item>
            </md-list>
        </md-content>
    </div>
</div>

<!--
<div id="links" class="container" load-directive ng-model="loading_finished">
    <div class="md-whiteframe-z1">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h1>Links</h1>
                <div flex></div>
            </div>
        </md-toolbar>
        <md-content class="md-padding">
            <md-list>
            <p ng-show="group.length == 0">There are no links yet.</p>
                <md-list-item class="link-group" ng-repeat="group in groups track by group">
                    <md-content>
                        <md-toolbar>
                            <div class="md-toolbar-tools">
                                <h1 flex>{{group}}</h1>
                                <div class="linkButtons" ng-show="$root.checkPermissions('leadership')">
                                    <md-button class="btn-touch" ng-click="openRenameGroupModal(group)"><i class="fa fa-edit fa-fw"></i></md-button>
                                    <md-button class="btn-touch" ng-click="openDeleteGroupModal(group)"><i class="fa fa-trash-o fa-fw"></i></md-button>
                                </div>
                            </div>
                        </md-toolbar>
                        <md-list class="itemList">
                            <md-list-item ng-href="http://{{link.link}}" ng-repeat="link in links | linkGroup:group" ng-show="link.group == group">
                                <div layout="row" layout-align="space-between center" layout-margin>
                                    <a target="_blank" ng-href="http://{{link.link}}" flex>{{link.title}}</a>
                                    <div ng-show="$root.checkPermissions('leadership')">
                                        <md-button class="btn-touch" ng-click="openEditLinkDialog(link)"><i class="fa fa-edit fa-fw"></i></md-button>
                                        <md-button class="btn-touch" ng-click="openDeleteLinkDialog(link)"><i class="fa fa-trash-o fa-fw"></i></md-button>
                                    </div>
                                </div>
                            </md-list-item>
                        </md-list>
                    </md-content>
                </md-list-item>
            </md-list>
        </md-content>
    </div>
</div>-->
