<md-content id="appHome" class="container" ng-init="hidden = {maxPageNumber: 5, currentPage: 0}; current = {maxPageNumber: 5, currentPage: 0};">
<!--
<md-card class="hidden-xs">
       <img ng-src="{{$root.organization.image || 'images/defaultorgimage.png'}}">
</md-card>
-->
    
<div id="notifications" class="md-whiteframe-z1">
    
    <md-toolbar>
<!--
        <div id="arrows">
        <div ng-show="data.selectedIndex == 0">
            <div class="messageCount">{{$root.notifications.length == 0? 0:(current.currentPage * current.maxPageNumber) + 1}} - {{(current.currentPage *current.maxPageNumber)+5 >= ($root.notification_lengths.unread + $root.notification_lengths.read) ? ($root.notification_lengths.unread + $root.notification_lengths.read):(current.currentPage *current.maxPageNumber)+5}}<span ng-hide="$root.notifications.length <= 5"> of {{$root.notification_lengths.unread + $root.notification_lengths.read}}</div>
            <div id="messageArrows">
                <md-button class="left btn-touch" ng-disabled="current.currentPage == 0" ng-click="current.currentPage=current.currentPage-1"><i class="fa fa-chevron-left fa-fw"></i></md-button>
                <md-button class="left btn-touch" ng-hide="current.currentPage >= $root.notifications.length/current.maxPageNumber - 1" ng-disabled="current.currentPage >= $root.notifications.length/current.maxPageNumber - 1" ng-click="current.currentPage=current.currentPage+1"><i class="fa fa-chevron-right fa-fw"></i></md-button>
                <md-button class="left btn-touch" ng-show="current.currentPage >= $root.notifications.length/current.maxPageNumber - 1" ng-disabled="noMoreNotifications || current_working || $root.notification_lengths.unread + $root.notification_lengths.read <= $root.notifications.length" ng-click="checkForMoreNotifications(current.currentPage, current.maxPageNumber)"><span ng-show="current_working"><i class="fa fa-spinner fa-spin"></i></i></span><span ng-hide="current_working"><i class="fa fa-chevron-right fa-fw"></i></span></md-button>
            </div>
        </div>
        <div ng-show="data.selectedIndex == 1">
            <div class="messageCount">{{(hidden.currentPage * hidden.maxPageNumber) + 1}} - {{(hidden.currentPage *hidden.maxPageNumber)+5 >= $root.notification_lengths.hidden? $root.notification_lengths.hidden: (hidden.maxPageNumber * hidden.currentPage)+5}}<span ng-hide="$root.hidden_notifications.length <= 5"> of {{$root.notification_lengths.hidden}}</div>
            <div id="archivedArrows">
                <md-button class="right btn-touch" ng-disabled="hidden.currentPage == 0" ng-click="hidden.currentPage=hidden.currentPage-1"><i class="fa fa-chevron-left fa-fw"></i></md-button>
                <md-button class="right btn-touch" ng-hide="hidden.currentPage >= $root.hidden_notifications.length/hidden.maxPageNumber - 1" ng-click="hidden.currentPage=hidden.currentPage+1"><i class="fa fa-chevron-right fa-fw"></i></md-button>
                <md-button class="right btn-touch" ng-show="hidden.currentPage >= $root.hidden_notifications.length/hidden.maxPageNumber - 1" ng-disabled="noMoreHiddens || hidden_working  || $root.notification_lengths.hidden == $root.hidden_notifications.length" ng-click="checkForMoreHiddenNotifications(hidden.currentPage, hidden.maxPageNumber)"><span ng-show="hidden_working"><i class="fa fa-spinner fa-spin"></i></i></span><span ng-hide="hidden_working"><i class="fa fa-chevron-right fa-fw"></i></span></md-button>
            </div>
        </div>
        </div>
        <div flex></div>
-->
        <md-tabs md-selected="data.selectedIndex">
          <md-tab id="inboxTab" aria-controls="inboxTab-content">
            Inbox
          </md-tab>
          <md-tab id="archivedTab" aria-controls="archivedTab-content">
            Archived
          </md-tab>
        </md-tabs>  
    
    
    </md-toolbar>
    
    <ng-switch on="data.selectedIndex" class="tabpanel-container">
        <div role="tabpanel" id="inboxTab-content" aria-labelledby="inboxTab" ng-switch-when="0" md-swipe-left="next()" md-swipe-right="previous()">
            <md-list>
              <md-item class="message" ng-class="{new: notify.new, removeNotification: notify.garbage}" ng-click="openMessagedialog(notify)" ng-repeat="notify in ($root.notifications | orderBy:'-timestamp' | startFrom:current.currentPage*current.maxPageNumber | limitTo: current.maxPageNumber) track by notify.key">
                <div class="isNew"></div>
                <md-item-content>
                  <div class="md-tile-content">
                    <h3 class="md-primary title">
                        {{notify.title}}
                    </h3>
                    <md-button class="archive pull-right btn-touch" type="button" ng-click="hideNotification(notify, this);$event.stopPropagation();"><i class="fa fa-folder-open-o fa-fw"></i></md-button>
                        <p class="notificationText">{{notify.content | htmlToPlaintext}}</p>
                        <p class="sentBy" ng-show="notify.sender_name">sent by: {{notify.sender_name}}</p>
                  </div>
                </md-item-content>
              </md-item>
            </md-list>
        </div>
        <div role="tabpanel" id="archivedTab-content" aria-labelledby="archivedTab" ng-switch-when="1" md-swipe-left="next()" md-swipe-right="previous()">
            <md-list>
              <md-item class="message" ng-class="{new: notify.new, removeNotification: notify.garbage}" ng-click="openNotificationModal(notify)"  ng-repeat="notify in ($root.hidden_notifications | orderBy:'-timestamp' | startFrom:hidden.currentPage*hidden.maxPageNumber | limitTo: hidden.maxPageNumber) track by notify.key">
                <md-item-content>
                  <div class="md-tile-content">
                    <h3 class="md-primary title">
                        {{notify.title}}
                    </h3>
                    <md-button class="archive pull-right btn-touch" type="button" ng-click="unhideNotification(notify, this);$event.stopPropagation();"><i class="fa fa-inbox fa-fw"></i></md-button>
                            <p class="notificationText">{{notify.content | htmlToPlaintext}}</p>
                        <p class="sentBy" ng-show="notify.sender_name">sent by: {{notify.sender_name}}</p>
                  </div>
                </md-item-content>
              </md-item>
            </md-list>
        </div>
    </ng-switch>
    
</div>
    
<!--
         <ul>
            <li class="notification" ng-class="{new: notify.new, collapseOut: notify.garbage}" ng-click="openNotificationModal(notify)" ng-repeat="notify in ($root.notifications | orderBy:'-timestamp' | startFrom:current.currentPage*current.maxPageNumber | limitTo: current.maxPageNumber) track by notify.key">
                <div class="notificationContent">
                <button type="button" class="close" ng-click="hideNotification(notify, this);$event.stopPropagation();"><i class="fa fa-folder-open-o"></i></button>
                <div class="notificationTitle"><div class="unread">|</div>{{notify.title}}</div>
                    <span class="notificationText">{{notify.content | htmlToPlaintext}}</span>
                <span class="notificationSender" ng-show="notify.sender_name">sent by: {{notify.sender_name}}</span>
                </div>
            </li>
        </ul>
-->

        
<!--
         <ul>
            <li class="notification" ng-class="" ng-click="openNotificationModal(notify)" ng-repeat="notify in ($root.hidden_notifications | orderBy:'-timestamp' | startFrom:hidden.currentPage*hidden.maxPageNumber | limitTo: hidden.maxPageNumber) track by notify.key">
                <div class="notificationContent">
                <button type="button" class="close" ng-click="unhideNotification(notify, this);$event.stopPropagation();"><i class="fa fa-inbox"></i></button>
                <span class="notificationTitle">{{notify.title}}</span>
                    <span class="notificationText">{{notify.content | htmlToPlaintext}}</span>
                <span class="notificationSender" ng-show="notify.sender_name">sent by: {{notify.sender_name}}</span>
                </div>
            </li>
        </ul>
-->
<!--
    <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-5 col-lg-4">
   
    <section id="statusContainer">
    
    
    <div id="orgLetters" class="hidden-xs">
       <section>
           <img class="orgLetters" ng-src="{{$root.organization.image || 'images/defaultorgimage.png'}}">
       </section>
    </div>

    
    <div id="changeStatus" class="card">
            
        <div class="smallprofilepic" style="background-image:url({{$root.me.prof_pic || $root.defaultProfilePicture}});" ></div>
        
        <i class="fa fa-comment-o bgIcon"></i> <span class="noStatus" ng-hide="$root.me.status.length">Update Your Status</span>
        <button id="clearStatus" ng-show="$root.me.status.length" type="button" class="close" ng-click="clearStatus()" bs-tooltip="clearStatusTip" data-placement="left"><i class="fa fa-times"></i></button>
        <span class="currentStatus preText" ng-show="$root.me.status.length">"{{$root.me.status}}"</span>
        
        <form name="statusUpdate" id="statusUpdate" ng-submit="updateStatus(status)">
                <div class="input-group">
                  <input id="status" name="status" type="text" placeholder="update your status here" class="form-control" ng-model="status"  maxlength="140">
                  <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit"><i class="fa fa-check"></i></button>
                  </span>
                </div>
                <span id="count" ng-show="status.length">{{status.length}}/140</span>
        </form>
    </div>
    <load-directive ng-model="events_loaded">
    <div id="upcomingEvents" ng-show="eventsList.length">   
        <section>
                <a class="card" ng-repeat="event in eventsList =  (events | removePassedEvents:true | orderBy: 'time_start' | limitTo: 3)" ng-href="#/app/events/{{event.tag}}">
                    <div class="icon"><i class="fa fa-calendar"></i> | </div><span>{{event.title}}</span><span> {{showDate(event.time_start, event.time_end)}}</span>
                </a>
        </section>
    </div>  
    </load-directive>
    </section>
    
    </div>
    
    <div class="col-xs-12 col-sm-6 col-md-7 col-lg-8">
    <load-directive ng-model="$root.notifications">
    <section id="notifications">

       <h1 class="card-header darkbg">{{$root.notification_lengths.unread}} of {{$root.notification_lengths.read + $root.notification_lengths.unread}} Unread</h1>
       
        <ul>
            <li class="notification" ng-class="{new: notify.new, collapseOut: notify.garbage}" ng-click="openNotificationModal(notify)" ng-repeat="notify in ($root.notifications | orderBy:'-timestamp' | startFrom:current.currentPage*current.maxPageNumber | limitTo: current.maxPageNumber) track by notify.key">
                <div class="notificationContent">
                <button type="button" class="close" ng-click="hideNotification(notify, this);$event.stopPropagation();"><i class="fa fa-folder-open-o"></i></button>
                <div class="notificationTitle"><div class="unread">|</div>{{notify.title}}</div>
                    <span class="notificationText">{{notify.content | htmlToPlaintext}}</span>
                <span class="notificationSender" ng-show="notify.sender_name">sent by: {{notify.sender_name}}</span>
                </div>
            </li>
        </ul>
        
        <div class="pagerButtons" ng-hide="$root.notifications.length <= 0">
                    <button class="previous btn btn-default btn-sm" ng-disabled="current.currentPage == 0" ng-click="current.currentPage=current.currentPage-1"><i class="fa fa-arrow-left"></i></button>
                    <button class="next btn btn-default btn-sm" ng-hide="current.currentPage >= $root.notifications.length/current.maxPageNumber - 1" ng-disabled="current.currentPage >= $root.notifications.length/current.maxPageNumber - 1" ng-click="current.currentPage=current.currentPage+1"><i class="fa fa-arrow-right"></i></button>
                    <button class="next btn btn-default btn-sm" ng-show="current.currentPage >= $root.notifications.length/current.maxPageNumber - 1" ng-disabled="noMoreNotifications || current_working || $root.notification_lengths.unread + $root.notification_lengths.read <= $root.notifications.length" ng-click="checkForMoreNotifications(current.currentPage, current.maxPageNumber)"><span ng-show="current_working"><i class="fa fa-spinner fa-spin"></i></i></span><span ng-hide="current_working"><i class="fa fa-arrow-right"></i></span></button>
                    <span class="text-center notificationCount darkbg">{{$root.notifications.length == 0? 0:(current.currentPage * current.maxPageNumber) + 1}} - {{(current.currentPage *current.maxPageNumber)+5 >= ($root.notification_lengths.unread + $root.notification_lengths.read) ? ($root.notification_lengths.unread + $root.notification_lengths.read):(current.currentPage *current.maxPageNumber)+5}}<span ng-hide="$root.notifications.length <= 5"> of {{$root.notification_lengths.unread + $root.notification_lengths.read}}</span></span>
        </div>
        <button id="showHiddenButton" class="btn btn-block" data-toggle="collapse" ng-click="shown = !shown" ng-show="$root.hidden_notifications.length" data-target="#showHidden" ng-init="shown = false"><span ng-show="shown">Hide Archived</span><span ng-hide="shown">Show Archived</span></button>
    <section id="showHidden" class="collapse">       
       
        <ul>
            <li class="notification" ng-class="" ng-click="openNotificationModal(notify)" ng-repeat="notify in ($root.hidden_notifications | orderBy:'-timestamp' | startFrom:hidden.currentPage*hidden.maxPageNumber | limitTo: hidden.maxPageNumber) track by notify.key">
                <div class="notificationContent">
                <button type="button" class="close" ng-click="unhideNotification(notify, this);$event.stopPropagation();"><i class="fa fa-inbox"></i></button>
                <span class="notificationTitle">{{notify.title}}</span>
                    <span class="notificationText">{{notify.content | htmlToPlaintext}}</span>
                <span class="notificationSender" ng-show="notify.sender_name">sent by: {{notify.sender_name}}</span>
                </div>
            </li>
        </ul>
        
            <div class="pagerButtons" ng-hide="$root.hidden_notifications.length <= 0">

            <button class="previous btn btn-default btn-sm" ng-disabled="hidden.currentPage == 0" ng-click="hidden.currentPage=hidden.currentPage-1"><i class="fa fa-arrow-left"></i></button>
            <button class="next btn btn-default btn-sm" ng-hide="hidden.currentPage >= $root.hidden_notifications.length/hidden.maxPageNumber - 1" ng-click="hidden.currentPage=hidden.currentPage+1"><i class="fa fa-arrow-right"></i></button>
            
            <button class="next btn btn-default btn-sm" ng-show="hidden.currentPage >= $root.hidden_notifications.length/hidden.maxPageNumber - 1" ng-disabled="noMoreHiddens || hidden_working  || $root.notification_lengths.hidden == $root.hidden_notifications.length" ng-click="checkForMoreHiddenNotifications(hidden.currentPage, hidden.maxPageNumber)"><span ng-show="hidden_working"><i class="fa fa-spinner fa-spin"></i></i></span><span ng-hide="hidden_working"><i class="fa fa-arrow-right"></i></span></button>
            <span class="text-center notificationCount darkbg">{{(hidden.currentPage * hidden.maxPageNumber) + 1}} - {{(hidden.currentPage *hidden.maxPageNumber)+5 >= $root.notification_lengths.hidden? $root.notification_lengths.hidden: (hidden.maxPageNumber * hidden.currentPage)+5}}<span ng-hide="$root.hidden_notifications.length <= 5"> of {{$root.notification_lengths.hidden}}</span></span>

            </div>
            
    </section>
        
    </section>
</load-directive>
    </div>
    </div>
-->

</md-content>

<div class="modal fade" id="notificationModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title preText">{{selectedNotification.title}}</h4>
        <p class="">{{formatTimestamp(selectedNotification.timestamp)}}</p>
      </div>
      <div class="modal-body">
        <p ng-bind-html="messageHTML"></p>
        <br>
        <span class="notificationSender">sent by: {{selectedNotification.sender_name}}</span>
      </div>
      <div class="modal-footer">
        <a href="mailto:{{selectedNotificationUser.email}}" target="_blank" ng-show="selectedNotificationUser && selectedNotification.type == 'message'" class="btn btn-info pull-left"><i class="fa fa-envelope-o"></i></a>
        <a href="sms:{{selectedNotificationUser.phone}}" target="_blank" ng-show="selectedNotificationUser && selectedNotification.type == 'message'" class="btn btn-info pull-left"><i class="fa fa-phone"></i></a>
        <a type="button" class="btn btn-info" ng-show="selectedNotification.type == 'event'" ng-click="closeNotificationModal()" ng-href="{{selectedNotification.link}}">Go To Event</a>
        <a type="button" class="btn btn-info" ng-show="selectedNotification.type == 'poll'" ng-click="closeNotificationModal()" ng-href="{{selectedNotification.link}}">Go To Poll</a>
        <button type="button" class="btn btn-primary" ng-click="closeNotificationModal()">OK</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->