<div id="links">

<div class="container">
<h1 class="darkbg">Links<button id="newLinkButton" ng-click="openNewLinkModal()" ng-show="$root.checkPermissions('leadership')" class="btn btn-default pull-right">New Link <i class="fa fa-plus-circle"></i></button>
</h1>
	<ul>
		<li ng-repeat="group in groups track by group" class="card">
			<h2 class="page-header">{{group}}
                <div class="pull-right">
                    <button ng-click="openRenameGroupModal(group)" ng-show="$root.checkPermissions(leadership)"><i class="fa fa-edit"></i></button>
                    <button ng-click="openDeleteGroupModal(group)" ng-show="$root.checkPermissions(leadership)"><i class="fa fa-trash-o"></i></button>
                </div>
            </h2>
            <ul class="striped">
				<li ng-repeat="link in links | linkGroup:group" ng-show="link.group == group">
	           		<div class="row">
		                <div class="col-xs-12 col-sm-6">
                        <a target="_blank" ng-href="http://{{link.link}}"><h3>{{link.title}}</h3></a>
		                </div>
		                <div class="col-xs-12 col-sm-6">
		                    <div class="pull-right" ng-show="$root.checkPermissions(leadership)">
		                        <button ng-click="openEditLinkModal(link)"><i class="fa fa-edit"></i></button>
		                        <button ng-click="openDeleteLinkModal(link)"><i class="fa fa-trash-o"></i></button>
		                    </div>
		                </div>
	            	</div>     
        		</li>
			</ul>
		</li>
	</ul>
	
</div>


<div class="modal fade" id="createGroupModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body">
              <input type="text" ng-model="newGroupName">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger" ng-click="createGroup(newGroupName)">Create<update-status ng-model="checkCreateGroup"></update-status></button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="deleteGroupModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        Delete group: {{selectedGroup}}?
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body">
              <p>This will also delete all links within this group.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger" ng-click="deleteGroup(selectedGroup)">Delete<update-status ng-model="checkDeleteGroup"></update-status></button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="renameGroupModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
       Rename Group: {{selectedGroup}}
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body">
              <input class="form-control" type="text" ng-model="newGroupName">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger" ng-click="renameGroup(selectedGroup, newGroupName)">Rename<update-status ng-model="checkRenameGroup"></update-status></button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div class="modal fade" id="newLinkModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">New Link</h4>
      </div>
      <form id="newLinkForm" name="newLinkForm" class="form-horizontal" ng-submit="createLink(temp_link.title, temp_link.link, temp_link.group == 'new_group_listing' ? temp_link.new_group : temp_link.group)" novalidate>
      <div class="modal-body">
	    <div class="form-group">
	        <label for="newTitle" class="col-sm-2 control-label">Title</label>
	        <div class="col-sm-10">
	          <input type="text" class="form-control" id="newTitle" name="newTitle" ng-model="temp_link.title" required>
	        </div>
	    </div>
	    <div class="form-group">
          <label for="newLink" class="col-sm-2 control-label">Link</label>
          <div class="col-sm-10">
          <div class="input-group">
            <span class="input-group-addon">http://</span>
            <input type="text" class="form-control" id="newLink" name="newLink" ng-model="temp_link.link" remove-http required>
            </div>
          </div>
      </div>
	    <div class="form-group">
	        <label for="newGroup" class="col-sm-2 control-label">Group</label>
	        <div class="col-sm-10">
	        <select class="form-control" id="newGroup" name="newGroup" ng-model="temp_link.group" required>
	        	<option ng-repeat="group in groups">{{group}}</option>
	        	<option value="new_group_listing">Add New Group</option>
	        </select>
	    	</div>
    	</div>

	    <div class="form-group" ng-show="temp_link.group == 'new_group_listing'">
	        <label for="newTitle" class="col-sm-2 control-label">New Group</label>
	        <div class="col-sm-10">
	          <input type="text" class="form-control" id="newGroupValue" name="newGroupValue" ng-model="temp_link.new_group" ng-required="temp_link.group === 'new_group_listing'">
	        </div>
	    </div>
      
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="submit" ng-disabled="!newLinkForm.$valid" class="btn btn-primary">Save<update-status ng-model="checkCreateLink"></update-status></button>
      </div>
      </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div class="modal fade" id="deleteLinkModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
       Delete Link
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body">
              <p>Are you sure you want to delete the link: {{selectedLink.title}}?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger" ng-click="deleteLink(selectedLink)">Delete<update-status ng-model="checkDeleteLink"></update-status></button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->



<div class="modal fade" id="editLinkModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Edit Link</h4>
      </div>
      <form id="editLinkForm" name="editLinkForm" class="form-horizontal" ng-submit="editLink(temp_link.title, temp_link.link, temp_link.group == 'new_group_listing' ? temp_link.new_group : temp_link.group, selectedLink)" novalidate>
      <div class="modal-body">
      <div class="form-group">
          <label for="newTitle" class="col-sm-2 control-label">Title</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="newTitle" name="newTitle" ng-model="temp_link.title" required>
          </div>
      </div>
      <div class="form-group">
          <label for="newLink" class="col-sm-2 control-label">Link</label>
          <div class="col-sm-10">
          <div class="input-group">
            <span class="input-group-addon">http://</span>
            <input type="text" class="form-control" id="newLink" name="newLink" ng-model="temp_link.link" remove-http required>
            </div>
          </div>
      </div>

      <div class="form-group">
          <label for="newGroup" class="col-sm-2 control-label">Group</label>
          <div class="col-sm-10">
          <select class="form-control" id="newGroup" name="newGroup" ng-model="temp_link.group" required>
            <option ng-repeat="group in groups">{{group}}</option>
            <option value="new_group_listing">Add New Group</option>
          </select>
        </div>
      </div>

      <div class="form-group" ng-show="temp_link.group == 'new_group_listing'">
          <label for="newGroup" class="col-sm-2 control-label">New Group</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="newGroupValue" name="newGroupValue" ng-model="temp.new_group" ng-required="temp_link.group === 'new_group_listing'">
          </div>
      </div>
      
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="submit" ng-disabled="!editLinkForm.$valid" class="btn btn-primary">Save<update-status ng-model="checkEditLink"></update-status></button>
      </div>
      </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


</div>