<!--<div ng-show="!$root.polls" id="loadingScreen"><i class="fa fa-spinner fa-spin"></i></div>-->

<div id="polls" class="container" ng-init="hidden = {maxPageNumber: 5, currentPage: 0};">
<h1 class="darkbg">Polls <a id="newPollButton" ng-href="#/app/newpoll" ng-show="$root.checkPermissions('leadership')" class="btn btn-default pull-right">New Poll <i class="fa fa-plus-circle"></i></a>
</h1>
    <search ng-model="search" id="pollSearch" ng-show="polls.length"></search>
    <p ng-hide="polls.length">There are no polls yet!</p>
<ul>
<li ng-repeat="poll in polls | orderBy: '-timestamp' | multipleSearch:search | startFrom:hidden.currentPage*hidden.maxPageNumber | limitTo: hidden.maxPageNumber">
  <div ng-click="showPoll(poll)" class="notification" ng-class="{closed: !poll.open}">
       <div class="notificationContent">
        <span class="notificationTitle">{{poll.name}}</span>
        <span class="notificationText">{{poll.description}}</span>
        <span class="notificationSender">created by: {{$root.getNameFromKey(poll.creator)}}</span>
        </div>
    </div>
</li>
</ul>
<div class="pagerButtons" ng-show="polls.length">
            <button class="previous btn btn-default btn-sm" ng-disabled="hidden.currentPage == 0" ng-click="hidden.currentPage=hidden.currentPage-1"><i class="fa fa-arrow-left"></i></button>
            <button class="next btn btn-default btn-sm" ng-disabled="hidden.currentPage >= $root.polls.length/hidden.maxPageNumber - 1" ng-click="hidden.currentPage=hidden.currentPage+1"><i class="fa fa-arrow-right"></i></button>
            <span class="text-center notificationCount darkbg">{{(hidden.currentPage * hidden.maxPageNumber) + 1}} - {{(hidden.currentPage *hidden.maxPageNumber)+5 >= polls.length? polls.length: (hidden.maxPageNumber * hidden.currentPage)+5}}<span ng-hide="$root.hidden_notifications.length <= 5"> of {{polls.length}}</span></span>
<!--            <button class="next btn btn-default btn-sm" ng-show="hidden.currentPage >= $root.polls.length/hidden.maxPageNumber - 1" ng-disabled="noMoreHiddens || working" ng-click="checkForMorePolls($root.polls, hidden.currentPage, hidden.maxPageNumber)"><span ng-show="working"><i class="fa fa-spinner fa-spin"></i></i></span><span ng-hide="working"><i class="fa fa-arrow-right"></i></span></button>-->
            </div>

</div>



<div class="modal fade" id="LinkModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">New Link</h4>
      </div>
      <div class="modal-body">
              <input type="text" ng-model="newTitle">
              <input type="text" ng-model="newLink">
              <select ng-model="newGroup">
                <option ng-repeat="group in groups" ng-value="group">{{group}}</option>
                <option value="new_group_listing">New</option>
              </select>
              <input ng-show="newGroup == 'new_group_listing'" type="text" ng-model="newGroupValue">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" ng-click="createLink()">Save</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
    