<md-dialog id="chatterDialog" md-theme="{{$root.color}}" flex-gt-sm="80">
  <md-content>
    <md-toolbar id="chatterTitle">
      <div class="md-toolbar-tools">
        <img src="{{CD.chat.author.prof_pic || 'images/defaultprofile.png'}}" alt="{{CD.chat.author.first_name}}" class="md-avatar">
        <h3>{{CD.chat.author.first_name}} {{CD.chat.author.last_name}}</h3>
        <span flex></span>
        <div id="chatterOptions" ng-hide="CD.editing">
          <md-button class="btn-touch" ng-click="CD.showconfirmImportant(CD.chat)" aria-label="mark important"><i class="fa" ng-class="{'fa-star-o': !CD.chat.important, 'fa-star': CD.chat.important}"></i>
            <md-tooltip md-direction="left">
              Make Important
            </md-tooltip>
          </md-button>
          <md-button class="btn-touch" ng-click="CD.editChatter(CD.chat.content)" aria-label="edit" ng-show="CD.chat.author.key == CD.me.key"><i class="fa fa-pencil-square-o"></i></md-button>
          <md-button class="btn-touch" aria-label="like chatter" ng-click="CD.likeChatter(CD.chat);" ng-hide="CD.chat.author.key == CD.me.key"><i class="fa" ng-class="{'fa-heart-o': !CD.chat.like, 'fa-heart': CD.chat.like}"></i></md-button>
          <md-button class="btn-touch" ng-click="CD.confirmDelete = !CD.confirmDelete" aria-label="delete" ng-show="CD.chat.author.key == CD.me.key || CD.admin"><i class="fa fa-trash"></i></md-button>
        </div>
      </div>
    </md-toolbar>
    <md-toolbar id="confirmImportant" ng-show="CD.confirmImportant" class="slideDown">
      <div class="md-toolbar-tools">
        <span class="description">Notify all members?</span>
        <span flex></span>
        <md-button ng-click="CD.makeImportant(CD.chat, true); CD.confirmImportant = !CD.confirmImportant">
          <i class="fa fa-check"></i>
        </md-button>
        <md-button ng-click="CD.makeImportant(CD.chat, false); CD.confirmImportant = !CD.confirmImportant">
          <i class="fa fa-times"></i>
        </md-button>
        <md-button ng-click="CD.confirmImportant = !CD.confirmImportant">
          cancel
        </md-button>
      </div>
    </md-toolbar>
    <md-toolbar ng-show="CD.confirmDelete" class="md-warn slideDown">
      <div class="md-toolbar-tools">
        <span flex></span>
        <md-button ng-click="CD.deleteChatter(CD.chat)">Delete</md-button>
        <md-button ng-click="CD.confirmDelete = !CD.confirmDelete">Cancel</md-button>
      </div>
    </md-toolbar>
    <div id="chatterContent" class="md-padding no-padding-bottom">
      <h3 class="break-newline chatContent" ng-show="!CD.editing" data-linkify="this">{{CD.chat.content}}</h3>
      <md-input-container class="slideDown" ng-show="CD.editing">
        <label for="chattercontent">Edit your chatter here:</label>
        <textarea id="chattercontent" nete-focus="CD.editing" ng-model="CD.content_temp" name="content"></textarea>
      </md-input-container>
      <div layout="row">
        <span flex></span>
        <md-button ng-show="CD.editing" class="slideDown md-primary" ng-click="CD.saveChatter(CD.content_temp)">save</md-button>
        <md-button ng-show="CD.editing" class="slideDown md-primary" ng-click="CD.cancelEditChatter()">cancel</md-button>
      </div>
    </div>

    <div id="chatterComments" class="md-padding no-padding-top">
      <div id="commentInput" layout="row">
        <md-input-container flex>
          <label for="content">Enter new comment here:</label>
          <textarea id="content" ng-model="CD.comment" name="content" ng-enter="CD.commentOnChatter(CD.chat, CD.comment)"></textarea>
        </md-input-container>
        <md-button class="md-primary md-icon-button" ng-disabled="!CD.comment.length" ng-click="CD.commentOnChatter(CD.chat, CD.comment)">
          <md-icon md-font-icon="fa-comment" class="fa"></md-icon>
        </md-button>
      </div>
      <md-list class="itemList">
        <div ng-repeat="comment in CD.chat.comments | orderBy:'-timestamp' | limitTo:CD.limit">
          <md-input-container ng-show="comment.editingComment" class="slideDown no-margin-bottom">
            <label for="commentcontent">Edit your comment here:</label>
            <textarea id="commentcontent" nete-focus="comment.editingComment" ng-model="comment.comment_temp" name="content"></textarea>
          </md-input-container>
          <md-list-item ng-hide="comment.editingComment || !comment.timestamp" layout="row" layout-sm="column">
            <div layout="row" style="width:100%;">
              <img ng-src="{{comment.author.prof_pic || 'images/defaultprofile.png'}}" class="md-avatar" alt="{{comment.author.first_name}}" />
              <div class="md-list-item-text">
                <p class="details">{{comment.author.first_name}} {{comment.author.last_name}} | {{comment.edited? "Edited":""}} {{(comment.edited?comment.edited:comment.timestamp) | displayTime}}</p>
                <h3 class="break-newline">{{comment.content}}</h3>
              </div>
              <span flex></span>
              <md-button class="btn-touch md-primary heart" aria-label="like comment" ng-click="CD.likeComment(comment);" ng-hide="comment.editingComment"><i class="fa" ng-class="{'fa-heart-o': !comment.like, 'fa-heart': comment.like}"></i><span class="numberoflikes">{{comment.likes}}</span></md-button>
              <md-button class="btn-touch md-primary pull-right" aria-label="delete comment" ng-click="comment.confirmDelete = !comment.confirmDelete" ng-show="CD.admin && !(comment.author.key == CD.me.key)"><i class="fa fa-trash"></i></md-button>
            </div>
            <div class="commentOptions" ng-show="(comment.author.key == CD.me.key) && !comment.editingComment">
              <md-button class="btn-touch md-primary pull-right" aria-label="delete comment" ng-click="comment.confirmDelete = !comment.confirmDelete"><i class="fa fa-trash"></i></md-button>
              <md-button class="btn-touch md-primary pull-right" aria-label="edit comment" ng-click="CD.editComment(comment)"><i class="fa fa-edit"></i></md-button>
            </div>
          </md-list-item>
          <md-toolbar ng-show="comment.editingComment" class="md-primary slideDown">
            <div class="md-toolbar-tools">
              <span flex></span>
              <md-button ng-click="CD.saveComment(comment)">Save</md-button>
              <md-button ng-click="CD.cancelEditComment(comment)">Cancel</md-button>
            </div>
          </md-toolbar>
          <md-toolbar ng-show="comment.confirmDelete" class="md-warn slideDown">
            <div class="md-toolbar-tools">
              <span flex></span>
              <md-button ng-click="CD.deleteComment(comment)">Delete</md-button>
              <md-button ng-click="comment.confirmDelete = !comment.confirmDelete">Cancel</md-button>
            </div>
          </md-toolbar>
        </div>
        <br>
        <div class="text-center">
          <md-button ng-hide="!CD.chat.comments_meta.more || CD.moreCommentsLoading" ng-click="CD.loadMoreComments(CD.chat)">Load More</md-button>
          <md-progress-circular class="md-primary" style="margin:auto;" md-mode="indeterminate" ng-show="CD.moreCommentsLoading" md-diameter="25"></md-progress-circular>
        </div>
      </md-list>
      <md-progress-circular class="md-primary" style="margin:auto;" md-mode="indeterminate" ng-show="CD.chat.comments === undefined"></md-progress-circular>
    </div>

  </md-content>
  <div class="md-actions" layout="row">
    <md-button class="followButton" ng-show="CD.chat.following" ng-click="CD.unfollowChatter(CD.chat)" tabindex="-1"><i class="fa fa-bell-slash-o"></i> unfollow</md-button>
    <md-button class="followButton" ng-show="!CD.chat.following" ng-click="CD.followChatter(CD.chat)" tabindex="-1"><i class="fa fa-bell"></i> follow</md-button>
    <span flex></span>
    <md-button ng-click="CD.hide()">
      Close
    </md-button>
  </div>
</md-dialog>
