<md-dialog id="helpDialog" aria-label="help dialog" md-theme="{{$root.color}}">
  <md-content>
       <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Send us a message and we'll get right back to you.</h2>
           </div>
      </md-toolbar>

        <md-content class="md-padding no-padding-top no-padding-bottom">
        <md-input-container>
           <label for="content">Enter your message here:</label>
            <textarea id="content" ng-model="message" name="content"></textarea>
        </md-input-container>
        </md-content>
  </md-content>
  <div class="md-actions" layout="row">
    <span flex></span>
    <md-button class="md-primary" ng-disabled="!message.length" ng-click="sendHelpMessage(message)">
        Send
    </md-button>
    <md-button ng-click="hide()">
        Cancel
    </md-button>
  </div>
</md-dialog>
