<md-dialog md-theme="{{$root.color}}" flex="66" flex-sm="80">
   <md-content>
      <md-toolbar>
         <div class="md-toolbar-tools">
            <h3>Add New Chatter</h3>
         </div>
      </md-toolbar>
      <md-content class="md-padding no-padding-top no-padding-bottom">
         <md-input-container>
            <label for="content">Enter your chatter here...</label>
            <textarea id="content" ng-model="content" name="content"></textarea>
         </md-input-container>
         <br>
         <div layout="row">
            <md-checkbox class="md-primary" ng-show="me.perms == 'leadership' || me.perms == 'council'" ng-model="important" aria-label="make important">
               Mark as Important
            </md-checkbox>
            <md-switch class="md-primary" ng-show="important === true" ng-model="sendNotifications" aria-label="send notifications">
               Send out notification?
            </md-switch>
         </div>
      </md-content>

   </md-content>
   <div class="md-actions" layout="row">
      <span flex></span>
      <md-button class="md-primary" ng-disabled="!content.length" ng-click="addChatter(content, important, sendNotifications)">
         Add Chatter
      </md-button>
      <md-button ng-click="hide()">
         Cancel
      </md-button>
   </div>
</md-dialog>
