<div ng-show="directory && calendars">
	<md-radio-group ng-model="selectedCalendar">
	   <md-radio-button ng-repeat="cal in calendars" class="md-primary" ng-value="cal">{{cal.name | capitalizeFirst}}</md-radio-button>
     <md-radio-button ng-click="showSelectCustomDialog()" class="md-primary" ng-value="customCalendar">Custom</md-radio-button>
	</md-radio-group>
	<md-button id="showInvited" class="pull-right" ng-click="showInvitedMembersDialog()" ng-disabled="selectedMembers.length === 0">{{selectedMembers.length}} Invited</md-button>
</div>
