<md-dialog id="selectingMembers" md-theme="{{$root.color}}" flex="80">
    <md-toolbar class="md-primary">
        <div class="md-toolbar-tools">
            <h1>Select Members</h1>
        </div>
    </md-toolbar>

    <md-content id="memberContainer">

    <md-contact-chips
        ng-model="ctrl.contacts"
        md-contacts="ctrl.querySearch($query)"
        md-contact-name="name"
        md-contact-image="image"
        md-contact-email="email"
        md-require-match
        filter-selected="ctrl.filterSelected"
        placeholder="To">
    </md-contact-chips>
    <md-list class="fixedRows">
      <md-subheader class="md-no-sticky">Contacts</md-subheader>
      <md-list-item class="md-2-line contact-item" ng-repeat="(index, contact) in ctrl.allContacts"
          ng-if="ctrl.contacts.indexOf(contact) < 0">
        <img ng-src="{{contact.image}}" class="md-avatar" alt="{{contact.name}}" />
        <div class="md-list-item-text compact">
          <h3>{{contact.name}}</h3>
          <p>{{contact.email}}</p>
        </div>
      </md-list-item>
      <md-list-item class="md-2-line contact-item selected" ng-repeat="(index, contact) in ctrl.contacts">
        <img ng-src="{{contact.image}}" class="md-avatar" alt="{{contact.name}}" />
        <div class="md-list-item-text compact">
          <h3>{{contact.name}}</h3>
          <p>{{contact.email}}</p>
        </div>
      </md-list-item>


    </md-content>

    <div class="md-actions" layout="row">
        <span flex></span>
        <md-button class="md-primary" ng-click="save()">
            Close
        </md-button>
    </div>
</md-dialog>
