<md-dialog md-theme="{{$root.color}}">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h1>
                <i class="fa fa-user"></i>
                <i class="fa fa-arrow-right"></i>
                <i class="fa fa-graduation-cap"></i>
                Convert these members?
            </h1>
        </div>
    </md-toolbar>
    <md-content class="md-padding">
        <div ng-repeat="member in selectedUser" ng-show="member.checked">{{member.first_name}} {{member.last_name}}</div>
    </md-content>
    <div class="md-actions" layout="row">
        <md-button ng-click="convertMembers()" class="md-primary">convert</md-button>
        <md-button ng-click="closeDialog(selectedUser)">cancel</md-button>
    </div>
</md-dialog>
