
<md-dialog md-theme="{{$root.color}}">
  <md-content>
       <md-subheader>
            Delete {{selectedUser.first_name}} {{selectedUser.last_name}}?
        </md-subheader>
            <md-divider></md-divider>
        <div id="profile-top" layout="row" layout-align="center center">
            <div flex="20" flex-md="25" flex-sm="45">
                <img class="face pull-right" ng-src="{{selectedUser.prof_pic || $root.defaultProfilePicture}}" alt="{{firstName}} {{lastName}}">
            </div>
            <div class="name" flex="80" flex-md="75" flex-sm="55">
                <h2>{{selectedUser.first_name}} {{selectedUser.last_name}}</h2>
                <h5 ng-show="position.length">{{position}}</h5>
            </div> 
        </div> 
        <div class="row"><h1>{{selectedUser.first_name}} {{selectedUser.last_name}}</h1></div>
        <div class="row" ng-show="selectedUser.dob">Birthday: {{selectedUser.dob}}</div>
        <div class="row" ng-show="selectedUser.phone">Phone: {{selectedUser.phone}}</div>
        <div class="row" ng-show="selectedUser.email">Email: {{selectedUser.email}}</div>
  </md-content>
  
  <div class="md-actions" layout="row">
        <md-button ng-click="closeDialog(selectedUser)">cancel</md-button>
        <md-button ng-click="removeAlumni(selectedUser)">delete</md-button>
  </div>
</md-dialog>
