<div ng-show="eventNotFound" class="text-center"><h1>Event not found :(</h1></div>
<md-progress-circular md-mode="indeterminate" ng-show="loading" style="margin:20px auto;"></md-progress-circular>
<div id="eventCheckin" class="container" ng-hide="loading || eventNotFound">
    <div class="md-whiteframe-z1" infinite-scroll="maxLengthIncrease()" infinite-scroll-disabled="search">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h1>Event Checkin for {{event.title}}</h1>
            </div>
            <md-button id="back" class="md-fab" aria-label="back" ng-click="back()">
                <i class="fa fa-arrow-left"></i>
            </md-button>
        </md-toolbar>
        <md-content class="md-padding">
            <search ng-model="search" change="change()"></search>
            <md-list class="itemList">
                <md-item ng-repeat="member in users | orderBy:'last_name' | nameSearch: search: 0 | limitTo:maxLength track by member.key">
                    <div layout="row" layout-sm="column" layout-align="center center" layout-margin>
                        <div>
                            <md-button ng-hide="member.attendance_data.time_in" class="md-primary md-hue-1 btn-touch" aria-label="check in" ng-click="checkIn(member, true, false)">
                                    <i class="fa fa-sign-in fa-lg fa-fw"></i>
                                <!-- <update-status class="updating" ng-model="member.in_updating" fn-call="checkIn(member, true, false)"></update-status> -->
                            </md-button>
                            <md-button ng-hide="!member.attendance_data.time_in" class="md-primary md-hue-1 btn-touch" aria-label="clear check in" ng-click="checkIn(member, false, true)">
                                    <i class="fa fa-times fa-lg fa-fw"></i>
                                <!-- <update-status class="updating" ng-model="member.in_updating" fn-call="checkIn(member, true, false)"></update-status> -->
                            </md-button>
                        </div>
                        <img ng-src="{{member.prof_pic? member.prof_pic+'=s50':$root.defaultProfilePicture}}" class="face">
                        <div class="name">{{member.first_name}} {{member.last_name}}</div>
                        <div flex class="no-margin"></div>
                        <div>
                                <span ng-show="member.attendance_data.time_in">In: {{formatDate(member.attendance_data.time_in)}}</span><br>
                                <span ng-show="member.attendance_data.time_out">Out: {{formatDate(member.attendance_data.time_out)}}</span>
                        </div>
                        <div flex class="no-margin"></div>
                        <div>
                        <md-button ng-hide="!member.attendance_data.time_in || member.attendance_data.time_out" class="md-warn md-hue-1 btn-touch" ng-click="checkOut(member, true, false)" aria-label="check out">
                                <i class="fa fa-sign-out fa-lg fa-fw"></i>
                                <!-- <update-status class="updating" ng-model="member.out_updating" fn-call="checkOut(member, true, false)"></update-status> -->
                        </md-button>
                        <md-button ng-show="member.attendance_data.time_out" class="md-warn md-hue-1 btn-touch" ng-click="checkOut(member, false, true)" aria-label="check out">
                                <i class="fa fa-times fa-lg fa-fw"></i>
                                <!-- <update-status class="updating" ng-model="member.out_updating" fn-call="checkOut(member, true, false)"></update-status> -->
                        </md-button>
                        </div>
                    </div>
                </md-item>
            </md-list>
        </md-content>
    </div>
</div>


<div class="modal fade" id="checkInModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Check In Again?</h4>
      </div>
      <div class="modal-body">
        <p>{{selectedUser.first_name}} has already been checked in. Are you sure you want to check {{selectedUser.first_name}} in again?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" ng-click="checkIn(selectedUser, false)">Check In</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->




<div class="modal fade" id="checkOutModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Check Out Again?</h4>
      </div>
      <div class="modal-body">
        <p>{{selectedUser.first_name}} has already been checked out. Are you sure you want to check {{selectedUser.first_name}} out again?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" ng-click="checkOut(selectedUser, false)">Check Out</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
