<div ng-switch="calendarMode">
    <div class="calendar-navbar">
        <div class="nav-left">
            <md-button type="button" class="previous btn-touch" ng-click="move(-1)">
                <i class="fa fa-arrow-left"></i>
            </md-button>
        </div>
        <div class="calendar-header">
            {{title}}
            <md-button class="today btn-touch" ng-click="today()">
                <i class="fa fa-calendar-times-o"></i>
            </md-button>
        </div>
        <div class="nav-right">
            <md-button type="button" class="next btn-touch" ng-click="move(1)">
                <i class="fa fa-arrow-right"></i>
            </md-button>
        </div>
    </div>
    <dayview ng-switch-when="day"></dayview>
    <monthview ng-switch-when="month"></monthview>
    <weekview ng-switch-when="week"></weekview>
</div>
