<md-dialog id="chatterDialog" md-theme="{{$root.color}}" flex-gt-sm="80">
    <md-content>
     <md-toolbar>
         <div class="md-toolbar-tools">
               <md-list-item style="width:100%;">
                <img src="{{chat.author.prof_pic || 'images/defaultprofile.png'}}" alt="{{chat.author.first_name}}" class="md-avatar">
                <h3>{{chat.author.first_name}} {{chat.author.last_name}}</h3>
                <span flex></span>
                <md-button md-no-ink class="btn-touch heart" aria-label="like chatter" ng-click="likeChatter(chat.key); $event.stopPropagation();"><i class="fa" ng-class="{'fa-heart-o': !liked, 'fa-heart': liked}"></i><span class="numberoflikes">{{chat.likes.length}}</span></md-button>
                </md-list-item>
         </div>
     </md-toolbar>
      <div class="md-padding no-padding-bottom">
          <md-button ng-hide="editing" class="btn-touch md-primary" ng-click="editChatter(chat.content)" aria-label="edit"><i class="fa fa-pencil-square-o"></i></md-button>
            <md-button ng-hide="editing" class="btn-touch md-primary" ng-click="chatter.confirmDelete = !chatter.confirmDelete" aria-label="delete"><i class="fa fa-trash"></i></md-button>
            <md-button ng-hide="editing" class="btn-touch md-primary" ng-click="makeImportant(chat.key)" aria-label="mark important"><i class="fa fa-star-o"></i>
                <md-tooltip md-direction="right">
                  Make Important
                </md-tooltip>
            </md-button>
            <md-toolbar ng-show="chatter.confirmDelete" class="md-warn slideDown">
              <div class="md-toolbar-tools">
                  <span flex></span>
                  <md-button ng-click="deleteChatter(chat)">Delete</md-button>
                  <md-button ng-click="chatter.confirmDelete = !chatter.confirmDelete">Cancel</md-button>
              </div>
          </md-toolbar>
           <h3 class="chatContent" ng-show="!editing">{{chat.content}}</h3>
           <md-input-container class="slideDown" ng-show="editing">
           <label for="chattercontent">Edit your chatter here:</label>
            <textarea id="chattercontent" ng-model="content_temp" name="content"></textarea>
            </md-input-container>
           <div layout="row">
               <span flex></span>
                <md-button ng-show="editing" class="slideDown md-primary" ng-click="saveChatter(content_temp)">save</md-button>
                <md-button ng-show="editing" class="slideDown md-primary" ng-click="cancelEditChatter()">cancel</md-button>
            </div>
            <br>
      </div>

    
    <md-content id="chatterComments" class="md-padding no-padding-top">
        <md-list class="itemList">
            <div ng-repeat="comment in chat.comments">
            <md-input-container ng-show="comment.editingComment" class="slideDown">
                <label for="commentcontent">Edit your comment here:</label>
                <textarea id="commentcontent" ng-model="comment.comment_temp" name="content"></textarea>
            </md-input-container>
            <md-list-item ng-hide="comment.editingComment" layout="row" layout-sm="column">
               <div layout="row" style="width:100%;">
                <img ng-src="{{comment.author.prof_pic || 'images/defaultprofile.png'}}" class="md-avatar" alt="{{comment.author.first_name}}" />
                <div class="md-list-item-text">
                    <h3 >{{comment.content}}</h3>
                    <p class="details">{{comment.author.first_name}} {{comment.author.last_name}} | {{comment.timestamp}}</p>
                </div>
                </div>
                <span flex></span>
                <div class="commentOptions">
                <md-button ng-hide="comment.editingComment" class="btn-touch md-primary" aria-label="edit comment" ng-click="editComment(comment)"><i class="fa fa-edit"></i></md-button>
                <md-button ng-hide="comment.editingComment" class="btn-touch md-primary" aria-label="delete comment" ng-click="comment.confirmDelete = !comment.confirmDelete"><i class="fa fa-trash"></i></md-button>
                <md-button ng-hide="comment.editingComment" class="btn-touch md-primary heart" aria-label="like comment" ng-click="likeComment(comment.key);"><i class="fa" ng-class="{'fa-heart-o': !liked, 'fa-heart': liked}"></i><span class="numberoflikes">{{comment.likes.length}}</span></md-button>
                </div>
            </md-list-item>
            <md-toolbar ng-show="comment.editingComment" class="md-primary slideDown">
                <div class="md-toolbar-tools">
                  <span flex></span>
                  <md-button ng-click="saveComment(comment)">Save</md-button>
                  <md-button ng-click="cancelEditComment(comment)">Cancel</md-button>
              </div>
            </md-toolbar>
            <md-toolbar ng-show="comment.confirmDelete" class="md-warn slideDown">
              <div class="md-toolbar-tools">
                  <span flex></span>
                  <md-button ng-click="deleteComment(comment.key)">Delete</md-button>
                  <md-button ng-click="comment.confirmDelete = !comment.confirmDelete">Cancel</md-button>
              </div>
          </md-toolbar>
          </div>
        </md-list>
        <br>
        <md-input-container>
           <label for="content">Enter new comment here:</label>
            <textarea id="content" ng-model="comment" name="content"></textarea>
        </md-input-container>
        </md-content>
        

    </md-content>
      <div class="md-actions" layout="row">
    <span flex></span>
    <md-button class="md-primary" ng-disabled="!comment.length" ng-click="commentonChatter(chat.key, comment)">
        Comment
    </md-button>
    <md-button ng-click="hide()">
        Close
    </md-button>
  </div>
</md-dialog>