<section id="selectingTags">
<md-progress-circular md-mode="indeterminate" ng-hide="directory" style="margin:20px auto;"></md-progress-circular>
    <div ng-show="directory">
    <div class="row">
           <form class="col-sm-6" id="tagtypeahead" name="tagtypeahead" ng-submit="checkTag(selectedTagName);">
                <md-input-container>
                    <label for="enter_tag">Enter Tag</label>
                    <input type="text" name="enter_tag" ng-model="selectedTagName" ng-options="tag.name for tag in allTagsList" ng-enter="selectTagFromTypeAhead(selectedTagName);" bs-typeahead>
                </md-input-container>
                <md-button id="seeall" ng-click="openDialog($event)">see all</md-button>
            </form>        
<!--
            <div class="col-sm-6" layout="row" layout-align="center">
                            <form id="tagtypeahead" name="tagtypeahead" ng-submit="checkTag(selectedTagName);" flex>
                            <md-input-container class="md-default-theme" >
                                <label for="tag_name">Enter Tag</label>
                                <input name="tag_name" ng-model="selectedTagName" ng-options="tag.name for tag in allTagsList" ng-enter="selectTagFromTypeAhead(selectedTagName);" bs-typeahead></input>
                            </md-input-container>
                            </form>
                            <md-button data-toggle="modal" data-target="#seeallTags">See All</md-button>
            </div>    
-->   
            <div class="col-sm-6">
                <div id="recentTags">
                    <md-subheader>Recent Tags</md-subheader>
                    <div id="theTags">
                            <netetag-check ng-repeat="tag in tags.org_tags | orderBy:'name'" ng-show="tag.recent"></netetag-check>
                    </div>
                </div>
            </div>
    </div>
    
    <md-subheader ng-show="orgTagCheck.length > 0 || eventTagCheck.length > 0 || permsTagCheck.length > 0">Tags Selected</md-subheader>
    <md-subheader ng-hide="orgTagCheck.length > 0 || eventTagCheck.length > 0 || permsTagCheck.length > 0">No tags are selected.</md-subheader>
    <ul id="messagingTags">
        <span>
            <div class="btn-group" ng-show="tags.org_tags" ng-repeat="tag in orgTagCheck = (tags.org_tags | checkedFilter)">
                <netetag-check></netetag-check>
            </div>
            <div class="btn-group" ng-show="tags.perms_tags" ng-repeat="tag in permsTagCheck = (tags.perms_tags | checkedFilter)">
                    <netetag-check></netetag-check>
            </div>
        </span>
    
    </ul>
    
    <md-subheader ng-show="$parent.selectedMembers.length">Members Selected {{$parent.selectedMembers.length}}</md-subheader>
    <md-subheader ng-hide="$parent.selectedMembers.length">No members are selected.</md-subheader>
    <div id="selectedList">
        <span><netemember-check ng-repeat="tag in $parent.selectedMembers = ( directory.members | tagDirectorySearch:tags:usersList) | orderBy: 'last_name'" ng-model="tag" ng-show="tag.checked"></netemember-check></span>
        <span class="messagePerson label label-primary"  ng-repeat="member in $parent.selectedMembers | orderBy: 'last_name'" ng-show="member.first_name">{{member.first_name}} {{member.last_name}}</span>
    </div>
    
    
<div class="modal fade" id="seeallTags">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">All Tags</h4>
      </div>
      <div class="modal-body">
<!--
                <div class="clearInputContainer">
                    <input type="search" ng-model="modalSearch" placeholder="Search..." class="form-control">
                    <button ng-show="modalSearch.length" type="button" class="close clearInput" ng-click="modalSearch = ''"><i class="fa fa-times"></i></button>
                </div>
-->
<!--            <search ng-model="modalSearch"></search>
            <ul class="selectTags">
            <div>
               <h2 class="page-header">Organization Tags</h2>
                <div class="btn-group" ng-repeat="tag in tags.org_tags | multipleSearch:modalSearch">
                    <netetag-check></netetag-check>
                </div>
                <h2 class="page-header">Preset Tags</h2>
                <div class="btn-group" ng-repeat="tag in tags.perms_tags | multipleSearch:modalSearch">
                    <netetag-check></netetag-check>
                </div>
                <span ng-show="includeUsers">
                <h2 class="page-header">Users</h2>
                <div class="btn-group" ng-repeat="tag in usersList | multipleSearch:modalSearch">
                    <netemember-check ng-model="tag"></netemember-check>
                </div>
                </span>
            </div>
            </ul> -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
</div>
</div>
</section>
