<div id="addingMembers">

<md-subheading>Add Multiple Alumni at Once</md-subheading>
<br><br>
<md-button href="../files/AddMembers.csv" target="_blank" download="addmembers.csv"><i class="fa fa-download"></i> CSV Template</md-button>
<br><br>
<p id="areAdded"></p>
    <form id="csvForm" name="csvForm" role="form">
        <div class="form-group">
            <label for="uploadAlumni">Upload CSV</label>
            <input type="file" id="uploadAlumni" accept=".csv">
        </div>
        <md-button class="no-margin" ng-click="addAlumni()">Add Alumni</md-button>
        <p ng-show="memberSkippedNotifier">Some members may not have loaded due to an invalid format in the .csv file</p>
    </form>
    <br><br>
<md-divider></md-divider>
<br>
<md-subheading>Add One Alumni at a Time</md-subheading>
<form id="addalumnusForm" name="addalumnusForm" role="form" ng-submit="addAlumnus(addalumnusForm.$valid, input)" novalidate>
    <div layout="row" layout-align="start center">
        <md-input-container>
            <label for="first_name">First Name</label>
            <input type="text" name="first_name" ng-model="input.first_name">
        </md-input-container>
        <md-input-container>
            <label for="last_name">Last Name</label>
            <input type="text" name="last_name" ng-model="input.last_name">
        </md-input-container>
    </div>
    <div layout="row" layout-align="start center">
        <md-input-container class="md-default-theme">
            <label for="class_year">Class Year</label>
            <input name="class_year" ng-model="input.pledge_class_year" ng-pattern="/[0-9]{4}/" required></input>
        </md-input-container>
        <md-radio-group name="pledge_class_semester" ng-model="input.pledge_class_semester">
            <md-radio-button value="fall">Fall</md-radio-button>
            <md-radio-button value="spring">Spring</md-radio-button>
        </md-radio-group>
    </div>
    <div layout="row" layout-align="start center">
        <md-input-container>
            <label for="email">email@example.com</label>
            <input type="email" name="email" ng-model="input.email">
        </md-input-container>
        <md-button type="submit" ng-disabled="!addalumnusForm.$valid">Add</md-button>
    </div>
</form>

<md-list ng-show="adds.length" id="addAlumnus" class="striped">
    <md-item class="addPerson" ng-repeat="add in adds | orderBy:'last_name'">
    <div layout="row" layout-sm="column" layout-margin>
        <div flex>{{ add.first_name }} {{ add.last_name }}</div>
        <div flex>{{ (add.pledge_class_semester+' '+add.pledge_class_year) }}</div>
        <div flex>{{ add.email }}</div>
        <div flex class="no-margin"></div>
        <md-button ng-click="deleteAdd(add)"><i class="fa fa-trash-o fa-fw"></i></md-button>
    </div>
    </md-item>
    <br><br>
    <md-button class="addButton" ng-click="submitAlumnus()">Add Members</md-button><update-status ng-model="updating"></update-status>
</md-list>

</div>


<!--
<div class="container">

		 HEADER AND TODO COUNT 
		<div class="jumbotron text-center">
			<h1>Add Alumni</h1>
		</div>

        </div>
        
-->
            
<!--
        <div class="container">
            
            <ul ng-repeat="add in adds | orderBy:'last_name'">
                
                    <li>{{add.first_name}}, {{add.last_name}}, {{ add.email }} <button class="btn btn-danger btn-sm trash" ng-click="deleteAdd(add)"><i class="fa fa-trash-o"></i></button></li>
                
            </ul>
            <button ng-click="submitAlumni()" class="btn btn-default">Submit Alumni</button>
            
            <hr>
            
            <p id='areAdded'></p>
            <form id="addalumniForm" role="form">
                <div class="form-group">
                    <label for="uploadAlumni">Upload CSV</label>
                    <input type="file" id="uploadAlumni" accept=".csv">
                </div>
                <div class="form-group">
                    <button ng-click="addAlumni()" class="btn btn-default">Add Alumni</button>
                </div>
                <p ng-show="memberSkippedNotifier">Some alumni may not have loaded due to an invalid format in the .csv file :(</p>
            </form>
            
            <hr>
            
            <form id="addalumnusForm" name="addalumnusForm" ng-submit="addAlumnus(addalumnusForm.$valid)" role="form" novalidate>
            <div class="form-group col-sm-4 col-xs-6" ng-class="{ 'has-error' : (addalumnusForm.first_name.$invalid && !addalumnusForm.first_name.$pristine) || (addalumnusForm.first_name.$invalid && submitted)}">
                <label for="first_name" class="control-label">First Name</label>
                  <input type="text" class="form-control" id="first_name" name="first_name" ng-model="input.first_name" placeholder="John">
              </div>
            <div class="form-group col-sm-4 col-xs-6" ng-class="{ 'has-error' : (addalumnusForm.last_name.$invalid && !addalumnusForm.last_name.$pristine) || (addalumnusForm.last_name.$invalid && submitted)}">
                <label for="last_name" class="control-label">Last Name</label>
                  <input type="text" class="form-control" id="last_name" name="last_name" ng-model="input.last_name" placeholder="Doe">
              </div>  
            <div class="form-group col-sm-4 col-xs-6" ng-class="{ 'has-error' : (addalumnusForm.email.$invalid && !addalumnusForm.email.$pristine) || (addalumnusForm.email.$invalid && submitted)}">
                <label for="email" class="control-label">Email*</label>
                  <input type="email" class="form-control" id="email" name="email" ng-model="input.email" placeholder="john.doe@email.com" required>
              </div>
              <div class="form-group" ng-class="{'has-error' : addalumnusForm.$invalid && submitted}">
                  <button class="btn btn-default">Add Alumnus</button>
                <p ng-show="addalumnusForm.$invalid && submitted" class="help-block">Please fill out all fields correctly.</p>
              </div>
            <div class="form-group" ng-class="{ 'has-error' : addalumnusForm.$invalid && submitted}">
              <button class="btn btn-default" ng-disabled="!addalumnusForm.$valid">Add Alumni</button>
              <p ng-show="addalumnusForm.$invalid && submitted" class="help-block">Please fill out all fields correctly.</p>
            </div>
             </form>
            
        </div>
-->
        
       
      
     
