<md-button class="md-fab md-warn fixed md-fab-bottom-right" ng-click="newChatter();" ng-hide="(data.selectedIndex == 1) && (me.perms == 'member')"><i class="fa fa-plus"></i>
   <md-tooltip md-direction="left">
      New Chatter
   </md-tooltip>
</md-button>
<div id="chatter" class="container">
   <div class="md-whiteframe-z1">
      <md-toolbar class="no-min-height">
         <md-tabs md-selected="data.selectedIndex" class="md-primary">
            <md-tab id="chatterTab" aria-controls="chatterTab-content">
               Chatter
            </md-tab>
            <md-tab id="importantTab" aria-controls="importantTab-content">
               <i class="fa fa-star"></i> Important
            </md-tab>
         </md-tabs>
      </md-toolbar>
      <div class="tabpanel-container" ng-model="showChatter">
         <div role="tabpanel" id="chatterTab-content" aria-labelledby="chatterTab" md-swipe-left="next()" md-swipe-right="previous()" infinite-scroll="increaseMessagesLength()" infinite-scroll-distance="3">
            <md-content class="md-padding no-padding-top">
               <md-list class="chatterList">
                  <div class="listItem" ng-repeat="chat in currentFeed | orderBy:'-timestamp'">
                  <md-list-item ng-click="openChatter(chat)">
                     <img ng-src="{{chat.author.prof_pic || 'images/defaultprofile.png'}}" class="md-avatar" alt="{{chat.author.first_name}}" />
                     <div class="md-list-item-text">
                        <h3>{{chat.content | limitTo: 140}} <span class="details" ng-show="chat.content.length > 140">...read more</span></h3>
                     </div>
                     <span flex></span>
                     <md-button class="btn-touch md-primary heart" aria-label="like chatter" ng-click="likeChatter(chat); $event.stopPropagation();"><i class="fa" ng-class="{'fa-heart-o': !chat.like, 'fa-heart': chat.like}"></i><span class="numberoflikes">{{chat.likes}}</span></md-button>
                  </md-list-item>
                  <p class="details"><span ng-show="chat.important"><i class="fa fa-star theme-color"></i> | </span>{{chat.author.first_name}} {{chat.author.last_name}} | {{chat.comments.length}} <i class="fa fa-comments"></i> | {{chat.edited? "Edited":""}} {{(chat.edited? chat.edited:chat.timestamp) | displayTime}}</p>
                  </div>
               </md-list>
            </md-content>
         </div>
         <div role="tabpanel" id="importantTab-content" aria-labelledby="importantTab" ng-show="data.selectedIndex == 1" md-swipe-left="next()" md-swipe-right="previous()" infinite-scroll="increaseArchivedLength()" infinite-scroll-distance="3" infinite-scroll-disabled="data.selectedIndex != 1 || !showInbox">

         </div>
      </div>
   </div>
</div>
