<div id="events" class="container" ng-init="current = {maxPageNumber: 5, currentPage: 0}; order = (present ? 'time_start': '-time_start');" load-directive ng-model="dataLoaded">
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <div id="calendar" class="md-whiteframe-z1">
                <md-toolbar>
                    <div class="md-toolbar-tools">
                        <h1>Events</h1>
                        <div flex></div>
                        <md-button ng-href="#/app/newevent" ng-show="$parent.$parent.checkPermissions('leadership')">Create New</md-button>
                    </div>
                </md-toolbar>
                <md-content class="md-padding" load-directive ng-model="eventsLoaded">
                    <calendar calendar-mode="mode" event-source="eventSource">
                </md-content>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div id="eventList" class="md-whiteframe-z1">
                <md-toolbar>
                    <md-tabs md-selected="selectedTab">
                      <md-tab id="upcomingeventsTab" aria-controls="upcomingeventsTab-content">
                        Upcoming
                      </md-tab>
                      <md-tab id="pasteventsTab" aria-controls="pasteventsTab-content">
                        Past
                      </md-tab>
                    </md-tabs>
                </md-toolbar>
                <md-list class="itemList">
                    <md-item ng-repeat="event in (current_events = (events | removePassedEvents:(selectedTab == 0) | multipleSearch: search)) | orderBy:order ">
                        <md-item-content>

                            <a class="md-tile-content" ng-href="#/app/events/{{event.key}}">
                                <h3 class="md-primary title">
                                    {{event.title}}
                                </h3>
                                <p class="notificationText">{{showDate(event.time_start, event.time_end)}}</p>
                            </a>
                        </md-item-content>
                    </md-item>
                </md-list>
            </div>
        </div>
    </div>
</div>





<!--
<section class="container" id="events" ng-init="current = {maxPageNumber: 5, currentPage: 0}; present = true; order = (present ? 'time_start': '-time_start');" load-directive ng-model="dataLoaded">
       <div class="row">
        <div class="col-xs-12 col-sm-6 col-lg-4">
           <h1 class="darkbg">Events <a id="newEventButton" href="#/app/newevent" ng-show="$root.checkPermissions('leadership')" class="btn btn-default pull-right">New Event <i class="fa fa-plus"></i></a> </h1>
            <calendar id="calendar" class="card" calendar-mode="mode" event-source="eventSource">
        </div>
        
        <div id="eventList" class="col-xs-12 col-sm-6 col-lg-8">
            <search ng-model="search" id="directorySearch" ng-show="events.length"></search>
            <a id="showPastButton" data-toggle="collapse" class="btn btn-default" ng-click="present = !present; current.currentPage = 0; order = (present ? 'time_start': '-time_start');" ng-hide="search.length || !events.length"><i class="fa fa-history"></i><span ng-show="!present"> Show Upcoming</span> <span ng-show="present">Show Past</span></a>

            <p ng-hide="current_events.length">There are no current or upcoming events!</p>
            <ul>
                <li class="notification" ng-repeat="event in (current_events = (events | removePassedEvents:present | multipleSearch: search)) | orderBy:order | startFrom:current.currentPage*current.maxPageNumber | limitTo: current.maxPageNumber" ng-click="showEvent(event)">
                    <div class="notificationContent">
                        <span class="notificationTitle">{{event.title}}</span>
                        <span class="eventTime">{{showDate(event.time_start, event.time_end)}}</span>
                        <span class="notificationSender">created by: {{getNameFromKey(event.creator)}}</span>
                    </div>
                </li>
            </ul>
            
            <div class="pagerButtons" ng-hide="current_events.length <= 0">
                    <button class="previous btn btn-default btn-sm" ng-disabled="current.currentPage == 0" ng-click="current.currentPage=current.currentPage-1"><i class="fa fa-arrow-left"></i></button>
                    <button class="next btn btn-default btn-sm" ng-hide="current.currentPage >= current_events.length/current.maxPageNumber - 1" ng-disabled="current.currentPage >= current_events.length/current.maxPageNumber - 1" ng-click="current.currentPage=current.currentPage+1"><i class="fa fa-arrow-right"></i></button>
                    <button class="next btn btn-default btn-sm" ng-show="current.currentPage >= current_events.length/current.maxPageNumber - 1" ng-disabled="noMoreNotifications || current_working || current_events.length <= current_events.length" ng-click="checkForMoreNotifications(current.currentPage, current.maxPageNumber)"><span ng-show="current_working"><i class="fa fa-spinner fa-spin"></i></span><span ng-hide="current_working"><i class="fa fa-arrow-right"></i></span></button>
                    <span class="text-center notificationCount darkbg">{{(current.currentPage * current.maxPageNumber) + 1}} - {{(current.currentPage *current.maxPageNumber)+5 >= (current_events.length) ? (current_events.length):(current.currentPage *current.maxPageNumber)+5}}<span ng-hide="current_events.length <= 5"> of {{current_events.length}}</span></span>
            </div>
            
        </div>
        </div>
</section>-->
