<md-button class="fixed md-fab md-warn md-fab-bottom-right" ng-href="#/app/newevent" ng-show="$parent.$parent.checkPermissions('leadership')"><i class="fa fa-plus"></i>
<md-tooltip md-direction="left">
    Create Event
</md-tooltip>
</md-button>

<div id="events" class="container" ng-init="current = {maxPageNumber: 5, currentPage: 0}; order = (present ? 'time_start': '-time_start');" load-directive ng-model="dataLoaded">
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <div id="calendar" class="md-whiteframe-z1">
                <md-toolbar>
                    <div class="md-toolbar-tools">
                        <h1>Events</h1>
                    </div>
                </md-toolbar>
                <md-content class="md-padding" load-directive ng-model="eventsLoaded">
                    <calendar calendar-mode="mode" event-source="eventSource">
                </md-content>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div id="eventList" class="md-whiteframe-z1">
                <md-toolbar>
                    <md-tabs md-selected="selectedTab">
                      <md-tab id="upcomingeventsTab" aria-controls="upcomingeventsTab-content">
                        Upcoming
                      </md-tab>
                      <md-tab id="pasteventsTab" aria-controls="pasteventsTab-content">
                        Past
                      </md-tab>
                    </md-tabs>
                </md-toolbar>
                <md-list class="itemList hover" ng-show="selectedTab==0">
                   <md-content class="md-padding" ng-show="current_events.length == 0">There are no upcoming events.</md-content>
                    <md-list-item ng-repeat="event in (current_events = (events | removePassedEvents:true) | multipleSearch: search) | orderBy:'time_start' ">
                            <a class="md-tile-content" ng-href="#/app/events/{{event.key}}">
                                <h3 class="md-primary title">
                                    {{event.title}}
                                </h3>
                                <p class="notificationText">{{showDate(event.time_start, event.time_end)}}</p>
                            </a>
                    </md-list-item>
                </md-list>
                <md-list class="itemList hover" ng-show="selectedTab==1">
                   <md-content class="md-padding" ng-show="past_events.length == 0">There are no past events.</md-content>
                    <md-list-item ng-repeat="event in (past_events = (events | removePassedEvents:false | multipleSearch: search)) | orderBy:'-time_start' " ng-click="goToEvent(event.key)">
                        <div class="md-list-item-text">
                                <h3 class="md-primary title">
                                    {{event.title}}
                                </h3>
                                <p class="notificationText">{{showDate(event.time_start, event.time_end)}}</p>
                        </div>
                    </md-list-item>
                </md-list>
            </div>
        </div>
    </div>
</div>
