<div id="newEvent" class="container">
<div class="md-whiteframe-z1">
    <md-toolbar>
       <div class="md-toolbar-tools">
           <h1>New Event</h1>
       </div>
    </md-toolbar>
    <md-content class="md-padding no-padding-top">
    <br>
    <selecting-users tags="tags"></selecting-users>
    <form id="newEvent" name="newEvent" class="form-horizontal" role="form" novalidate>
        <md-input-container class="md-default-theme" ng-class="{ 'has-error' : (newEvent.title.$invalid && !newEvent.title.$pristine) || (newEvent.title.$invalid && submitted)}">
            <label for="title">Event Name</label>
            <input name="title" ng-model="event.title" required></input>
            <p ng-show="(newEvent.title.$invalid && !newEvent.title.$pristine) || (newEvent.title.$invalid && submitted)" class="help-block">Please enter a title.</p>
        </md-input-container>    
        <div class="form-group" ng-class="{ 'has-error' : (newEvent.description.$invalid && !newEvent.description.$pristine) || (newEvent.description.$invalid && submitted)}">
                <textarea class="form-control" id="description" name="description" rows="6" ng-model="event.description" placeholder="Enter your event description here: We are going bowling! Yay!"></textarea>
                <p ng-show="(newEvent.description.$invalid && !newEvent.description.$pristine) || (newEvent.description.$invalid && submitted)" class="help-block">Please enter a description.</p>
        </div> 
        <md-input-container class="md-default-theme" ng-class="{ 'has-error' : (newEvent.location.$invalid && !newEvent.location.$pristine) || (newEvent.location.$invalid && submitted)}">
            <label for="location">Location</label>
            <input name="location" ng-autocomplete options="options" address="event.address" details="details" ng-model="event.location" placeholder=""></input>
            <p ng-show="(newEvent.location.$invalid && !newEvent.location.$pristine) || (newEvent.location.$invalid && submitted)" class="help-block">Please enter a location</p>
        </md-input-container> 
<!--        <div class="alert alert-info" ng-show="event.location">{{event.address}}</div>-->
        <div class="form-group" ng-class="{ 'has-error' : ((newEvent.date_start.$invalid && !newEvent.date_start.$pristine) || (newEvent.date_start.$invalid && submitted)) || ((newEvent.time_start.$invalid && !newEvent.time_start.$pristine) || (newEvent.time_start.$invalid && submitted))}">
            <label for="date_start" class="col-xs-12 col-sm-2 control-label">Start</label>
            <div class="col-xs-6 col-sm-5">
                <date-picker id="datestartPicker" name="date_start"  ng-model="event.date_start"></date-picker>
            </div>
            <div class="col-xs-6 col-sm-5">
                <time-picker id="timestartPicker" name="time_start" ng-model="event.time_start"></time-picker>
            </div>
            <p ng-show="((newEvent.date_start.$invalid && !newEvent.date_start.$pristine) || (newEvent.date_start.$invalid && submitted)) || ((newEvent.time_start.$invalid && !newEvent.time_start.$pristine) || (newEvent.time_start.$invalid && submitted))" class="help-block">Please enter start date and time.</p>
        </div>   
        <div class="form-group" ng-class="{ 'has-error' : ((newEvent.date_end.$invalid && !newEvent.date_end.$pristine) || (newEvent.date_end.$invalid && submitted)) || ((newEvent.time_end.$invalid && !newEvent.time_end.$pristine) || (newEvent.time_end.$invalid && submitted))}">
            <label for="date_end" class="col-xs-12 col-sm-2 control-label">End</label>
            <div class="col-xs-6 col-sm-5">
                <date-picker id="dateendPicker" name="date_end" ng-model="event.date_end" required></date-picker>
            </div>
            <div class="col-xs-6 col-sm-5">
                <time-picker id="timeendPicker" name="time_end" ng-model="event.time_end" required></time-picker>
            </div>
            <p ng-show="((newEvent.date_end.$invalid && !newEvent.date_end.$pristine) || (newEvent.date_end.$invalid && submitted)) || ((newEvent.time_end.$invalid && !newEvent.time_end.$pristine) || (newEvent.time_end.$invalid && submitted))" class="help-block">Please enter end date and time.</p>
        </div>
        
        <md-checkbox ng-model="event.recurring" aria-label="recurring event">
            Is this event recurring?
        </md-checkbox>
        
        <div class="form-group" ng-show="event.recurring">
            <div class="col-xs-12 col-sm-3">
                <md-checkbox ng-disabled="!event.recurring || monthly" ng-model="weekly" aria-label="recurring weekly">
                    Weekly
                </md-checkbox>
                <md-checkbox ng-disabled="!event.recurring || weekly" ng-model="monthly" aria-label="recurring monthly">
                    Monthly
                </md-checkbox> 
            </div>
            <div class="col-xs-12 col-sm-2" style="margin-top:15px;">
               <label for="untilDate">Recurrs Until:</label>
            </div>
            <div class="col-xs-12 col-sm-5" style="margin-top:15px;">
                <date-picker id="untilDate" name="untilDate" ng-model="event.until"></date-picker>
            </div>
            <div class="col-xs-12 col-sm-2"></div>
        </div>
        
        <br>
        </form>
        <md-button ng-click="addEvent(newEvent.$valid, event)" ng-enter="$root.doNothing()" class="pull-right" ng-disabled="!selectedMembers.length || !newEvent.$valid ||( working && working != 'broken')">Submit</md-button>


    

</div>   
</md-content>
</div>
</div>