<div class="container" ng-controller="ProfilePicCtrl as P">  
	<md-progress-circular md-mode="indeterminate" ng-show="uploading" style="margin:20px auto;"></md-progress-circular>
	<div ng-hide="uploading">
	    <section id="crop">
			<h2 class="page-header" ng-show="imageSrc.length">Image <i class="fa fa-crop"></i></h2>
			<!-- <img-cropped src="imageSrc" selected="selected(cords)" ratio="1"></img-cropped> -->
			<div id="result" ng-bind-html="content">
			</div>
			<h2 class="page-header" ng-show="P.cropData.length">Preview</h2>
	<!--		<div id="cropped-image" ng-show="cropped" ng-style="{ width: P.picWidth + 'px', height: P.picHeight + 'px', overflow: 'hidden' }">-->
			<div class="crop-canvas">
				<canvas id="photoedit" width="100" height="100" ></canvas>
			</div>
	    </section>
		<form enctype="multipart/form-data" ng-submit="uploadImage(P.imageSrc, P.cropData)" id="profilePic">
		<input type="file" id="image-input" name="file" accept="image/*">
		<br>
	    <input  ng-disabled="!P.cropData || uploading_image" type="submit" name="submit" value="Upload" class="btn btn-default">
	   </form>
	   <p class="alert alert-danger" ng-show="error">Something went wrong. Please try again.</p>
   </div>
</div>