<div id="registerMember" class="container">
   <div class="md-whiteframe-z1">
       <md-toolbar>
            <div class="md-toolbar-tools">
                <h1>Member Registration</h1>
            </div>
        </md-toolbar>
        <md-content class="md-padding">
        
        <div ng-hide="sentEmail">
        <form class="form-horizontal" role="form" ng-submit="findMe(email)">
         
        <div layout="row">
            <md-input-container flex>
                <label for="email">example@email.com</label>
                <input type="email" name="email" ng-model="email" required>
            </md-input-container>
            <md-button type="submit" ng-disabled="users_load == 'pending'">Submit</md-button>
        </div>
        
        </form>


    <div ng-show="loadedUsers">
        <p ng-hide="users.length">No users with that email. Try again.</p>
        <div class="row">
        <div id="listHeaders" ng-show="users.length"> 
            <div class="col-xs-4">Name</div>
            <div class="col-xs-4">Organization</div>
            <div class="col-xs-4">Resend Registration Email</div>
        </div>
        </div>
        <ul class="striped">
            <li ng-repeat = "user in users">
               <div class="row">
                <div class="col-xs-4">{{user.first_name + ' ' + user.last_name}}</div>
                <div class="col-xs-4">{{user.org_name}}</div>
                <div class="col-xs-4"><button ng-click="resendEmail(user.key)" ng-disabled="email_load == 'pending'" class="btn btn-primary btn-sm"><i class="fa fa-paper-plane-o"></i> Send Email</button><update-status ng-model="email_load"></update-status></div>
                </div>
            </li>
        </ul>
    </div>

</div>

<div ng-show="sentEmail">
    <p>An email has been sent with instructions on how to register for your account.</p>
</div>
        
       </md-content>
   </div>
   
    
</div>