<div class="container">
    <div class="md-whiteframe-z1">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h1>Register</h1>
            </div>
        </md-toolbar>
        <md-content class="md-padding">
            <p>Howdy! If you are wanting to create a new organization with NeteGreek, please continue by hitting the "register organization" button.</p>
            <br>
            <md-button href="#/registerorganization">Register Organization</md-button>
            <br><br>
            <p>If your organization has already registered with NeteGreek and you are wanting to create your account, click the "member registration" button.</p>
            <br>
            <md-button href= "#/registeruser">Member Registration</md-button><br><br>
        </md-content>
    </div>
</div>