<div id="registerMember" class="container">
   <div class="md-whiteframe-z1">
       <md-toolbar>
            <div class="md-toolbar-tools">
                <h1>Member Registration</h1>
            </div>
        </md-toolbar>
        <md-content class="md-padding">
        
        <div ng-hide="sentEmail">
        <form class="form-horizontal" role="form" ng-submit="findMe(email)">
         
        <div layout="row">
            <md-input-container flex>
                <label for="email">example@email.com</label>
                <input type="email" name="email" ng-model="email" required>
            </md-input-container>
            <md-button type="submit" ng-disabled="users_load == 'pending'">Submit</md-button>
        </div>
        </form>
        
    <div ng-show="loadedUsers">
        <p ng-hide="users.length">No users with that email. Try again.</p>
        <md-list class="itemList striped">
            <md-item ng-repeat="user in users">
                <div layout="row" layout-sm="column" layout-padding>
                    <div flex>{{user.first_name + ' ' + user.last_name}}</div>
                    <div flex>{{user.org_name}}</div>
                    <div flex></div>
                    <md-button ng-click="resendEmail(user.key)" ng-disabled="email_load == 'pending'">Send Email</md-button>
                </div>
            </md-item>
        </md-list>
    </div>

</div>

<div ng-show="sentEmail">
    <p>We have sent you an email with a link and more instructions on how to register your account. Thanks!</p>
</div>
        
       </md-content>
   </div>
   
    
</div>