<div class="container" ng-controller="ProfilePicCtrl as P">  
    <section id="crop">
		<h2 class="page-header" ng-show="imageSrc.length">Image <i class="fa fa-crop"></i></h2>
		<img-cropped src="imageSrc" selected="selected(cords)" ratio="1"></img-cropped>
		<h2 class="page-header" ng-show="P.cropData.length">Preview</h2>
<!--		<div id="cropped-image" ng-show="cropped" ng-style="{ width: P.picWidth + 'px', height: P.picHeight + 'px', overflow: 'hidden' }">-->
		<div id="cropped-image" ng-show="cropped" style="width:240px; height:240px; overflow:hidden;">
			<img id="preview" ng-src="{{ P.imageSrc }}">
		</div>
    </section>
	<form action="/upload" method="post" enctype="multipart/form-data" ng-submit="uploading_image = 'pending'" id="profilePic">
	<input type="file" name="file" accept="image/*" value="upload" aj-file-select="P.onFileSelect($files)" aj-change="P.getFile($files)" aj-model="P.file">
	<input name="user_name" ng-model="user_name" style="display: none;">
	<input name="token" ng-model="token" style="display: none;">
	<input name="type" ng-model="type" style="display: none;">
	<input name="crop_data" ng-model="P.cropData" style="display: none;">
	<br>
    <input  ng-disabled="!P.cropData || uploading_image" type="submit" name="submit" value="Upload" class="btn btn-default">
    <update-status ng-model="uploading_image"></update-status>
   </form>  
</div>