<div id="manageMembers" class="container" load-directive ng-model="directoryLoaded">
    <md-button ng-click="openConvertMembersModal()" ng-disabled = "!((directory.members|checkedFilter).length)">Convert To Alumni</md-button>
    <md-button ng-click="resendAllWelcomeEmails()">Resend All Welcome Emails</md-button><update-status ng-model="resendWorking" fn-call="resendAllWelcomeEmails()"></update-status>
</div>

<search ng-model="search"></search><br>
    <div infinite-scroll="loadMoreMembers()" infinite-scroll-disabled="search"> 
        <md-list id="members" class="striped">
            <md-item ng-repeat="member in directory.members | orderBy:'last_name' | nameSearch:search| limitTo:memberslength" ng-init="member.name = member.first_name + ' ' + member.last_name;">
                <md-item-content>
                   <div layout="row" layout-align="space-between center">
                    <netemember-check ng-hide="member.user_name == $parent.me.user_name" class="members" ng-model="member"></netemember-check>
                    <nete-member ng-show="member.user_name == $parent.me.user_name"  class="members" ng-model="member"></nete-member>
                    <span>{{member.email}}&nbsp;<a ng-click="openChangeEmailModal(member)" class="" href="">change</a></span>
                    </div>
                    <div flex></div>
                    <div layout="row" ng-hide="member.user_name == $parent.me.user_name">
                        <update-status ng-model="member.updating" fn-call="updatePerms(member, option)"></update-status>
                        <md-button ng-click="resendWelcomeEmail(member)" ng-hide="member.user_name" class="resendWelcome">Resend Welcome Email</md-button>
                        <form class="permsSelect">
                            <select ng-init="option=member.perms" ng-model="option" ng-change="updatePerms(member, option)">
                                <option value="council">council</option>
                                <option value="member">member</option>
                                <option value="leadership">leadership</option>
                            </select>
                        </form>
                        <md-button ng-click="openDeleteMemberModal(member)" aria-label="delete"><i class="fa fa-fw fa-trash-o"></i></md-button>
                    </div>
                </md-item-content>
            </md-item>
        </md-list>
    </div>
        <p ng-show="directory.members.length < 1">There are no members to manage!</p>    

<!--
<div id="manageMembers" class="container" load-directive ng-model="directoryLoaded">
   
    <div class="card">
        <h1 class="card-header">Member Actions</h1>
        <button ng-click="openConvertMembersModal()" class="btn btn-default" ng-disabled = "!((directory.members|checkedFilter).length)">Convert To Alumni</button>
        <button ng-click="resendAllWelcomeEmails()" class="btn btn-primary">Resend All Welcome Emails</button><update-status ng-model="resendWorking" fn-call="resendAllWelcomeEmails()"></update-status>
    </div>        
   <div class="card">
   <search ng-model="search" id="manageMembersSearch"></search>
    <div infinite-scroll="loadMoreMembers()" infinite-scroll-disabled="search"> 
    <ul id="members" class="striped">
       
        <li ng-repeat="member in directory.members | orderBy:'last_name' | nameSearch:search| limitTo:memberslength" ng-init="member.name = member.first_name + ' ' + member.last_name;">
           
           <div class="row">
                <div class="col-xs-12 col-sm-8">
                <netemember-check ng-hide="member.user_name == $parent.me.user_name" class="members" ng-model="member"></netemember-check>
                <nete-member ng-show="member.user_name == $parent.me.user_name"  class="members" ng-model="member"></nete-member>
                <span>{{member.email}}&nbsp;<a ng-click="openChangeEmailModal(member)" class="">change</a></span>

                </div>
               <div ng-hide="member.user_name == $parent.me.user_name" class="col-xs-12 col-sm-4">
                    <div class="pull-right">
                        <update-status ng-model="member.updating" fn-call="updatePerms(member, option)"></update-status>
                        <button ng-click="resendWelcomeEmail(member)" ng-hide="member.user_name" class="btn btn-info btn-sm resendWelcome">Resend Welcome Email</button>
                        <form class="permsSelect">
                            <select ng-init="option=member.perms" ng-model="option" ng-change="updatePerms(member, option)">
                                <option value="council">council</option>
                                <option value="member">member</option>
                                <option value="leadership">leadership</option>
                            </select>
                        </form>
                        <button ng-click="openDeleteMemberModal(member)" class="btn btn-danger btn-sm trash"><i class="fa fa-trash-o"></i></button>
                    </div>
                </div>
            </div>     
        </li>
    </ul>
       </div>
        <p ng-show="directory.members.length < 1">There are no members to manage!</p>    
    </div>
</div>
-->

<div class="modal fade" id="deleteMemberModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Remove {{userToDelete.first_name}} {{userToDelete.last_name}}?</h4>
      </div>
      <div class="modal-body">
        <div class="profilepic" style="background-image:url({{userToDelete.prof_pic || $root.defaultProfilePicture}});" >
    </div>    
    
    <div class="row"><h1>{{userToDelete.first_name}} {{userToDelete.last_name}}</h1></div>
    <div class="row" ng-show="userToDelete.dob">Birthday: {{userToDelete.dob}}</div>
    <div class="row" ng-show="userToDelete.phone">Phone: {{userToDelete.phone}}</div>
    <div class="row" ng-show="userToDelete.email">Email: {{userToDelete.email}}</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" ng-click="removeMember(userToDelete)">Remove Member</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
    
    
    
<div class="modal fade" id="convertMemberModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Are you sure you want to convert these members to alumni?</h4>
      </div>
      <div class="modal-body">
              <div ng-repeat="member in directory.members" ng-show="member.checked">{{member.first_name}} {{member.last_name}}</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" ng-click="convertMembersToAlumni()">Convert Members to Alumni</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
   
<div class="modal fade" id="changeEmailModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Change {{userToChange.first_name}} {{userToChange.last_name}}'s email?</h4>
            </div>
            <div class="modal-body">
                <input name="emailToChange" type="text" ng-model="newEmail" class="form-control">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" ng-click="changeUserEmail(userToChange, newEmail)">Change Email</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
    
  
  
 
