@blueprimary:#2196f3;
@redprimary:#f44336;
@purpleprimary:#9c27b0;
@pinkprimary:#e91e63;
@greenprimary:#4caf50;
@orangeprimary:#ff5722;
@brownprimary:#795548;
@grayprimary:#9e9e9e;

.theme-blue{
    .theme-bg{background:@blueprimary; color:white;}
}
.theme-red{
    .theme-bg{background:@redprimary; color:white;}
}
.theme-purple{
    .theme-bg{background:@purpleprimary; color:white;}
}
.theme-pink{
    .theme-bg{background:@pinkprimary; color:white;}
}
.theme-green{
    .theme-bg{background:@greenprimary; color:white;}
}
.theme-orange{
    .theme-bg{background:@orangeprimary; color:white;}
}
.theme-brown{
    .theme-bg{background:@brownprimary; color:white;}
}
.theme-gray{
    .theme-bg{background:@grayprimary; color:white;}
}