<div>
    <label class="label label-default checkLabel" ng-class="{'label-primary': tag.checked, 'label-default': !tag.checked}">
        <i class="fa fa-square-o checkStatus" ng-class="{'fa-check-square-o': tag.checked, 'fa-square-o': !tag.checked}"></i>
        <input type="checkbox" ng-model="tag.checked"> <li>{{ tag.name }}</li>
    </label>
    <div data-toggle="dropdown" class="badge dropdown-toggle"><i class="fa fa-sort-desc"></i></div>
    <ul class="dropdown-menu" role="menu">
        <li><a ng-click="openRenameTagModal(tag, $event)">Rename Tag</a></li>
        <li><a ng-click="openDeleteTagModal(tag, $event)">Delete Tag</a></li>
    </ul>
</div>