<md-dialog md-theme="{{$root.color}}">
  <md-content>
       <md-subheader>
            Convert {{selectedUser.first_name}} {{selectedUser.last_name}} to be a Member?
        </md-subheader>
            <md-divider></md-divider>
        <!-- <div class="profilepic" style="background-image:url({{selectedUser.prof_pic || $root.defaultProfilePicture}});" >
        </div>  -->
        <div id="profile-top" layout="row" layout-align="center center">
        <img class="face" ng-src="{{prof_pic || $root.defaultProfilePicture}}" alt="{{firstName}} {{lastName}}">  
        </div>
        <br><br>
        <p ng-show="selectedUser.phone">Phone: {{selectedUser.phone}}</p>
        <p ng-show="selectedUser.email">Email: {{selectedUser.email}}</p>
  </md-content>
  
  <div class="md-actions" layout="row">
      <md-button ng-click="convertAlumni(selectedUser)" class="md-warn">convert</md-button>
      <md-button ng-click="closeDialog(selectedUser)">cancel</md-button>
        
  </div>
</md-dialog>







<!-- <div class="modal fade" id="convertAlumniModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Convert Alumnus to Member?</h4>
      </div>
      <div class="modal-body">
        <div class="profilepic" style="background-image:url({{selectedUser.prof_pic || $root.defaultProfilePicture}});" >
    </div>    
    
    <div class="row"><h1>{{selectedUser.first_name}} {{selectedUser.last_name}}</h1></div>
    <div class="row" ng-show="selectedUser.dob">Birthday: {{selectedUser.dob}}</div>
    <div class="row" ng-show="selectedUser.phone">Phone: {{selectedUser.phone}}</div>
    <div class="row" ng-show="selectedUser.email">Email: {{selectedUser.email}}</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" ng-click="convertAlumniToMember(selectedUser)">Convert Alumnus</button>
      </div>
    </div>
  </div>
</div> -->