<div class="container">

<section>
    <h2 class="page-header">Settings</h2>
    
    <span>Email Preferences: </span><br>
    <div class="btn-group">
        <button type="button" ng-click="item.email_prefs = 'all'" ng-class="{'btn-primary' : item.email_prefs === 'all'}" class="btn btn-default">All</button>
        <button type="button" ng-click="item.email_prefs = 'daily'" ng-class="{'btn-primary' : item.email_prefs === 'daily'}" class="btn btn-default">Daily</button>
        <button type="button" ng-click="item.email_prefs = 'none'" ng-class="{'btn-primary' : item.email_prefs === 'none'}" class="btn btn-default">None</button>
    </div><br>
    <a ng-href="#/app/changepassword" id="changePasswordButton" class="btn btn-default">Change Password</a>
    <br><br><br>
</section>

<section>
    <h2 class="page-header">Account Info</h2>
<div class="profilepic" style="background-image:url({{item.prof_pic || 'http://hivemind.co.nz/static/images/grey-icons/person.png'}});" ></div>
<a ng-href="/#/app/uploadprofilepicture" id="changeProfileButton" class="btn btn-default">Change Profile Picture</a>
<!--<button id="showHiddenButton" class="btn btn-default btn-block" data-toggle="collapse" data-target="#showHidden">Show Settings</button>-->

<form id="memberAccount" method="POST" name="memberAccount" ng-submit="updateAccount(memberAccount.$valid)" class="form-horizontal" role="form" novalidate>
    
    
    <div class="form-group" ng-class="{ 'has-error' : (memberAccount.first_name.$invalid && !memberAccount.first_name.$pristine) || (memberAccount.first_name.$invalid && submitted)}">
        <label for="firstName" class="col-sm-2 control-label">First Name</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="firstName" name="first_name" ng-model="item.first_name" placeholder="John" required>
        </div>
        <p ng-show="(memberAccount.first_name.$invalid && !memberAccount.first_name.$pristine) || (memberAccount.first_name.$invalid && submitted)" class="help-block">Please enter your first name.</p>
    </div>
    
    <div class="form-group" ng-class="{ 'has-error' : (memberAccount.last_name.$invalid && !memberAccount.last_name.$pristine) || (memberAccount.last_name.$invalid && submitted)}">
        <label for="lastName" class="col-sm-2 control-label">Last Name</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="lastName" name="last_name" ng-model="item.last_name" placeholder="Doe" required>
        </div>
        <p ng-show="(memberAccount.last_name.$invalid && !memberAccount.last_name.$pristine) || (memberAccount.last_name.$invalid && submitted)" class="help-block">Please enter your last name.</p>
    </div>


    <div class="form-group" ng-class="{ 'has-error' : (memberAccount.email.$invalid && !memberAccount.email.$pristine) || (memberAccount.email.$invalid && submitted)}">
        <label for="email" class="col-sm-2 control-label">Email</label>
        <div class="col-sm-10">
          <input type="email" class="form-control" id="email" name="email" ng-model="item.email" placeholder="john@doe.edu" required>
        </div>
        <p ng-show="(memberAccount.email.$invalid && !memberAccount.email.$pristine) || (memberAccount.email.$invalid && submitted)" class="help-block">Please enter a valid email.</p>
    </div>   
    
    <div class="form-group" ng-class="{ 'has-error' : (memberAccount.phone.$invalid && !memberAccount.phone.$pristine) || (memberAccount.phone.$invalid && submitted)}">
        <label for="phone" class="col-sm-2 control-label">Phone</label>
        <div class="col-sm-10">
          <input type="tel" class="form-control" id="phone" name="phone" ng-model="item.phone" placeholder="###-###-####" required>
        </div>
        <p ng-show="(memberAccount.phone.$invalid && !memberAccount.phone.$pristine) || (memberAccount.phone.$invalid && submitted)" class="help-block">Please enter a valid phone number.</p>
    </div>
    
    <div class="form-group" ng-class="{ 'has-error' : (memberAccount.dob.$invalid && !memberAccount.dob.$pristine) || (memberAccount.dob.$invalid && submitted)}">
        <label for="dob" class="col-sm-2 control-label">Birthday</label>
        <div class="col-sm-10">
        <date-picker id="dob" name="dob" ng-model="item.dob"></date-picker>
        </div>
        <p ng-show="(memberAccount.dob.$invalid && !memberAccount.dob.$pristine) || (memberAccount.dob.$invalid && submitted)" class="help-block">Please enter your birthday.</p>
    </div>
    
        <div class="form-group" ng-class="{ 'has-error' : (memberAccount.grad_month.$invalid && !memberAccount.grad_month.$pristine) || (memberAccount.grad_month.$invalid && submitted)}">
        <label for="currentState" class="col-sm-2 control-label">Graduation Month</label>
        <div class="col-sm-10">
        <select class="form-control" id="gradMonth" name="grad_month" ng-model="item.grad_month" ng-required="!checkAlumni()">
            <option value="1">January</option>
            <option value="2">February</option>
            <option value="3">March</option>
            <option value="4">April</option>
            <option value="5">May</option>
            <option value="6">June</option>
            <option value="7">July</option>
            <option value="8">August</option>
            <option value="9">Septempber</option>
            <option value="10">October</option>
            <option value="11">November</option>
            <option value="12">December</option>
        </select>
        <p ng-show="(memberAccount.grad_month.$invalid && !memberAccount.grad_month.$pristine) || (memberAccount.grad_month.$invalid && submitted)" class="help-block">Please enter your graduation month.</p>
    </div>
    </div> 
    
<div class="form-group" ng-class="{ 'has-error' : (memberAccount.grad_year.$invalid && !memberAccount.grad_year.$pristine) || (memberAccount.grad_year.$invalid && submitted)}">
        <label for="grad_year" class="col-sm-2 control-label">Graduation Year</label>
        <div class="col-sm-10">
          <input type="number" class="form-control" id="grad_year" name="grad_year" ng-model="item.grad_year" placeholder="2014" ng-required = "checkAlumni()">
        </div>
        <p ng-show="(memberAccount.grad_year.$invalid && !memberAccount.grad_year.$pristine) || (memberAccount.grad_year.$invalid && submitted)" class="help-block">Please enter your graduation year.</p>
    </div>

    <div class="form-group" ng-class="{ 'has-error' : (memberAccount.major.$invalid && !memberAccount.major.$pristine) || (memberAccount.major.$invalid && submitted)}">
        <label for="major" class="col-sm-2 control-label">Major</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="major" name="major" ng-model="item.major" placeholder="Engineering" required>
        </div>
        <p ng-show="(memberAccount.major.$invalid && !memberAccount.major.$pristine) || (memberAccount.major.$invalid && submitted)" class="help-block">Please enter your field of study.</p>
    </div>
    
    
    <div id="leadership_fields" ng-show="$root.checkPermissions('leadership')">
        <div class="form-group" ng-class="{ 'has-error' : (memberAccount.position.$invalid && !memberAccount.position.$pristine) || (memberAccount.position.$invalid && submitted)}" >
            <label for="position" class="col-sm-2 control-label">Leadership Position</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="position" name="position" ng-model="item.position" placeholder="President">
            </div>
            <p ng-show="(memberAccount.website.$invalid && !memberAccount.website.$pristine) || (memberAccount.website.$invalid && submitted)" class="help-block">Please enter a valid url.</p>
        </div>
    </div>
    
    <div id="alumni_fields" ng-show="checkAlumni()">
        <div class="form-group" ng-class="{ 'has-error' : (memberAccount.pledge_class.$invalid && !memberAccount.pledge_class.$pristine) || (memberAccount.pledge_class.$invalid && submitted)}">
        <label for="pledge_class" class="col-sm-2 control-label">Pledge Class Year</label>
        <div class="col-sm-10">
          <input type="number" class="form-control" id="pledge_class" name="pledge_class" ng-model="item.pledge_class" placeholder="2014" ng-required = "checkAlumni()">
        </div>
        <p ng-show="(memberAccount.pledge_class.$invalid && !memberAccount.pledge_class.$pristine) || (memberAccount.pledge_class.$invalid && submitted)" class="help-block">Please enter a year</p>
    </div>
        
        <div class="form-group" ng-class="{ 'has-error' : (memberAccount.occupation.$invalid && !memberAccount.occupation.$pristine) || (memberAccount.occupation.$invalid && submitted)}" >
            <label for="occupation" class="col-sm-2 control-label">Occupation</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="occupation" name="occupation" ng-model="item.occupation" placeholder="Graphic Artist">
            </div>
            <p ng-show="(memberAccount.occupation.$invalid && !memberAccount.occupation.$pristine) || (memberAccount.occupation.$invalid && submitted)" class="help-block">Please enter a valid occupation</p>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : (memberAccount.employer.$invalid && !memberAccount.employer.$pristine) || (memberAccount.employer.$invalid && submitted)}" >
            <label for="occupation" class="col-sm-2 control-label">Employer</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="employer" name="employer" ng-model="item.employer" placeholder="Google Inc">
            </div>
            <p ng-show="(memberAccount.employer.$invalid && !memberAccount.employer.$pristine) || (memberAccount.employer.$invalid && submitted)" class="help-block">Please enter a valid employer</p>
        </div>
    </div>


<div id="addresses" ng-show="!checkAlumni()" class="col-sm-10 col-sm-offset-2">

    <div class="col-xs-12 col-sm-6">
    
    <div class="form-group" ng-class="{ 'has-error' : (memberAccount.address.$invalid && !memberAccount.address.$pristine) || (memberAccount.address.$invalid && submitted)}">
        <label for="currentAddress" class="control-label">Current Address</label>
        <div>
          <input type="text" class="form-control" id="currentAddress" name="address" ng-model="item.address" placeholder="42 Wallaby Way" ng-required="!checkAlumni()">
        </div>
        <p ng-show="(memberAccount.address.$invalid && !memberAccount.address.$pristine) || (memberAccount.address.$invalid && submitted)" class="help-block">Please enter your current address.</p>
    </div>
    
    <div class="form-group" ng-class="{ 'has-error' : (memberAccount.city.$invalid && !memberAccount.city.$pristine) || (memberAccount.city.$invalid && submitted)}">
        <label for="currentCity" class="control-label">Current City</label>
        <div>
          <input type="text" class="form-control" id="currentCity" name="city" ng-model="item.city" placeholder="Austin" ng-required="!checkAlumni()">
        </div>
        <p ng-show="(memberAccount.city.$invalid && !memberAccount.city.$pristine) || (memberAccount.city.$invalid && submitted)" class="help-block">Please enter your current city.</p>
    </div>
    
    <div class="form-group" ng-class="{ 'has-error' : (memberAccount.state.$invalid && !memberAccount.state.$pristine) || (memberAccount.state.$invalid && submitted)}">
        <label for="currentState" class="control-label">Current State</label>
        <div>
        <select class="form-control" id="currentState" name="state" ng-model="item.state" ng-required="!checkAlumni()">
            <option value="AL">Alabama</option>
            <option value="AK">Alaska</option>
            <option value="AZ">Arizona</option>
            <option value="AR">Arkansas</option>
            <option value="CA">California</option>
            <option value="CO">Colorado</option>
            <option value="CT">Connecticut</option>
            <option value="DE">Delaware</option>
            <option value="DC">District Of Columbia</option>
            <option value="FL">Florida</option>
            <option value="GA">Georgia</option>
            <option value="HI">Hawaii</option>
            <option value="ID">Idaho</option>
            <option value="IL">Illinois</option>
            <option value="IN">Indiana</option>
            <option value="IA">Iowa</option>
            <option value="KS">Kansas</option>
            <option value="KY">Kentucky</option>
            <option value="LA">Louisiana</option>
            <option value="ME">Maine</option>
            <option value="MD">Maryland</option>
            <option value="MA">Massachusetts</option>
            <option value="MI">Michigan</option>
            <option value="MN">Minnesota</option>
            <option value="MS">Mississippi</option>
            <option value="MO">Missouri</option>
            <option value="MT">Montana</option>
            <option value="NE">Nebraska</option>
            <option value="NV">Nevada</option>
            <option value="NH">New Hampshire</option>
            <option value="NJ">New Jersey</option>
            <option value="NM">New Mexico</option>
            <option value="NY">New York</option>
            <option value="NC">North Carolina</option>
            <option value="ND">North Dakota</option>
            <option value="OH">Ohio</option>
            <option value="OK">Oklahoma</option>
            <option value="OR">Oregon</option>
            <option value="PA">Pennsylvania</option>
            <option value="RI">Rhode Island</option>
            <option value="SC">South Carolina</option>
            <option value="SD">South Dakota</option>
            <option value="TN">Tennessee</option>
            <option value="TX">Texas</option>
            <option value="UT">Utah</option>
            <option value="VT">Vermont</option>
            <option value="VA">Virginia</option>
            <option value="WA">Washington</option>
            <option value="WV">West Virginia</option>
            <option value="WI">Wisconsin</option>
            <option value="WY">Wyoming</option>
        </select>
        <script>
            $('#currentState').focusout(function(){
                $(this).trigger("change");
            });
        </script>
        <p ng-show="(memberAccount.state.$invalid && !memberAccount.state.$pristine) || (memberAccount.state.$invalid && submitted)" class="help-block">Please enter your current state.</p>
    </div>
    </div>

    
    <div class="form-group" ng-class="{ 'has-error' : (memberAccount.zip.$invalid && !memberAccount.zip.$pristine) || (memberAccount.zip.$invalid && submitted)}">
        <label for="zip" class="control-label">Current Zip</label>
        <div>
          <input type="number" class="form-control" id="zip" name="zip" ng-model="item.zip" ng-pattern="/[0-9]{5}/" placeholder="78759">
        </div>
        <p ng-show="(memberAccount.zip.$invalid && !memberAccount.zip.$pristine) || (memberAccount.zip.$invalid && submitted)" class="help-block">Please enter your permanent 5 digit zip code.</p>
    </div>
    
    
    </div>
    
    <div ng-show="!checkAlumni()" class="col-sm-6 col-xs-12">
    
    <div class="form-group" ng-class="{ 'has-error' : (memberAccount.perm_address.$invalid && !memberAccount.perm_address.$pristine) || (memberAccount.perm_address.$invalid && submitted)}">
        <label for="permAddress" class="control-label">Permanent Address</label>
        <div>
          <input type="text" class="form-control" id="permAddress" name="perm_address" ng-model="item.perm_address" placeholder="42 Wallaby Way">
        </div>
        <p ng-show="(memberAccount.perm_address.$invalid && !memberAccount.perm_address.$pristine) || (memberAccount.perm_address.$invalid && submitted)" class="help-block">Please enter your permanent address.</p>
    </div>
    
    <div class="form-group" ng-class="{ 'has-error' : (memberAccount.perm_city.$invalid && !memberAccount.perm_city.$pristine) || (memberAccount.perm_city.$invalid && submitted)}">
        <label for="permCity" class="control-label">Permanent City</label>
        <div>
          <input type="text" class="form-control" id="permCity" name="perm_city" ng-model="item.perm_city" placeholder="Austin">
        </div>
        <p ng-show="(memberAccount.perm_city.$invalid && !memberAccount.perm_city.$pristine) || (memberAccount.perm_city.$invalid && submitted)" class="help-block">Please enter your permanent city.</p>
    </div>
    
    <div class="form-group" ng-class="{ 'has-error' : (memberAccount.perm_state.$invalid && !memberAccount.perm_state.$pristine) || (memberAccount.perm_state.$invalid && submitted)}">
        <label for="permState" class="control-label">Permanent State</label>
        <div>
        <select class="form-control" id="permState" name="perm_state" ng-model="item.perm_state">
            <option value="AL">Alabama</option>
            <option value="AK">Alaska</option>
            <option value="AZ">Arizona</option>
            <option value="AR">Arkansas</option>
            <option value="CA">California</option>
            <option value="CO">Colorado</option>
            <option value="CT">Connecticut</option>
            <option value="DE">Delaware</option>
            <option value="DC">District Of Columbia</option>
            <option value="FL">Florida</option>
            <option value="GA">Georgia</option>
            <option value="HI">Hawaii</option>
            <option value="ID">Idaho</option>
            <option value="IL">Illinois</option>
            <option value="IN">Indiana</option>
            <option value="IA">Iowa</option>
            <option value="KS">Kansas</option>
            <option value="KY">Kentucky</option>
            <option value="LA">Louisiana</option>
            <option value="ME">Maine</option>
            <option value="MD">Maryland</option>
            <option value="MA">Massachusetts</option>
            <option value="MI">Michigan</option>
            <option value="MN">Minnesota</option>
            <option value="MS">Mississippi</option>
            <option value="MO">Missouri</option>
            <option value="MT">Montana</option>
            <option value="NE">Nebraska</option>
            <option value="NV">Nevada</option>
            <option value="NH">New Hampshire</option>
            <option value="NJ">New Jersey</option>
            <option value="NM">New Mexico</option>
            <option value="NY">New York</option>
            <option value="NC">North Carolina</option>
            <option value="ND">North Dakota</option>
            <option value="OH">Ohio</option>
            <option value="OK">Oklahoma</option>
            <option value="OR">Oregon</option>
            <option value="PA">Pennsylvania</option>
            <option value="RI">Rhode Island</option>
            <option value="SC">South Carolina</option>
            <option value="SD">South Dakota</option>
            <option value="TN">Tennessee</option>
            <option value="TX">Texas</option>
            <option value="UT">Utah</option>
            <option value="VT">Vermont</option>
            <option value="VA">Virginia</option>
            <option value="WA">Washington</option>
            <option value="WV">West Virginia</option>
            <option value="WI">Wisconsin</option>
            <option value="WY">Wyoming</option>
        </select>
        <p ng-show="(memberAccount.v.$invalid && !memberAccount.perm_state.$pristine) || (memberAccount.perm_state.$invalid && submitted)" class="help-block">Please enter your permanent state.</p>
    </div>
    </div>

    
    <div class="form-group" ng-class="{ 'has-error' : (memberAccount.perm_zip.$invalid && !memberAccount.perm_zip.$pristine) || (memberAccount.perm_zip.$invalid && submitted)}">
        <label for="permZip" class="control-label">Permanent Zip</label>
        <div>
          <input type="number" class="form-control" id="permZip" name="perm_zip" ng-model="item.perm_zip" ng-pattern="/[0-9]{5}/" placeholder="78759">
        </div>
        <p ng-show="(memberAccount.perm_zip.$invalid && !memberAccount.perm_zip.$pristine) || (memberAccount.perm_zip.$invalid && submitted)" class="help-block">Please enter your permanent 5 digit zip code.</p>
    </div>
    </div>
    
</div>

<div ng-show="checkAlumni()">
        <div class="form-group" ng-class="{ 'has-error' : (memberAccount.address.$invalid && !memberAccount.address.$pristine) || (memberAccount.address.$invalid && submitted)}">
        <label for="currentAddress" class=" col-sm-2 control-label">Current Address</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="currentAddress" name="address" ng-model="item.address" placeholder="42 Wallaby Way" ng-required="!checkAlumni()">
        </div>
        <p ng-show="(memberAccount.address.$invalid && !memberAccount.address.$pristine) || (memberAccount.address.$invalid && submitted)" class="help-block">Please enter your current address.</p>
    </div>
    
    <div class="form-group" ng-class="{ 'has-error' : (memberAccount.city.$invalid && !memberAccount.city.$pristine) || (memberAccount.city.$invalid && submitted)}">
        <label for="currentCity" class=" col-sm-2 control-label">Current City</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="currentCity" name="city" ng-model="item.city" placeholder="Austin" ng-required="!checkAlumni()">
        </div>
        <p ng-show="(memberAccount.city.$invalid && !memberAccount.city.$pristine) || (memberAccount.city.$invalid && submitted)" class="help-block">Please enter your current city.</p>
    </div>
    
    <div class="form-group" ng-class="{ 'has-error' : (memberAccount.state.$invalid && !memberAccount.state.$pristine) || (memberAccount.state.$invalid && submitted)}">
        <label for="currentState" class="col-sm-2 control-label">Current State</label>
        <div  class="col-sm-10">
        <select class="form-control" id="currentState" name="state" ng-model="item.state" ng-required="!checkAlumni()">
            <option value="AL">Alabama</option>
            <option value="AK">Alaska</option>
            <option value="AZ">Arizona</option>
            <option value="AR">Arkansas</option>
            <option value="CA">California</option>
            <option value="CO">Colorado</option>
            <option value="CT">Connecticut</option>
            <option value="DE">Delaware</option>
            <option value="DC">District Of Columbia</option>
            <option value="FL">Florida</option>
            <option value="GA">Georgia</option>
            <option value="HI">Hawaii</option>
            <option value="ID">Idaho</option>
            <option value="IL">Illinois</option>
            <option value="IN">Indiana</option>
            <option value="IA">Iowa</option>
            <option value="KS">Kansas</option>
            <option value="KY">Kentucky</option>
            <option value="LA">Louisiana</option>
            <option value="ME">Maine</option>
            <option value="MD">Maryland</option>
            <option value="MA">Massachusetts</option>
            <option value="MI">Michigan</option>
            <option value="MN">Minnesota</option>
            <option value="MS">Mississippi</option>
            <option value="MO">Missouri</option>
            <option value="MT">Montana</option>
            <option value="NE">Nebraska</option>
            <option value="NV">Nevada</option>
            <option value="NH">New Hampshire</option>
            <option value="NJ">New Jersey</option>
            <option value="NM">New Mexico</option>
            <option value="NY">New York</option>
            <option value="NC">North Carolina</option>
            <option value="ND">North Dakota</option>
            <option value="OH">Ohio</option>
            <option value="OK">Oklahoma</option>
            <option value="OR">Oregon</option>
            <option value="PA">Pennsylvania</option>
            <option value="RI">Rhode Island</option>
            <option value="SC">South Carolina</option>
            <option value="SD">South Dakota</option>
            <option value="TN">Tennessee</option>
            <option value="TX">Texas</option>
            <option value="UT">Utah</option>
            <option value="VT">Vermont</option>
            <option value="VA">Virginia</option>
            <option value="WA">Washington</option>
            <option value="WV">West Virginia</option>
            <option value="WI">Wisconsin</option>
            <option value="WY">Wyoming</option>
        </select>
        <p ng-show="(memberAccount.state.$invalid && !memberAccount.state.$pristine) || (memberAccount.state.$invalid && submitted)" class="help-block">Please enter your current state.</p>
    </div>
    </div>

    
    <div class="form-group" ng-class="{ 'has-error' : (memberAccount.zip2.$invalid && !memberAccount.zip2.$pristine) || (memberAccount.zip2.$invalid && submitted)}">
        <label for="zip2" class="col-sm-2 control-label">Current Zip</label>
        <div class="col-sm-10">
          <input type="number" class="form-control" id="zip2" name="zip2" ng-model="item.zip" placeholder="78759" ng-pattern="/[0-9]{5}/" ng-required="!checkAlumni()">
        </div>
        <p ng-show="(memberAccount.zip2.$invalid && !memberAccount.zip2.$pristine) || (memberAccount.zip2.$invalid && submitted)" class="help-block">Please enter your current 5 digit zip code.</p>
    </div>
    
    
</div>

    
    <div class="form-group" ng-class="{ 'has-error' : (memberAccount.website.$invalid && !memberAccount.website.$pristine) || (memberAccount.website.$invalid && submitted)}">
        <label for="website" class="col-sm-2 control-label">Website</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="website" name="website" ng-model="item.website" placeholder="johndoe.com">
        </div>
        <p ng-show="(memberAccount.website.$invalid && !memberAccount.website.$pristine) || (memberAccount.website.$invalid && submitted)" class="help-block">Please enter a valid url.</p>
    </div>
        
        
        
    <div class="form-group" ng-class="{ 'has-error' : (memberAccount.facebook.$invalid && !memberAccount.facebook.$pristine) || (memberAccount.facebook.$invalid && submitted)}">
        <label for="facebook" class="col-sm-2 control-label">Facebook Profile</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="facebook" name="facebook" ng-model="item.facebook" placeholder="facebook.com/johndoe">
        </div>
        <p ng-show="(memberAccount.facebook.$invalid && !memberAccount.facebook.$pristine) || (memberAccount.facebook.$invalid && submitted)" class="help-block">Please enter a valid url.</p>
    </div>    
     
    <div class="form-group"  ng-class="{ 'has-error' : (memberAccount.twitter.$invalid && !memberAccount.twitter.$pristine) || (memberAccount.twitter.$invalid && submitted)}">
        <label for="twitter" class="col-sm-2 control-label">Twitter Profile</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="twitter" name="twitter" ng-model="item.twitter" placeholder="twitter.com/johndoe">
        </div>
        <p ng-show="(memberAccount.twitter.$invalid && !memberAccount.twitter.$pristine) || (memberAccount.twitter.$invalid && submitted)" class="help-block">Please enter a valid url.</p>
    </div>  
    
    <div class="form-group"  ng-class="{ 'has-error' : (memberAccount.instagram.$invalid && !memberAccount.instagram.$pristine) || (memberAccount.instagram.$invalid && submitted)}">
        <label for="instagram" class="col-sm-2 control-label">Instagram Profile</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="instagram" name="instagram" ng-model="item.instagram" placeholder="instagram.com/johndoe">
        </div>
        <p ng-show="(memberAccount.instagram.$invalid && !memberAccount.instagram.$pristine) || (memberAccount.instagram.$invalid && submitted)" class="help-block">Please enter a valid url.</p>
    </div>
    
    <div class="form-group"  ng-class="{ 'has-error' : (memberAccount.linkedin.$invalid && !memberAccount.linkedin.$pristine) || (memberAccount.linkedin.$invalid && submitted)}">
        <label for="linkedin" class="col-sm-2 control-label">LinkedIn Profile</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="linkedin" name="linkedin" ng-model="item.linkedin" placeholder="linkedin.com/johndoe">
        </div>
        <p ng-show="(memberAccount.linkedin.$invalid && !memberAccount.linkedin.$pristine) || (memberAccount.linkedin.$invalid && submitted)" class="help-block">Please enter a valid url.</p>
    </div>


    <button type="submit" class="btn btn-default pull-right">Save Info</button>
    <div id="updateAccountAlert" class="alert alert-success" ng-show="updatedInfo">Account info updated!</div>
</form>
</section>
    
</div>