<div class="container">

		<!-- HEADER AND TODO COUNT -->
		<div class="jumbotron text-center">
			<h1>Account Info</h1>
		</div>

</div>


<div class="container">


<p ng-show="updatedInfo">Account info updated!</p>
<form id="newmemberAccount" class="form-horizontal" role="form">
    
    <div class="form-group">
        <label for="firstName" class="col-sm-2 control-label">First Name</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="firstName" name="first_name" ng-model="item.first_name" placeholder="John">
        </div>
    </div>
    
    <div class="form-group">
        <label for="lastName" class="col-sm-2 control-label">Last Name</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="lastName" name="last_name" ng-model="item.last_name" placeholder="Doe">
        </div>
    </div>
    
    <div class="form-group">
        <label for="address" class="col-sm-2 control-label">Address</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="address" name="address" ng-model="item.address" placeholder="John.Doe">
        </div>
    </div>
    
    <div class="form-group">
        <label for="city" class="col-sm-2 control-label">City</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="city" name="city" ng-model="item.city" placeholder="John.Doe">
        </div>
    </div>
    
    <div class="form-group">
        <label for="zip" class="col-sm-2 control-label">Zip</label>
        <div class="col-sm-10">
          <input type="number" class="form-control" id="zip" name="zip" ng-model="item.zip" placeholder="John.Doe">
        </div>
    </div>
    
    <div class="form-group">
        <label for="Email" class="col-sm-2 control-label">Email</label>
        <div class="col-sm-10">
          <input type="email" class="form-control" id="email" name="email" ng-model="item.email" placeholder="john@doe.edu">
        </div>
    </div>
    
    <div class="form-group">
        <label for="Email" class="col-sm-2 control-label">Birthday</label>
        <div class="col-sm-10">
          <input type="date" class="form-control" id="dob" name="dob" ng-model="item.dob" placeholder="mm/dd/yyyy">
        </div>
    </div>    
    
    <div class="form-group">
        <label for="phone" class="col-sm-2 control-label">Phone</label>
        <div class="col-sm-10">
          <input type="number" class="form-control" id="phone" name="phone" ng-model="item.phone" placeholder="###-###-####">
        </div>
    </div>
    
    <button type="submit" ng-click="updateAccount()" class="btn btn-default pull-right">Submit</button>
</form>
</div>