<!--
<div class="container">

		 HEADER AND TODO COUNT 
		<div class="jumbotron text-center">
			<h1>Add Alumni</h1>
		</div>

        </div>
        
-->
            
<!--
        <div class="container">
            
            <ul ng-repeat="add in adds | orderBy:'last_name'">
                
                    <li>{{add.first_name}}, {{add.last_name}}, {{ add.email }} <button class="btn btn-danger btn-sm trash" ng-click="deleteAdd(add)"><i class="fa fa-trash-o"></i></button></li>
                
            </ul>
            <button ng-click="submitAlumni()" class="btn btn-default">Submit Alumni</button>
            
            <hr>
            
            <p id='areAdded'></p>
            <form id="addalumniForm" role="form">
                <div class="form-group">
                    <label for="uploadAlumni">Upload CSV</label>
                    <input type="file" id="uploadAlumni" accept=".csv">
                </div>
                <div class="form-group">
                    <button ng-click="addAlumni()" class="btn btn-default">Add Alumni</button>
                </div>
                <p ng-show="memberSkippedNotifier">Some alumni may not have loaded due to an invalid format in the .csv file :(</p>
            </form>
            
            <hr>
            
            <form id="addalumnusForm" name="addalumnusForm" ng-submit="addAlumnus(addalumnusForm.$valid)" role="form" novalidate>
            <div class="form-group col-sm-4 col-xs-6" ng-class="{ 'has-error' : (addalumnusForm.first_name.$invalid && !addalumnusForm.first_name.$pristine) || (addalumnusForm.first_name.$invalid && submitted)}">
                <label for="first_name" class="control-label">First Name</label>
                  <input type="text" class="form-control" id="first_name" name="first_name" ng-model="input.first_name" placeholder="John">
              </div>
            <div class="form-group col-sm-4 col-xs-6" ng-class="{ 'has-error' : (addalumnusForm.last_name.$invalid && !addalumnusForm.last_name.$pristine) || (addalumnusForm.last_name.$invalid && submitted)}">
                <label for="last_name" class="control-label">Last Name</label>
                  <input type="text" class="form-control" id="last_name" name="last_name" ng-model="input.last_name" placeholder="Doe">
              </div>  
            <div class="form-group col-sm-4 col-xs-6" ng-class="{ 'has-error' : (addalumnusForm.email.$invalid && !addalumnusForm.email.$pristine) || (addalumnusForm.email.$invalid && submitted)}">
                <label for="email" class="control-label">Email*</label>
                  <input type="email" class="form-control" id="email" name="email" ng-model="input.email" placeholder="john.doe@email.com" required>
              </div>
              <div class="form-group" ng-class="{'has-error' : addalumnusForm.$invalid && submitted}">
                  <button class="btn btn-default">Add Alumnus</button>
                <p ng-show="addalumnusForm.$invalid && submitted" class="help-block">Please fill out all fields correctly.</p>
              </div>
            <div class="form-group" ng-class="{ 'has-error' : addalumnusForm.$invalid && submitted}">
              <button class="btn btn-default" ng-disabled="!addalumnusForm.$valid">Add Alumni</button>
              <p ng-show="addalumnusForm.$invalid && submitted" class="help-block">Please fill out all fields correctly.</p>
            </div>
             </form>
            
        </div>
-->
        
       
      
     
    
   
  
 
<div id="addingMembers" class="container">

    <div class="card">
    <h1 class="card-header">Add Multiple Alumni at Once</h1>
    <p id="areAdded"></p>
<!--    <a class="btn btn-default" ng-href="https://docs.google.com/file/d/0B4Of2nSYBtRgUjVMdjJYQmUyUGs/edit" target="_">Excel Template</a>-->
<!--    <button type="button" class="btn btn-sm btn-primary btn-circle" data-placement="top-center" title="CSV upload" data-content="You can use this excel sheet to upload multiple alumni at one time! Just download and fill out the excel form, then export the file as a .csv file" bs-popover><i class="fa fa-question"></i></button>-->
<!--    <p>You can use this excel sheet to upload multiple alumni at one time! Just fill out the form and export the file as a ".csv"</p>-->
    <form id="addmembersForm" role="form">
        <div class="form-group">
            <label for="uploadMembers">Upload CSV</label>
            <input type="file" id="uploadMembers" accept=".csv">
        </div>
        <div class="form-group">
            <button ng-click="addAlumni()" class="btn btn-default">Add Alumni</button> <a class="btn btn-default" href="../files/AddMembers.csv" target="_blank" download="addmembers.csv"><i class="fa fa-download"></i> CSV Template</a>
        </div>
        <p ng-show="memberSkippedNotifier">Some alumni may have been skipped due to an invalid format in the .csv file</p>
    </form>
    </div>

    <form id="addmemberForm" class="card" name="addmemberForm" role="form" ng-submit="addAlumnus(addmemberForm.$valid)" novalidate>
    <h1 class="card-header">Add One Alumnus at a Time</h1>
         <div class="row">
          <div class="form-group col-sm-4 col-xs-6">
            <label for="firstName" class="control-label">First Name</label>
              <input type="text" class="form-control" id="firstName" name="first_name" ng-model="input.first_name">
          </div>
          <div class="form-group col-sm-4 col-xs-6">
            <label for="lastName" class="control-label">Last Name</label>
              <input type="text" class="form-control" id="lastName" name="last_name" ng-model="input.last_name">
          </div>
          <div class="form-group col-sm-4 col-xs-6 required">
            <label for="classYear" class="control-label">Pledge Class Year</label>
              <input type="number" class="form-control" id="classYear" name="class_year" ng-model="input.pledge_class_year" placeholder="####" ng-pattern="/[0-9]{4}/">
          </div>
          <div class="form-group col-sm-4 col-xs-6 required">
          <label for="pledge_class_year" class="control-label">Pledge Class Semester</label>
            <select class="form-control" id="pledgeClassSemester" name="pledge_class_semester" ng-model="input.pledge_class_semester" ng-required="!checkAlumni()">
                <option value="fall">Fall</option>
                <option value="spring">Spring</option>
            </select>
          </div>
          <div class="form-group col-sm-4 col-xs-6 required">
            <label for="email" class="control-label">Email</label>
              <input type="email" class="form-control" id="email" name="email" ng-model="input.email" placeholder="john.doe@email.com" required>
          </div>
          <div class="form-group col-sm-4 col-xs-6" ng-class="{ 'has-error' : addmemberForm.$invalid && submitted}">
              <label for="submit_form" class="control-label"></label>
              <input name="submit_form" class="btn btn-default form-control" type="submit"  ng-disabled="!addmemberForm.$valid" value="Add Alumnus">
              <p ng-show="addmemberForm.$invalid && submitted" class="help-block">Please fill out all fields correctly.</p>
          </div>
          </div>
     </form>
    <ul ng-show="adds.length" id="addMembers" class="card">
    <li class="addPerson" ng-repeat="add in adds | orderBy:'last_name'">
    <div class="row">
        <div class="col-xs-4">{{ add.first_name }} {{ add.last_name }}</div>
        <div class="col-xs-4 capitalize">{{ (add.pledge_class_semester + ' ' + add.pledge_class_year)}}</div>
        <div class="col-xs-4">{{ add.email }}</div>
    </div>
    <button class="btn btn-danger btn-sm trash" ng-click="deleteAdd(add)"><i class="fa fa-trash-o"></i></button></li>
    <button id="addMembersButton" ng-click="submitAlumni()" class="btn btn-default">Submit Alumni</button><update-status ng-model="updating"></update-status>
    </ul>


</div>