
<div ui-view ng-hide="loading" id="mainSection" class="fadingIn fadingOut"></div>
<div ng-show="loading" id="loadingScreen"><i class="fa fa-spinner fa-spin"></i></div>   

   
<div ng-hide="loading">
   

    <div class="container">
      
      
      <h2 class="page-header">Organization Settings</h2>
      
      <span>Color Theme: </span><br>
    
    <div id="colorPicker" class="well well-sm">
        <button id="color1" ng-click="changeTheme(1);" class="colorPick" ng-class="{'selectedColor' : themeColor === 'color1'}"></button>
        <button id="color2" ng-click="changeTheme(2);" class="colorPick" ng-class="{'selectedColor' : themeColor === 'color2'}"></button>
        <button id="color3" ng-click="changeTheme(3);" class="colorPick" ng-class="{'selectedColor' : themeColor === 'color3'}"></button>
        <button id="color4" ng-click="changeTheme(4);" class="colorPick" ng-class="{'selectedColor' : themeColor === 'color4'}"></button>
        <button id="color5" ng-click="changeTheme(5);" class="colorPick" ng-class="{'selectedColor' : themeColor === 'color5'}"></button>
        <button id="color6" ng-click="changeTheme(6);" class="colorPick" ng-class="{'selectedColor' : themeColor === 'color6'}"></button>
        <button id="color7" ng-click="changeTheme(7);" class="colorPick" ng-class="{'selectedColor' : themeColor === 'color7'}"></button>
        <button id="color8" ng-click="changeTheme(8);" class="colorPick" ng-class="{'selectedColor' : themeColor === 'color8'}"></button>
        <button id="color9" ng-click="changeTheme(9);" class="colorPick" ng-class="{'selectedColor' : themeColor === 'color9'}"></button>
        <button id="color10" ng-click="changeTheme(10);" class="colorPick" ng-class="{'selectedColor' : themeColor === 'color10'}"></button>
        <button id="color11" ng-click="changeTheme(11);" class="colorPick" ng-class="{'selectedColor' : themeColor === 'color11'}"></button>
        <button id="color12" ng-click="changeTheme(12);" class="colorPick" ng-class="{'selectedColor' : themeColor === 'color12'}"></button>
        <button id="color13" ng-click="changeTheme(13);" class="colorPick" ng-class="{'selectedColor' : themeColor === 'color13'}"></button>
        <button id="color14" ng-click="changeTheme(14);" class="colorPick" ng-class="{'selectedColor' : themeColor === 'color14'}"></button>
        <button id="color15" ng-click="changeTheme(15);" class="colorPick" ng-class="{'selectedColor' : themeColor === 'color15'}"></button>
        <button id="color16" ng-click="changeTheme(16);" class="colorPick" ng-class="{'selectedColor' : themeColor === 'color16'}"></button>
    </div>
      
      <h2 class="page-header">Subscription Information</h2>
      
       <div ng-hide ="subscription.no_subscription">
        <p>Next Billing Date: {{subscription.next_billing_date}}</p>
        </div>
        
        <img ng-src="{{subscription.credit_card.image_url}}"><span>{{subscription.credit_card.masked_number}}</span>
        <p>Expires: {{subscription.credit_card.expiration}}</p>
        <button ng-hide="subscription.no_subscription" class="btn btn-default" ng-click="cancelSubscription()">Cancel Subscription</button>
        <button ng-show="subscription.no_subscription" class="btn btn-default" ng-click="subscribe()">Subscribe with this card</button>
        <div ng-show="subscription.no_subscription">
<!--      action needs to be: action="/create_transaction" method="POST" -->
          <form id="braintree-payment-form">
            <p>
              <label>First Name</label>
              <input type="text" size="20" autocomplete="off" ng-model="pay.first_name" />
            </p>
            <p>
              <label>Last Name</label>
              <input type="text" size="20" autocomplete="off" ng-model="pay.last_name" />
            </p>
            <p>
              <label>Card Number</label>
              <input type="text" size="20" autocomplete="off" ng-model="pay.number" />
            </p>
            <p>
              <label>CVV</label>
              <input type="text" size="4" autocomplete="off" ng-model="pay.cvv" />
            </p>
            <p>
              <label>Expiration (MM/YYYY)</label>
              <input type="number" size="2" ng-model="pay.exp_month" /> / <input type="text" size="4" ng-model="pay.exp_year" />
            </p>
            <p ng-show="$scope.error">{{error}}</p>
            <button type="submit" ng-click="subscribe(pay)" class="btn btn-default">Save Payment Info</button>
          </form>
        </div>
    </div>
</div>