<div class="container">

		<!-- HEADER AND TODO COUNT -->
		<div class="jumbotron text-center">
			<h1>The App</h1>
		</div>

</div>

<div class="container">
    <div id="statusContainer">
        <h2 class="well well-sm">Current Status:  <span class="currentStatus">{{$root.me.status}}</span></h2>
        <form name="statusUpdate" id="statusUpdate" ng-submit="updateStatus(status)">
            <div class="input-group">
              <input id="status" type="text" placeholder="update your status here" class="form-control" ng-model="status">
              <span class="input-group-btn">
                <button class="btn btn-default" type="submit">Update Status</button>
              </span>
            </div>
        </form>
        <p ng-show="statusUpdated">Status has been updated!</p>
    </div>
    <div>
        <ul ng-repeat="notify in $root.notifications | orderBy : '-timestamp' | limitTo: 5">
            <li class="notification" ng-class="{ new : notify.new }" ng-click="openNotificationModal(notify)">
            <hr>
                <div class="notificationContent">
                <span class="notificationTitle">{{notify.title}}</span>
<!--                <span class="notificationType" ng-show="notify.new">NEW</span>-->
                <span class="notificationSender" ng-show="notify.sender">{{notify.sender}}</span>
                </div>

            <hr>
            </li>
        </ul>
    </div>
</div>

<div class="modal fade" id="notificationModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">{{selectedNotification.title}}</h4>
      </div>
      <div class="modal-body">
        <p style="white-space: pre;">{{selectedNotification.content}}</p>
        <br>
        <p>From: {{selectedNotification.sender}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="closeNotificationModal()">OK</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->