<div class="container">

		<!-- HEADER AND TODO COUNT -->
		<div class="jumbotron text-center">
			<h1>Directory</h1>
		</div>

</div>

<div class="container">
    <div class="row" id="searchTags">
        <button class="btn btn-default btn-sm">Council</button>
        <button class="btn btn-default btn-sm">Leadership</button>
        <button class="btn btn-default btn-sm">Random</button>
    </div><br>
    <input id="directorySearch" type="search" ng-model="search" placeholder="Search...">
    <ul ng-repeat="member in directory | orderBy:'last_name' | multipleSearch:search">

        <li>
            <div>
                <a ng-click="showIndividual(member)">{{member.last_name}}, {{member.first_name}}</a>
            </div>
        </li>
    </ul>
</div>