<div ng-show="eventNotFound" class="jumbotron text-center"><h1>Event not found :(</h1></div>
<div ng-show="loading" id="loadingScreen"><i class="fa fa-spinner fa-spin"></i></div>

<div class="container" ng-hide="loading || eventNotFound">

<!--		 HEADER AND TODO COUNT -->
		<div class="jumbotron text-center">
			<h1>{{event.title}}</h1>
			<p>#{{event.tag}}</p>
		</div>


    <ul id="eventTags">
       <div ng-repeat = "type in tags">
        <div class="btn-group" ng-repeat="tag in type">
            <label class="label checkLabel" ng-class="{'label-primary': tag.checked, 'label-default': !tag.checked}">
            <i class="fa checkStatus" ng-class="{'fa-check-square-o': tag.checked, 'fa-square-o': !tag.checked}"></i>
            <input type="checkbox" ng-model="tag.checked"> <li>#{{tag.name}}</li>
            </label>
        </div>
        </div>
    </ul>
    
    <div id="messageList" class="well">
        <span class="messagePerson label label-primary"  ng-repeat="member in selectedMembers = ($root.directory.members | tagDirectorySearch:tags)">{{member.first_name}} {{member.last_name}}</span>
        <span ng-hide="selectedMembers.length">No one is selected.</span>
    </div>
    
<!--    <span ng-repeat="member in $root.directory.members | tagDirectorySearch:tags">{{member.first_name}} {{member.last_name}}</span>-->
    <form id="newEvent" name="newEvent" ng-submit="submitEdits(newEvent.$valid)" class="form-horizontal" role="form" novalidate>
    <div class="form-group" ng-class="{ 'has-error' : (newEvent.title.$invalid && !newEvent.title.$pristine) || (newEvent.title.$invalid && submitted)}">
        <label for="title" class="col-sm-2 control-label">Title</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="title" name="title" ng-model="event.title" placeholder="Bowling Social" required>
        </div>
        <p ng-show="(newEvent.title.$invalid && !newEvent.title.$pristine) || (newEvent.title.$invalid && submitted)" class="help-block">Please enter a title.</p>
    </div>
    
    <div class="form-group" ng-class="{ 'has-error' : (newEvent.description.$invalid && !newEvent.description.$pristine) || (newEvent.description.$invalid && submitted)}">
        <label for="description" class="col-sm-2 control-label">Description</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="description" name="description" ng-model="event.description" placeholder="We are going bowling! Yay!" required>
        </div>
        <p ng-show="(newEvent.description.$invalid && !newEvent.description.$pristine) || (newEvent.description.$invalid && submitted)" class="help-block">Please enter a description.</p>
    </div>   
    
    
<div class="form-group" ng-class="{ 'has-error' : ((newEvent.date_start.$invalid && !newEvent.date_start.$pristine) || (newEvent.date_start.$invalid && submitted)) || ((newEvent.time_start.$invalid && !newEvent.time_start.$pristine) || (newEvent.time_start.$invalid && submitted))}">
    <label for="time_start" class="col-sm-2 control-label">Time Start</label>
    <div class="col-xs-6 col-sm-5">

        <div class="date" id="datestartPicker">
            <div class="input-group">
            <input type="text" class="form-control" id="date_start" name="date_start" ng-model="event.date_start" placeholder="" required/>
            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
            </div>
        </div>

    </div>

    <div class="col-xs-6 col-sm-5">

        <div class="date" id="timestartPicker">
            <div class="input-group">
            <input type="text" class="form-control" id="time_start" name="time_start" ng-model="event.time_start" placeholder="" required/>
            <span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
            </div>
        </div>

    </div>
    <p ng-show="((newEvent.date_start.$invalid && !newEvent.date_start.$pristine) || (newEvent.date_start.$invalid && submitted)) || ((newEvent.time_start.$invalid && !newEvent.time_start.$pristine) || (newEvent.time_start.$invalid && submitted))" class="help-block">Please enter start date and time.</p>
</div>   

<div class="form-group" ng-class="{ 'has-error' : ((newEvent.date_end.$invalid && !newEvent.date_end.$pristine) || (newEvent.date_end.$invalid && submitted)) || ((newEvent.time_end.$invalid && !newEvent.time_end.$pristine) || (newEvent.time_end.$invalid && submitted))}">
    <label for="time_end" class="col-sm-2 control-label">Time End</label>
    <div class="col-xs-6 col-sm-5">

        <div class="date" id="dateendPicker">  
            <div class="input-group">
            <input type="text" class="form-control" id="date_end" name="date_end" ng-model="event.date_end" placeholder="" required/>
            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
            </div>
        </div>

    </div>
    <div class="col-xs-6 col-sm-5">

        <div class="date" id="timeendPicker">  
            <div class="input-group">
            <input type="text" class="form-control" id="time_end" name="time_end" ng-model="event.time_end" placeholder="" required/>
            <span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
            </div>
        </div>

    </div>
    <p ng-show="((newEvent.date_end.$invalid && !newEvent.date_end.$pristine) || (newEvent.date_end.$invalid && submitted)) || ((newEvent.time_end.$invalid && !newEvent.time_end.$pristine) || (newEvent.time_end.$invalid && submitted))" class="help-block">Please enter end date and time.</p>
</div> 

   
   <br><br>
    <button type="submit" class="btn btn-default pull-right">Save Changes</button>
    <button id="deleteEventButton" type="button" ng-click="openDeleteEventModal()" class="btn btn-danger">Delete Event</button>
</form>
<script type="text/javascript">
    $(function(){

    $('#timestartPicker').datetimepicker({
        icons: {
            time: "fa fa-clock-o",
            date: "fa fa-calendar",
            up: "fa fa-arrow-up",
            down: "fa fa-arrow-down"
        }
    });

    $('#timeendPicker').datetimepicker({
        icons: {
            time: "fa fa-clock-o",
            date: "fa fa-calendar",
            up: "fa fa-arrow-up",
            down: "fa fa-arrow-down"
        }
    });
    
    //updates the model for date inputs               
    $('.date input').focusout(function(){
     $(this).trigger('input');
    })
    
    //don't allow spaces on tag inputs
//    $('.tagInput').on({
//      keydown: function(e) {
//        if (e.which === 32)
//          return false;
//      },
//      change: function() {
//        this.value = this.value.replace(/\s/g, "");
//      }
//    });
    
    });
</script>

</div>


<div class="modal fade" id="deleteEventModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Delete this event?</h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="deleteEvent()">Delete</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->