<div ng-show="loading" id="loadingScreen"><i class="fa fa-spinner fa-spin"></i></div>


<div ng-hide="loading" class="container">
	
		<!-- HEADER AND TODO COUNT -->
		<div class="jumbotron">
			
<button onclick="window.location.assign('#/app/events')" class="btn btn-default leftButton"><i class="fa fa-reply"></i> Back</button>
<button ng-click="editEvent()" ng-show="$root.checkPermissions('leadership')" class="btn btn-default rightButton"><i class="fa fa-edit"></i> Edit</button>
			
			<h1 class="text-center">{{event.title}}</h1>
			<p class="text-center">#{{event.tag}}</p>

        <form class="inline-form">
        <div class="form-group">
        <span>Are you going?
         <label for="yesGoing">
        <input type="radio" id="yesGoing" ng-model="going" name="going">
        </label>
        <label for="notGoing">
        <input type="radio" id="notGoing" ng-model="not_going" name="not_going">
        </label>
        <div class="btn-group btn-group-lg">
        <button class="btn btn-primary" ng-class=" 'btn-primary' : going, 'btn-default' : not_going " ng-click="rsvp(true)">Yes</button>
        <button class="btn btn-default" ng-class=" 'btn-default' : going,  'btn-primary' : not_going " ng-click="rsvp(false)">No</button>
            Going: {{going}}, Not Going: {{not_going}}
        </div>
        </span>
        </div>
        </form>
			
		</div>
		

    <p>Start: {{event.time_start | date:'EEEE MMM d, y h:mm a'}}</p>
    <p>End: {{event.time_end | date:'EEEE MMM d, y h:mm a'}}</p>
    <p>Desciption: {{event.description}}</p>

    
    <h3 class="page-header">Going</h3>
    <ul>
        <li class="well well-sm" >
            <span class="messagePerson label label-primary" ng-repeat="person in event.going_list">{{person.first_name}} {{person.last_name}}</span>
        </li>
    </ul>
    <h3 class="page-header">Not Going</h3>
    <ul>
        <li class="well well-sm">
            <span class="messagePerson label label-primary"  ng-repeat="person in event.not_going_list">{{person.first_name}} {{person.last_name}}</span>
        </li>
    </ul>
    <h3 class="page-header">Invited</h3>
    <ul>
        <li class="well well-sm">
                <span class="messagePerson label label-primary"  ng-repeat="member in $root.directory.members | eventTagDirectorySearch:event.tags">{{member.first_name}} {{member.last_name}}</span>
        </li>
    </ul>
</div>