<div ng-show="eventNotFound" class="jumbotron text-center"><h1>Event not found :(</h1></div>

<div id="report" class="container" ng-hide="eventNotFound || loading">

			<h1 class="darkbg">Report for #{{event.tag}} <button class="btn btn-default pull-right" ng-click="downloadCSV()"><i class="fa fa-download"></i> Download</button>
</h1>
        <ul>

            <li ng-repeat="member in users | orderBy:['rsvp', 'last_name']" class="checkin" ng-show="member.attendance_data.time_in || member.attendance_data.time_out">
                <div class="checkinContent card">
                    <div class="smallprofilepic" style="background-image:url({{getProfPic(member.prof_pic)}});" ></div>
                    <h1 class="memberName card-header">{{member.first_name}} {{member.last_name}}</h1>
                    <span ng-show = "member.attendance_data.time_in">In: {{formatDate(member.attendance_data.time_in)}}</span><br>
                    <span ng-show = "member.attendance_data.time_out">Out: {{formatDate(member.attendance_data.time_out)}}</span><br>
                    <span ng-show = "member.attendance_data.time_in && member.attendance_data.time_out">Duration: {{timeDifference(member.attendance_data.time_in, member.attendance_data.time_out)}}</span><br>
                    </div>
                </li>
                
            
        </ul>
        
        <div id="noShows" class="card">
        <h1>No Shows</h1>
        <ul>
            <li ng-repeat="member in noShows | orderBy: 'user.last_name'" class="checkin">
                <span>{{member.user.first_name}} {{member.user.last_name}} {{member.rsvp}}</span>
            </li>
        </ul>
        </div>

</div>


<div ng-show="loading" id="loadingScreen"><i class="fa fa-spinner fa-spin"></i></div>		
