<section class="container" id="events">
        <div class="row">
        <div class="col-xs-12 col-sm-6 col-lg-4">
            <calendar id="calendar" calendar-mode="mode" event-source="eventSource">
        </div>
        <a id="newEventButton" href="#/app/newevent" ng-show="$root.checkPermissions('leadership')" class="btn btn-default">New Event <i class="fa fa-plus"></i></a> 
        <a id="newEventButton" data-toggle="collapse" data-target="#showHidden" class="btn btn-default pull-right"><i class="fa fa-history"></i> Show Past</a>
        <ul id="eventList" class="col-xs-12 col-sm-6 col-lg-8">
            <ul id="showHidden" class="collapse">
            <li class="notification" ng-repeat="event in events | orderBy:'-time_start' | removePassedEvents:false | multipleSearch:search" ng-click="showEvent(event)">
                <div class="notificationContent">
                <span class="notificationTitle">{{event.title}}</span>
                <span class="eventTime">{{showDate(event.time_start, event.time_end)}}</span>
                </div>
            </li>
            </ul>
            
            <li class="notification" ng-repeat="event in events | orderBy:'-time_start' | removePassedEvents:true | multipleSearch:search" ng-click="showEvent(event)">
                <div class="notificationContent">
                <span class="notificationTitle">{{event.title}}</span>
                <span class="eventTime">{{showDate(event.time_start, event.time_end)}}</span>
                </div>
            </li>
        </ul>
        </div>
</section>