<div class="container">

		
		<!-- HEADER AND TODO COUNT -->
		<div class="jumbotron text-center">
			<h1>Events</h1>
		</div>
</div>


<section class="container" id="events">
        <a id="newEventButton" href="#/app/newevent" ng-show="$root.checkPermissions('leadership')" class="btn btn-default">Add New Event</a> 
        <ul ng-repeat="event in events | orderBy:'-time_start' | multipleSearch:search">
            <li class="event" ng-click="showEvent(event)">
                <div class="eventContent">
                <span class="eventName">{{event.title}}</span>
                <span class="eventTime">{{showDate(event.time_start, event.time_end)}}</span>
                </div>
            </li>
        </ul>
</section>