<section class="container" id="events">
        <div class="row">
        <div class="col-xs-12 col-sm-4">
<!--            <calendar id="calendar" name="calendar" ng-model="calendarDate"></calendar>-->
            <a id="newEventButton" href="#/app/newevent" ng-show="$root.checkPermissions('leadership')" class="btn btn-default">New Event <i class="fa fa-plus"></i></a> 
        </div>
        <ul id="eventList" class="col-xs-12 col-sm-8">
            <li class="event" ng-repeat="event in events | orderBy:'-time_start' | multipleSearch:search" ng-click="showEvent(event)">
                <div class="eventContent">
                <span class="eventName">{{event.title}}</span>
                <span class="eventTime">{{showDate(event.time_start, event.time_end)}}</span>
                </div>
            </li>
        </ul>
        </div>
</section>