<div ng-show="eventNotFound" class="jumbotron text-center"><h1>Event not found :(</h1></div>
<div ng-show="loading" id="loadingScreen"><i class="fa fa-spinner fa-spin"></i></div>		

<div class="container">		
		<!-- HEADER AND TODO COUNT -->
		<div class="jumbotron text-center">
					<button class="btn btn-default topRight" ng-click="createReport()">Download Report</button>
			<h1>Report</h1>
		</div>
</div>

<div id="report" class="container" ng-hide="eventNotFound || loading">

        <ul>

            <li ng-repeat="member in users | orderBy:['rsvp', 'last_name'] | multipleSearch: search" class="checkin" ng-show="member.attendance_data.time_in || member.attendance_data.time_out">
            
                <div class="smallprofilepic" style="background-image:url({{getProfPic(member.prof_pic)}});" ></div>

                <div class="checkinContent">

                <span class="memberName">{{member.first_name}} {{member.last_name}}</span><br>
                <span ng-show = "member.attendance_data.time_in">In: {{formatDate(member.attendance_data.time_in)}}</span><br>
                <span ng-show = "member.attendance_data.time_out">Out: {{formatDate(member.attendance_data.time_out)}}</span><br>
                <span ng-show = "member.attendance_data.time_in && member.attendance_data.time_out">Duration: {{timeDifference(member.attendance_data.time_in, member.attendance_data.time_out)}}</span><br>
                </div>
                </li>
                
            
        </ul>
            <h2>No shows</h2>
        <ul>

            <li ng-repeat="member in noShows | orderBy: 'user.last_name'" class="checkin">
            
<!--
                <div class="smallprofilepic" style="background-image:url({{getProfPic(member.prof_pic)}});" ></div>

                <div class="checkinContent">

                <span class="memberName">{{member.first_name}} {{member.last_name}}</span><br>
                <span ng-show = "member.attendance_data.time_in">In: {{formatDate(member.attendance_data.time_in)}}</span><br>
                <span ng-show = "member.attendance_data.time_out">Out: {{formatDate(member.attendance_data.time_out)}}</span><br>
                <span ng-show = "member.attendance_data.time_in && member.attendance_data.time_out">Duration: {{timeDifference(member.attendance_data.time_in, member.attendance_data.time_out)}}</span><br>
                </div>
-->
                <span>{{member.user.first_name}} {{member.user.last_name}} {{member.rsvp}}</span>
            </li>
                
            
        </ul>

</div>