<div ng-show="loading" id="loadingScreen"><i class="fa fa-spinner fa-spin"></i></div>


<div ng-hide="loading" class="container">
	
		<!-- HEADER AND TODO COUNT -->
		<div class="jumbotron">
			
<button onclick="window.location.assign('#/app/events')" class="btn btn-default leftButton"><i class="fa fa-reply"></i> Back</button>
<button ng-click="editEvent()" ng-show="$root.checkPermissions('leadership')" class="btn btn-default rightButton"><i class="fa fa-edit"></i> Edit</button>
			
			<h1 class="text-center">{{event.title}}</h1>
		</div>
		

    <p>Desciption: {{event.description}}</p>
    <h3 class="page-header">Going</h3>
    <ul>
        <li class="well well-sm" ng-repeat="person in event.going_list">
            <span class="messagePerson label label-primary">{{person.first_name}} {{person.last_name}}</span>
        </li>
    </ul>
    <h3 class="page-header">Not Going</h3>
    <ul>
        <li class="well well-sm" ng-repeat="person in event.not_going_list">
            <span class="messagePerson label label-primary">{{person.first_name}} {{person.last_name}}</span>
        </li>
    </ul>
    <h3 class="page-header">Invited</h3>
    <ul>
        <li class="well well-sm" ng-repeat="member in $root.directory.members | eventTagDirectorySearch:event.tags">
                <span class="messagePerson label label-primary">{{member.first_name}} {{member.last_name}}</span>
        </li>
    </ul>
</div>