<div class="container">
<!--
       <ul ng-repeat="member in datas | orderBy:'last_name' | multipleSearch:search">

            <li class="member" ng-show="member.user_name.length" ng-click="showIndividual(member)">
            
                <div class="smallprofilepic" style="background-image:url({{member.prof_pic}});" ></div>

                <div class="directoryContent">
                <span class="memberName">{{member.first_name}} {{member.last_name}}</span>
                <span ng-repeat="tag in member.tags | orderBy: 'toString()'"> <span class="directoryTags">{{tag}}</span> </span>
                <span class="directoryStatus" ng-show="member.status.length">{{member.status}}</span>
                </div>

            
            </li>
        </ul>
-->
       
        <ul >

            <li ng-repeat="member in users | orderBy:'rsvp'" class="member" ng-show="member.user_name.length" ng-click="showIndividual(member)">
            
                <div class="smallprofilepic" style="background-image:url({{member.prof_pic}});" ></div>

                <div class="directoryContent">
                <span class="memberName">{{member.first_name}} {{member.last_name}}</span>
                <span ng-show="member.attendance_data">In: {{member.attendance_data.time_in}}  Out: {{member.attendance_data.time_out}}</span>
                <button class="btn btn-default" ng-click = "checkIn(member)">Check In</button><button class="btn btn-default" ng-click = "checkOut(member)">Check Out</button>
                </div>
            
            <button ng-click="checkIn(member)" class="btn btn-lg btn-success"><i class="fa fa-key"></i></button>
            <button ng-click="checkOut(member)" class="btn btn-lg btn-danger"><i class="fa fa-leaf"></i></button>
            
            </li>
        </ul>
       
</div>