<div class="container">


<h1 class="darkbg">Forgotten Password</h1>

<div ng-hide="sentEmail">
        <h2 class="page-header">Please enter your username or email.</h2>
        <form class="form-horizontal" role="form">
          <div class="form-group">
            <label for="inputUser" class="col-sm-2 control-label">User Name OR Email</label>
            <div class="col-sm-10">
              <input type="username" class="form-control" id="inputUser" ng-model="item.input" placeholder="john.doe   OR   john.doe@gmail.com">
            </div>
          </div>    
            
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button ng-click="reset(item.input)" class="btn btn-default" ng-disabled="gettingnewPassword == 'pending'">Submit</button> <update-status ng-model="gettingnewPassword"></update-status>
            </div>
          </div>
        </form>

    <div ng-show="showList">
        <p ng-hide="returned_choices.length">No users with that email. Try again.</p>
        <div ng-show="returned_choices.length"> 
            <div class="col-xs-4">User Name</div>
            <div class="col-xs-4">Organization</div>
            <div class="col-xs-4">Reset</div>
        </div>
        <ul class="striped">
            <li ng-repeat = "item in returned_choices">
                <div class="col-xs-4">{{item.user_name}}</div>
                <div class="col-xs-4">{{item.org_name}}</div>
                <button ng-click="reset(item.user_name)" class="btn btn-default">Reset</button>
            </li>
        </ul>
    </div>

</div>

<div ng-show="sentEmail">
    <p>An email has been sent with instructions on how to reset your account.</p>
</div>

<div ng-show="emailFailed">
    <p>Your Username was Invalid</p>
</div>


</div>