<div id="manageMembers" class="container">
   
    <div class="card">
        <h1 class="card-header">Member Actions</h1>
        <button ng-click="openConvertMembersModal()" class="btn btn-default" ng-disabled = "!((members|checkedFilter).length)">Convert To Alumni</button>
    </div>        
   
   <div class="card">
    <div class="form-group">
    <input id="manageMembersSearch" class="form-control" type="search" ng-model="search" placeholder="Search Members">
    </div>
    
    <ul id="members">
       
        <li ng-repeat="member in members | orderBy:'last_name' | nameSearch:search" ng-hide="member.user_name == $root.me.user_name" ng-init="member.name = member.first_name + ' ' + member.last_name;">
           
           <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <netemember-check class="members" ng-model="member"></netemember-check>

                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="pull-right">
                        <update-status ng-model="member.updating" fn-call="updatePerms(member, option)"></update-status>
                        <button ng-click="resendWelcomeEmail(member)" ng-hide="member.user_name" class="btn btn-info btn-sm resendWelcome">Resend Welcome Email</button>
                        <form class="permsSelect">
                            <select ng-init="option=member.perms" ng-model="option" ng-change="updatePerms(member, option)">
                                <option value="council">council</option>
                                <option value="member">member</option>
                                <option value="leadership">leadership</option>
                            </select>
                        </form>
                        <button ng-click="openDeleteMemberModal(member)" class="btn btn-danger btn-sm trash"><i class="fa fa-trash-o"></i></button>
                    </div>
                </div>
            </div>     
        </li>
    </ul>
        <p ng-show="members.length < 1">There are no members to manage!</p>    
    </div>
</div>

<div class="modal fade" id="deleteMemberModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Remove {{userToDelete.first_name}} {{userToDelete.last_name}} ?</h4>
      </div>
      <div class="modal-body">
        <div class="profilepic" style="background-image:url({{userToDelete.prof_pic || $root.defaultProfilePicture}});" >
    </div>    
    
    <div class="row"><h1>{{userToDelete.first_name}} {{userToDelete.last_name}}</h1></div>
    <div class="row" ng-show="userToDelete.dob">Birthday: {{userToDelete.dob}}</div>
    <div class="row" ng-show="userToDelete.phone">Phone: {{userToDelete.phone}}</div>
    <div class="row" ng-show="userToDelete.email">Email: {{userToDelete.email}}</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" ng-click="removeMember(userToDelete)">Remove Member</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
    
    
    
<div class="modal fade" id="convertMemberModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Are you sure you want to convert these members to alumni?</h4>
      </div>
      <div class="modal-body">
              <div ng-repeat="member in members" ng-show="member.checked">{{member.first_name}} {{member.last_name}}</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" ng-click="convertMembersToAlumni(selectedMembers)">Convert Members to Alumni</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
    
  
  
 
