<div class="container">
        
                <!-- HEADER AND TODO COUNT -->
                <div class="jumbotron text-center">
                    <h1>Manage Alumni</h1>
                </div>
        
        </div>
        
        <div class="container">
            
            <ul ng-repeat="alumnus in alumni | orderBy:'last_name'">
                
                    <li>
                        
                    <br>
                    {{ alumnus.first_name }}, {{ alumnus.last_name }}, {{ alumnus.class_year }}, {{ alumnus.email }}
                    <button ng-click="removeAlumni(alumnus)">Delete Alumnus</button>
                    </li>
                
            </ul>
            <p ng-show="alumni.length < 1">There are no alumni to manage!</p>
            
        </div>