<div class="container">
<!-- Nav tabs -->
<ul id="managemembersTabs" class="nav nav-tabs">
  <li class="active"><a href="#managemembers" data-toggle="tab">Manage Members</a></li>
  <li><a href="#addmembers" data-toggle="tab">Add Members</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
    <div class="tab-pane active" id="managemembers">
  
  
        <div class="container">
        
                <!-- HEADER AND TODO COUNT -->
                <div class="jumbotron text-center">
                    <h1>Manage Members</h1>
                </div>
        
        </div>
        
        <div class="container">
            
            <ul ng-repeat="member in members | orderBy:'last_name'">
                
                    <li>{{ member.first_name }}, {{ member.last_name }}, {{ member.class_year }}, {{ member.email }} <button class="btn btn-danger btn-sm" ng-click="deleteMember(member)">delete</button></li>
                
            </ul>
            
        </div>
  
    </div>
    <div class="tab-pane" id="addmembers">
        
        <div class="container">

		<!-- HEADER AND TODO COUNT -->
		<div class="jumbotron text-center">
			<h1>Add Members</h1>
		</div>

        </div>
        
            
        <div class="container">
            
            <pre id="result"></pre>
            <button ng-click="submitMembers()" class="btn btn-default">Submit Members</button>
            
            <hr>
            
            <p id='areAdded'></p>
            <form id="addmembersForm" role="form">
                <div class="form-group">
                    <label for="uploadMembers">Upload CSV</label>
                    <input type="file" id="uploadMembers" accept=".csv">
                </div>
                <div class="form-group">
                    <button ng-click="addMembers()" class="btn btn-default">Add Members</button>
                </div>
            </form>
            
            <hr>
            
            <form id="addmemberForm" role="form">
                  <div class="form-group col-sm-3 col-xs-6">
                    <label for="firstName" class="control-label">First Name</label>
                      <input type="text" class="form-control" id="firstName" name="first_name" ng-model="input.first_name" placeholder="John" required>
                  </div>
                  <div class="form-group col-sm-3 col-xs-6">
                    <label for="lastName" class="control-label">Last Name</label>
                      <input type="text" class="form-control" id="lastName" name="last_name" ng-model="input.last_name" placeholder="Doe" required>
                  </div>
                  <div class="form-group col-sm-3 col-xs-6">
                    <label for="classYear" class="control-label">Class Year</label>
                      <input type="number" class="form-control" id="classYear" name="class_year" ng-model="input.class_year" placeholder="2014" value="2014" required>
                  </div>
                  <div class="form-group col-sm-3 col-xs-6">
                    <label for="email" class="control-label">Email</label></label>
                      <input type="email" class="form-control" id="email" name="email" ng-model="input.email" placeholder="john.doe@email.com" required>
                  </div>
                  <div class="form-group">
                      <button ng-click="addMember()" class="btn btn-default">Add Member</button>
                  </div>
             </form>
            
        </div>
        
    </div>
</div>

</div>