<div id="manageMembers" class="container">
    <div class="form-inline">
    <div class="form-group">
    <input id="manageMembersSearch" class="form-control" type="search" ng-model="search" placeholder="Search Members">
    </div>
    <button ng-click="openConvertMembersModal()" class="btn btn-default">Convert To Alumni</button>
    <button ng-click="openDeleteMemberModal()" class="btn btn-default">Delete Members</button>
    </div>
    <ul ng-repeat="member in members | orderBy:'last_name' | multipleSearch:search">

        <li ng-hide="member.user_name == $root.me.user_name">
            
            <div class="btn-group">
                <label class="label label-default checkLabel">
                        <i class="fa fa-square-o checkStatus"></i>
                        <input type="checkbox" ng-model="selectedMembers[member.key]">{{ member.first_name }} {{ member.last_name }}
                </label>
            </div>
            
<!--            <button ng-click="openDeleteMemberModal(member)">Delete Member</button>-->
<!--            <input type="checkbox" ng-model="selectedMembers[member.key]">-->
            <form class="permsSelect">
                <select ng-init="option=member.perms" ng-model="option" ng-change="updatePerms(member.key, option)">
                    <option value="council">council</option>
                    <option value="member">member</option>
                    <option value="leadership">leadership</option>
                </select>
            </form>

        </li>

    </ul>
    <p ng-show="members.length < 1">There are no members to manage!</p>
</div>

<div class="modal fade" id="deleteMemberModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Delete {{userToDelete.first_name}} {{userToDelete.last_name}} ?</h4>
      </div>
      <div class="modal-body">
        <div class="profilepic" style="background-image:url({{userToDelete.prof_pic}});" >
    </div>    
    
    <div class="row"><h1>{{userToDelete.first_name}} {{userToDelete.last_name}}</h1></div>
    <div class="row" ng-show="userToDelete.dob">Birthday: {{userToDelete.dob}}</div>
    <div class="row" ng-show="userToDelete.phone">Phone: {{userToDelete.phone}}</div>
    <div class="row" ng-show="userToDelete.email">Email: {{userToDelete.email}}</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" ng-click="removeMember(userToDelete)">Delete Member</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
    
    
    
<div class="modal fade" id="convertMemberModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Are you sure you want to convert these members to alumni?</h4>
        <div ng-repeat="member in selectedMembers">{{member.first_name}} {{member.last_name}}</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" ng-click="convertMembersToAlumni(selectedMembers)">Convert Members to Alumni</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
    
  
  
 
