<div class="container">
            
            <ul ng-repeat="tag in tags">
<!--     #FIXME           idk how to get the ng-true-value to dyanically equal the tag name -->
                <input type="checkbox" ng-true-value="{tag}"> <li>{{ tag }}</li> <button ng-click="addselectedTags()">Add Tags</button><button ng-click="removeselectedTag()">Remove Tags</button>
            </ul>
            
            <ul ng-repeat="member in members | orderBy:'last_name'">
                    
                    <li>
            Tags:   <ul class="memberTags" ng-repeat="tag in member.tags">
                        <li>{{ tag }}</li>
                    </ul>
                    <br>
<!--     #FIXME               idk how to dynamically add the username here  -->
                    <input type="checkbox" ng-true-value={member.username}> {{ member.first_name }}, {{ member.last_name }}, {{ member.class_year }}, {{ member.email }}
                    </li>
                
            </ul>
            
            <h2>Add/Remove Tags</h2>
            <form id="addTag" ng-submit="addTag(tag)"><input name="tag" id="tag" ng-model="item.tag" class="form-control" type="text"><button type="submit" class="btn btn-default btn-sm">Add Tag</button></form>
            
</div>