<div class="container" id="directory">
    
    <section id="searchTags">
        
<!--
        <div class="btn-group">
            <button class="btn btn-default btn-sm">Council</button>
            <button class="btn btn-default btn-sm">Leadership</button>
        </div>
-->
        
    <div class="form-group">
    <input id="directorySearch" type="search" ng-model="search" placeholder="Search..." class="form-control">
    </div>
    
    </section>
    
    <section ng-repeat="group in directory">
        <h2 class="page-header">{{group.name}}</h2>
        <ul>
            <li ng-repeat="member in group.data | orderBy:'last_name' | multipleSearch:search" class="member" ng-show="member.user_name.length" ng-click="showIndividual(member)">
            
                <div class="smallprofilepic" style="background-image:url({{member.prof_pic}});" ></div>

                <div class="directoryContent">
                <span class="memberName">{{member.first_name}} {{member.last_name}}</span>
                <span ng-repeat="tag in member.tags | orderBy: 'toString()'"> <span class="directoryTags">{{tag}}</span> </span>
                <span class="directoryStatus" ng-show="member.status.length">{{member.status}}</span>
                </div>

            
            </li>
        </ul>
    </section>
<!--
    <div ng-show = "directory.leadership.length > 0">
        <h2>Leaders</h2>    
        <ul ng-repeat="member in directory.leadership | orderBy:'last_name' | multipleSearch:search">

            <li class="member" ng-click="showIndividual(member)">
            <hr>
                <div class="smallprofilepic" style="background-image:url({{member.prof_pic}});" ></div>

                <div class="directoryContent">
                <span class="memberName">{{member.first_name}} {{member.last_name}}</span>
                <span ng-repeat="tag in member.tags"> <span class="directoryTags">{{tag}}</span> </span>
                <span class="directoryStatus" ng-show="member.status.length">{{member.status}}</span>
                </div>

            <hr>
            </li>
        </ul>
    </div>
    
    <div ng-show="directory.members.length > 0">
        <h2>Members</h2>
        <ul ng-repeat="member in directory.members | orderBy:'last_name' | multipleSearch:search">

            <li class="member" ng-click="showIndividual(member)">
            <hr>
                <div class="smallprofilepic" style="background-image:url({{member.prof_pic}});" ></div>

                <div class="directoryContent">
                <span class="memberName">{{member.first_name}} {{member.last_name}}</span>
                <span ng-repeat="tag in member.tags"> <span class="directoryTags">{{tag}}</span> </span>
                <span class="directoryStatus" ng-show="member.status.length">{{member.status}}</span>
                </div>

            <hr>
            </li>
        </ul>
    </div>
-->
</div>