<div class="container">

		<!-- HEADER AND TODO COUNT -->
		<div class="jumbotron text-center">
			<h1>Messaging page</h1>
		</div>

</div>


<div class="container">
    
    <ul class="messagingTags">
        <div class="btn-group" ng-repeat="tag in organizationTags">
            <label class="label label-default checkLabel">
            <i class="fa fa-square-o checkStatus"></i>
            <input type="checkbox" ng-model="selectedTags[tag]"> <li>{{ tag }}</li>
            </label>
        </div>
    </ul>
    
    <form name="messagingForm" id="messagingForm" ng-submit="sendMessage(messagingForm.$valid)" novalidate>
        <div class="form-group" ng-class="{ 'has-error' : (messagingForm.title.$invalid && !messagingForm.title.$pristine) || (messagingForm.title.$invalid && submitted)}">
            <input type="text" id="title" name="title" class="form-control" placeholder="Enter your title here..." required>
            <p ng-show="(messagingForm.title.$invalid && !messagingForm.title.$pristine) || (messagingForm.title.$invalid && submitted)" class="help-block">Please enter a message title.</p>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : (messagingForm.content.$invalid && !messagingForm.content.$pristine) || (messagingForm.content.$invalid && submitted)}">
            <textarea id="content" name="content" class="form-control" placeholder="Enter your message here..." required></textarea>
            <p ng-show="(messagingForm.content.$invalid && !messagingForm.content.$pristine) || (messagingForm.content.$invalid && submitted)" class="help-block">Please enter a message title.</p>
        </div>
        <button type="submit" class="btn btn-default"><i class="fa fa-paper-plane"></i> Send</button>
    </form>
    
</div>