<div class="container">

<!--		 HEADER AND TODO COUNT -->
		<div class="jumbotron text-center">
			<h1>New Event</h1>
		</div>

</div>

<div class="container">
    
    <ul id="eventTags">
       <div ng-repeat = "type in tags">
        <div class="btn-group" ng-repeat="tag in type">
            <label class="label checkLabel" ng-class="{'label-primary': tag.checked, 'label-default': !tag.checked}">
            <i class="fa checkStatus" ng-class="{'fa-check-square-o': tag.checked, 'fa-square-o': !tag.checked}"></i>
            <input type="checkbox" ng-model="tag.checked"> <li>#{{tag.name}}</li>
            </label>
        </div>
        </div>
    </ul>

    <div id="messageList" class="well">
        <span class="messagePerson label label-primary"  ng-repeat="member in selectedMembers = ( $root.directory.members | tagDirectorySearch:tags )">{{member.first_name}} {{member.last_name}}</span>
        <span ng-hide="selectedMembers.length">No one is selected.</span>
    </div>

    <form id="newEvent" name="newEvent" ng-submit="addEvent(newEvent.$valid, event)" class="form-horizontal" role="form" novalidate>
    <div class="form-group" ng-class="{ 'has-error' : (newEvent.title.$invalid && !newEvent.title.$pristine) || (newEvent.title.$invalid && submitted)}">
        <label for="title" class="col-sm-2 control-label">Title</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="title" name="title" ng-model="event.title" placeholder="Bowling Social" required>
        </div>
        <p ng-show="(newEvent.title.$invalid && !newEvent.title.$pristine) || (newEvent.title.$invalid && submitted)" class="help-block">Please enter a title.</p>
    </div>
    
    <div class="form-group" ng-class="{ 'has-error' : (newEvent.description.$invalid && !newEvent.description.$pristine) || (newEvent.description.$invalid && submitted)}">
        <label for="description" class="col-sm-2 control-label">Description</label>
        <div class="col-sm-10">
          <textarea class="form-control" id="description" name="description" ng-model="event.description" placeholder="We are going bowling! Yay!" required></textarea>
        </div>
        <p ng-show="(newEvent.description.$invalid && !newEvent.description.$pristine) || (newEvent.description.$invalid && submitted)" class="help-block">Please enter a description.</p>
    </div>   
    
    <div class="form-group" ng-class="{ 'has-error' : ((newEvent.date_start.$invalid && !newEvent.date_start.$pristine) || (newEvent.date_start.$invalid && submitted)) || ((newEvent.time_start.$invalid && !newEvent.time_start.$pristine) || (newEvent.time_start.$invalid && submitted))}">
        <label for="time_start" class="col-sm-2 control-label">Time Start</label>
        <div class="col-xs-6 col-sm-5">

        <date-picker id="datestartPicker" ng-model="date_start" name="date_start"></date-picker>
        
        </div>
        
        <div class="col-xs-6 col-sm-5">

        <time-picker id="timestartPicker" ng-model="time_start" name="time_start"></time-picker>
        
        </div>
        <p ng-show="((newEvent.date_start.$invalid && !newEvent.date_start.$pristine) || (newEvent.date_start.$invalid && submitted)) || ((newEvent.time_start.$invalid && !newEvent.time_start.$pristine) || (newEvent.time_start.$invalid && submitted))" class="help-block">Please enter start date and time.</p>
    </div>   
    
    <div class="form-group" ng-class="{ 'has-error' : ((newEvent.date_end.$invalid && !newEvent.date_end.$pristine) || (newEvent.date_end.$invalid && submitted)) || ((newEvent.time_end.$invalid && !newEvent.time_end.$pristine) || (newEvent.time_end.$invalid && submitted))}">
        <label for="time_end" class="col-sm-2 control-label">Time End</label>
        <div class="col-xs-6 col-sm-5">
        
        <date-picker id="dateendPicker" ng-model="date_end" name="date_end"></date-picker>
        
        </div>
        <div class="col-xs-6 col-sm-5">

        <time-picker id="timeendPicker" ng-model="time_end" name="time_end"></time-picker>
        
        </div>
        <p ng-show="((newEvent.date_end.$invalid && !newEvent.date_end.$pristine) || (newEvent.date_end.$invalid && submitted)) || ((newEvent.time_end.$invalid && !newEvent.time_end.$pristine) || (newEvent.time_end.$invalid && submitted))" class="help-block">Please enter end date and time.</p>
    </div>

    <div class="form-group has-feedback" ng-class="{ 'has-error' : (newEvent.tag.$invalid && !newEvent.tag.$pristine) || (newEvent.tag.$invalid && submitted) || unavailable, 'has-success' : available}">
        <label for="tag" class="col-sm-2 control-label">Event Tag</label>
        <div class="col-sm-10">
        <div class="input-group">
        <span class="input-group-addon">#</span>
        <input type="text" class="form-control tagInput" id="tag" name="tag" ng-model="event.tag" ng-trim="false" placeholder="BowlingSocial2014" required>
        <span class="input-group-btn">
           <button ng-click="checkTagAvailability(event.tag)" class="btn btn-default" type="button">Check availability</button>
        </span>
        </div>
        
        <span class="form-control-feedback" ng-show="(newEvent.tag.$invalid && !newEvent.tag.$pristine) || (newEvent.tag.$invalid && submitted)" class="help-block">Please enter a tag for the event.</span>
        <span class="form-control-feedback" ng-show="isEmpty" class="help-block">Please enter a tag for the event.</span>
        <span class="form-control-feedback" ng-show="available" class="help-block">That will work!</span>
        <span class="form-control-feedback" ng-show="unavailable" class="help-block">That tag is already taken!</span>
    
        </div>
        
    </div>
    
   
    <button type="submit" class="btn btn-default pull-right" ng-disabled= "!selectedMembers.length || !newEvent.$valid">Submit</button>
</form>
 <div ng-show="loading" id="loadingScreen"><i class="fa fa-spinner fa-spin"></i></div>
<!--
<script type="text/javascript">
    $(function(){
    
    //updates the model for date inputs               
    $('.date input').focusout(function(){
     $(this).trigger('input');
    })
    
    });
</script>
-->
</div>