<div id="newPoll" class="container">

<div class="card">
    
<h1 class="card-header">Create a New Poll</h1>
    
<selecting-users ng-model="tags"></selecting-users>
    
<h2 class="card-header">Poll Info</h2>

    <form id="newPoll" name="newPoll" ng-submit="createPoll(newPoll.$valid)" class="form-horizontal" role="form" novalidate>
    <div class="form-group" ng-class="{ 'has-error' : (newPoll.title.$invalid && !newPoll.title.$pristine) || (newPoll.title.$invalid && submitted)}">
        <label for="title" class="col-sm-2 control-label">Title</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="title" name="title" ng-model="poll.name" placeholder="Questions for our Next Party" required>
        </div>
        <p ng-show="(newPoll.title.$invalid && !newPoll.title.$pristine) || (newPoll.title.$invalid && submitted)" class="help-block">Please enter a title.</p>
    </div>
    
    <div class="form-group" ng-class="{ 'has-error' : (newPoll.description.$invalid && !newPoll.description.$pristine) || (newPoll.description.$invalid && submitted)}">
        <label for="description" class="col-sm-2 control-label">Description</label>
        <div class="col-sm-10">
          <textarea class="form-control" id="description" name="description" ng-model="poll.description" placeholder="We are having a party. Yay!" required></textarea>
        </div>
        <p ng-show="(newPoll.description.$invalid && !newPoll.description.$pristine) || (newPoll.description.$invalid && submitted)" class="help-block">Please enter a description.</p>
    </div>     
      
      
<!--

<div class="btn-group" ng-model="button.radio" bs-radio-group>
  <label class="btn btn-default"><input type="radio" class="btn btn-default" value="First">Everyone</label>
  <label class="btn btn-default"><input type="radio" class="btn btn-default" value="1"> Second</label>
  <label class="btn btn-default"><input type="radio" class="btn btn-default" value="2"> Third</label>  
-->
      
      
    <div class="form-group" ng-init="poll.viewers = 'everyone'">
        <label class="col-sm-2 control-label">Who can view results?</label>
          <div class="btn-group col-sm-10">
          <a class="btn" ng-class="{'btn-primary': poll.viewers == 'everyone', 'btn-default': poll.viewers != 'everyone' }" ng-click="poll.viewers = 'everyone'">Everyone</a>
          <a class="btn"  ng-class="{'btn-primary': poll.viewers == 'leadership',  'btn-default': poll.viewers != 'leadership' }"  ng-click="poll.viewers = 'leadership'"> Leadership and Council</a>
          <a class="btn" ng-class="{'btn-primary': poll.viewers == 'council',  'btn-default': poll.viewers != 'council' }"  ng-click="poll.viewers = 'council'">Council Only</a>  
        </div>
    </div>
    
    <div class="form-group" ng-init="poll.show_names=true">
        <label class="col-sm-2 control-label">Display names in results?</label>
        <div class="btn-group col-sm-10" ng-model="poll.show_names">
          <a class="btn" ng-class="{'btn-primary': poll.show_names == true,  'btn-default': !poll.show_names}" ng-click="poll.show_names = true">Yes</a>
          <a class="btn" ng-class="{'btn-primary': !poll.show_names,  'btn-default': poll.show_names == true}" ng-click="poll.show_names=false">No</a> 
        </div>    
    </div>  
    <div class="pollQuestion" ng-repeat="question in poll.questions">
               
        <button type="button" class="close" ng-click="removeQuestion($index)" bs-tooltip="deletePollTip" data-placement="left"><i class="fa fa-trash-o"></i></button>
        
        <div class="pollQuestionContent">
        
        
            <div class="form-group" ng-class="{ 'has-error' : (newPoll.title{{$index}}.$invalid && !newPoll.title{{$index}}.$pristine) || (newPoll.title{{$index}}.$invalid && submitted)}">
                <label for="title" class="col-sm-2 control-label">Question</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" name="title{{$index}}" ng-model="question.worded_question" placeholder="What kind of ice cream should we get?" required>
                </div>
                <p ng-show="(newPoll.title{{$index}}.$invalid && !newPoll.title{{$index}}.$pristine) || (newPoll.title{{$index}}.$invalid && submitted)" class="help-block">Please enter a question.</p>
            </div>
            <div class="form-group" ng-class="{ 'has-error' : (newPoll.type{{$index}}.$invalid && !newPoll.type{{$index}}.$pristine) || (newPoll.type{{$index}}.$invalid && submitted)}">
                <label for="title" class="col-sm-2 control-label">Type</label>
                <div class="col-sm-10">
                  <select type="text" class="form-control" name="type{{$index}}" ng-model="question.type" required>
                    <option value="text">Textbox</option>
                    <option value="multiple_choice">Multiple Choice</option>
                  </select>
                </div>
                <p ng-show="(newPoll.type{{$index}}.$invalid && !newPoll.type{{$index}}.$pristine) || (newPoll.type{{$index}}.$invalid && submitted)" class="help-block">Please enter a title.</p>
            </div>
            <div ng-show="question.type === 'multiple_choice'">
               <div class="row">
                <div id="addchoices" ng-hide="question.choices.length > 4">
                   <label class="col-sm-2 control-label">Add Choices</label>
                    <div class="col-sm-10">
                            <div class="input-group">
                            <input type="text" class="form-control" ng-model="question.temp_choice" placeholder="enter multiple choice" ng-enter="addChoice(question, question.temp_choice);">
                            <span class="input-group-btn"><button type="button" class="btn btn-default" ng-click="addChoice(question, question.temp_choice);">Add</button></span>
                            </div>
                    </div>

                </div>
                <label ng-show="question.choices.length" class="col-sm-2 control-label">Choices</label>
                <ul  ng-show="question.choices.length" class="col-sm-10" class="list-group">
                    <li ng-repeat="choice in question.choices" class="list-group-item">{{ choice }} <button type="button" class="close" ng-click="removeChoice(question, $index)">×</button></li>
                </ul>
                </div>
            </div>
        
        </div>
                
    </div>

    <button type="button" ng-hide="poll.questions.length > 9" class="btn btn-default pull-left" ng-click="addQuestion()">Add Question <i class="fa fa-plus"></i></button>

    <span class="pull-right"><update-status ng-model="working"></update-status><button type="button" ng-click="createPoll(newPoll.$valid)" class="btn btn-default" ng-disabled="!selectedMembers.length || !newPoll.$valid || !poll.questions.length || (working && working != 'broken')">Send Poll</button></span>
</form>

</div>

 <div ng-show="loading" id="loadingScreen"><i class="fa fa-spinner fa-spin"></i></div>
</div>