<div id="newPoll" class="container">

<!--		 HEADER AND TODO COUNT -->
		<div class="jumbotron text-center">
			<h1>New Poll</h1>
		</div>
    
<selecting-users ng-model="tags"></selecting-users>

    <form id="newPoll" name="newPoll" ng-submit="createPoll(newPoll.$valid)" class="form-horizontal" role="form" novalidate>
    <div class="form-group" ng-class="{ 'has-error' : (newPoll.title.$invalid && !newPoll.title.$pristine) || (newPoll.title.$invalid && submitted)}">
        <label for="title" class="col-sm-2 control-label">Title</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="title" name="title" ng-model="poll.name" placeholder="Bowling Social" required>
        </div>
        <p ng-show="(newPoll.title.$invalid && !newPoll.title.$pristine) || (newPoll.title.$invalid && submitted)" class="help-block">Please enter a title.</p>
    </div>
    
    <div class="form-group" ng-class="{ 'has-error' : (newPoll.description.$invalid && !newPoll.description.$pristine) || (newPoll.description.$invalid && submitted)}">
        <label for="description" class="col-sm-2 control-label">Description</label>
        <div class="col-sm-10">
          <textarea class="form-control" id="description" name="description" ng-model="poll.description" placeholder="We are going bowling! Yay!" required></textarea>
        </div>
        <p ng-show="(newPoll.description.$invalid && !newPoll.description.$pristine) || (newPoll.description.$invalid && submitted)" class="help-block">Please enter a description.</p>
    </div>     
      
<!--    <input type="text"  ng-autocomplete ng-model="autocomplete" options="options" details="details"/>-->
<!--
    <div class="form-group" ng-class="{ 'has-error' : ((newPoll.date_start.$invalid && !newPoll.date_start.$pristine) || (newPoll.date_start.$invalid && submitted)) || ((newPoll.time_start.$invalid && !newPoll.time_start.$pristine) || (newPoll.time_start.$invalid && submitted))}">
        <label for="date_start" class="col-xs-2 control-label">Start</label>
        <div class="col-xs-5 col-sm-5">

        <date-picker id="datestartPicker" name="date_start"  ng-model="poll.date_start"></date-picker>
        </div>
        
        <div class="col-xs-5 col-sm-5">

        <time-picker id="timestartPicker" name="time_start" ng-model="poll.time_start"></time-picker>

        
        </div>
        <p ng-show="((newPoll.date_start.$invalid && !newPoll.date_start.$pristine) || (newPoll.date_start.$invalid && submitted)) || ((newPoll.time_start.$invalid && !newPoll.time_start.$pristine) || (newPoll.time_start.$invalid && submitted))" class="help-block">Please enter start date and time.</p>
    </div>   
    
    <div class="form-group" ng-class="{ 'has-error' : ((newPoll.date_end.$invalid && !newPoll.date_end.$pristine) || (newPoll.date_end.$invalid && submitted)) || ((newPoll.time_end.$invalid && !newPoll.time_end.$pristine) || (newPoll.time_end.$invalid && submitted))}">
        <label for="date_end" class="col-xs-2 control-label">End</label>
        <div class="col-xs-5 col-sm-5">
        
        <date-picker id="dateendPicker" name="date_end" ng-model="poll.date_end"></date-picker>

        </div>
        <div class="col-xs-5 col-sm-5">
        <time-picker id="timeendPicker" name="time_end" ng-model="poll.time_end"></time-picker>
        
        </div>
        <p ng-show="((newPoll.date_end.$invalid && !newPoll.date_end.$pristine) || (newPoll.date_end.$invalid && submitted)) || ((newPoll.time_end.$invalid && !newPoll.time_end.$pristine) || (newPoll.time_end.$invalid && submitted))" class="help-block">Please enter end date and time.</p>
    </div>
-->
    <div class="pollQuestion" ng-repeat="question in poll.questions">
               
        <button type="button" class="close" ng-click="removeQuestion($index)"><i class="fa fa-trash-o"></i></button>
        
        <div class="pollQuestionContent">
        
        
            <div class="form-group" ng-class="{ 'has-error' : (newPoll.title{{$index}}.$invalid && !newPoll.title{{$index}}.$pristine) || (newPoll.title{{$index}}.$invalid && submitted)}">
                <label for="title" class="col-sm-2 control-label">Worded Question</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" name="title{{$index}}" ng-model="question.worded_question" placeholder="Bowling Social" required>
                </div>
                <p ng-show="(newPoll.title{{$index}}.$invalid && !newPoll.title{{$index}}.$pristine) || (newPoll.title{{$index}}.$invalid && submitted)" class="help-block">Please enter a question.</p>
            </div>
            <div class="form-group" ng-class="{ 'has-error' : (newPoll.type{{$index}}.$invalid && !newPoll.type{{$index}}.$pristine) || (newPoll.type{{$index}}.$invalid && submitted)}">
                <label for="title" class="col-sm-2 control-label">Type</label>
                <div class="col-sm-10">
                  <select type="text" class="form-control" name="type{{$index}}" ng-model="question.type" required>
                    <option value="text">Textbox</option>
                    <option value="multiple_choice">Multiple Choice</option>
                  </select>
                </div>
                <p ng-show="(newPoll.type{{$index}}.$invalid && !newPoll.type{{$index}}.$pristine) || (newPoll.type{{$index}}.$invalid && submitted)" class="help-block">Please enter a title.</p>
            </div>
            <div ng-show="question.type === 'multiple_choice'">
               <div class="row">
                <div id="addchoices" ng-hide="question.choices.length > 4">
                   <label class="col-sm-2 control-label">Add Choices</label>
                    <div class="col-sm-10">
                            <div class="input-group">
                            <input type="text" class="form-control" ng-model="question.temp_choice" placeholder="" ng-enter="addChoice(question, question.temp_choice);">
                            <span class="input-group-btn"><button type="button" class="btn btn-default" ng-click="addChoice(question, question.temp_choice);">Add</button></span>
                            </div>
                    </div>

                </div>
                <label ng-show="question.choices.length" class="col-sm-2 control-label">Choices</label>
                <ul  ng-show="question.choices.length" class="col-sm-10" class="list-group">
                    <li ng-repeat="choice in question.choices" class="list-group-item">{{ choice }} <button type="button" class="close" ng-click="removeOption()">×</button></li>
                </ul>
                </div>
            </div>
        
        </div>
                
    </div>

    <button type="button" class="btn btn-default" ng-click="addQuestion()">Add Question</button>

   
    <button type="submit" class="btn btn-default pull-right" ng-disabled="!selectedMembers.length || !newPoll.$valid || !poll.questions.length">Submit</button>
</form>
 <div ng-show="loading" id="loadingScreen"><i class="fa fa-spinner fa-spin"></i></div>
</div>