<div ng-if="loading" id="loadingScreen"><i class="fa fa-spinner fa-spin"></i></div>
<section ng-if="!loading" ng-show="notFound">Sorry this webpage could not be found. :(</section>  

<div ng-if="!loading" class="container">
   <form name="response_form"  ng-submit="submitResponse()">
    <div ng-repeat = "question in poll.questions | orderBy: 'index'">
        <p>Question: {{question.worded_question}}</p>
        <div ng-if="question.type == 'multiple_choice'">
            <ul> 
                <li ng-repeat="response in question.response_data">
                    <p>{{response.name}} : {{response.count}}</p>
                </li>
            </ul>
            <nete-pie-chart ng-model="question.response_data" real-data="question.realdata"></nete-pie-chart> <div google-chart chart="question.realdata"></div>
        </div>
        <ul ng-if="question.type == 'text'"> 
            <li ng-repeat="response in question.responses">
                <p>{{response.text}}</p>
            </li>
        </ul>
       <hr> 
    </div>
    
</div>