<section ng-show="notFound">Sorry this webpage could not be found. :(</section>


<section class="container" ng-hide="notFound || !poll" >
<div class="jumbotron">
			
<a ng-href="#/app/polls" class="btn btn-default topLeft">Back <i class="fa fa-reply"></i></a>
<button ng-click="closePoll(true)" ng-show="poll.open && $root.checkPermissions('council')" class="btn btn-default topRight"><i class="fa fa-pause"></i> Close Poll</button>
<button ng-click="closePoll(false)" ng-show="poll.open === false && $root.checkPermissions('leadership')" class="btn btn-default topRight"><i class="fa fa-play"></i> Open Poll</button>
<button ng-click="deletePoll()" ng-show="$root.checkPermissions('council')" class="btn btn-danger bottomRight"><i class="fa fa-trash"></i> Delete Poll</button>
    

<button ng-click="goToResults()" ng-show="$root.checkPermissions('leadership')" class="btn btn-default bottomLeft">Results <i class="fa fa-edit"></i></button>

            <div class="alert alert-warning text-center" role="alert" ng-show="poll.open === false">This poll is closed.</div>
			<h1 class="text-center">{{poll.name}}</h1>
			<p class="text-center">#{{poll.description}}</p>
</div>
<h2 class="page-header">Your Response</h2>

<div class="container" ng-show="poll.response_status || !poll.open">
    <div ng-repeat = "question in poll.questions | orderBy: 'index'">
        <h3 class="question">{{question.worded_question}}</h3>
        <span ng-repeat="a in question.response.answer" ng-show="question.response.answer"><span class="answer">{{a}}</span></span>
        <span ng-hide="question.response.answer">No response</span>
    </div>
</div>


<div ng-hide="poll.response_status || !poll.open">
   <form name="response_form"  ng-submit="submitResponse()">
    <div ng-repeat = "question in poll.questions | orderBy: 'index'">
        <p>{{question.worded_question}}</p>
        <div ng-show="question.type == 'text'"> 
            <input type="text" name="response_form.input" ng-model="question.new_response" ng-required="question.type == 'text'">
        </div>
        <div ng-show="question.type == 'multiple_choice'" ng-repeat="choice in question.choices"> 
            <input type="radio" name="response_form.input" ng-model="question.new_response" ng-value="choice" ng-required="question.type == 'multiple_choice'"> {{choice}} <br/>
        </div>
       <hr> 
    </div>
    <input type="submit" ng-disabled="!response_form.$valid" class="btn btn-default">
  </form>  
</div>
</section>