<div class="container">

<!--		 HEADER AND TODO COUNT -->
		<div class="jumbotron text-center">
			<h1>Polls</h1>
<a ng-href="#/app/newpoll" class="btn btn-default topRight">New Poll <i class="fa fa-plus"></i></a>
<!--<button ng-click="saveEvent()" class="btn btn-info topRight"><i class="fa fa-floppy-o"></i> </button>-->
		</div>

</div>
<div class="container">

<div ng-repeat="poll in polls">
    {{poll.name}}
    {{poll.description}}
    <a class="btn btn-default" ng-href="#/app/polls/{{poll.key}}">Go</a>
</div>

</div>

