<div class="container">

<!--		 HEADER AND TODO COUNT -->
		<div class="jumbotron text-center">
			<h1>Polls</h1>
<a ng-href="#/app/newpoll" class="btn btn-default topRight">New Poll <i class="fa fa-plus"></i></a>
<!--<button ng-click="saveEvent()" class="btn btn-info topRight"><i class="fa fa-floppy-o"></i> </button>-->
		</div>

</div>
<div class="container">

<div ng-repeat="poll in polls">
  <div ng-click="showPoll(poll)" class="notification">
       <div class="notificationContent">
        <span class="notificationTitle preText">{{poll.name}}</span>
        <span class="preText">{{poll.description}}</span>
        </div>
    </div>
</div>

</div>

