<div id="polls" class="container">

<!--		 HEADER AND TODO COUNT -->
		<div class="jumbotron text-center">
			<h1>Polls</h1>
<a ng-href="#/app/newpoll" class="btn btn-default topLeft">New Poll <i class="fa fa-plus"></i></a>
<!--<button ng-click="saveEvent()" class="btn btn-info topRight"><i class="fa fa-floppy-o"></i> </button>-->
		</div>

<div class="form-group">
    <input id="directorySearch" type="search" ng-model="search" placeholder="Search..." class="form-control">
</div>
<div ng-repeat="poll in polls | orderBy: '-timestamp' | orderBy: '-open' | multipleSearch:search">
  <div ng-click="showPoll(poll)" class="notification" ng-class="{closed: !poll.open}">
       <div class="notificationContent">
        <span class="notificationTitle preText">{{poll.name}}</span>
        <span class="preText">{{poll.description}}</span>
        <span class="notificationSender">created by: {{$root.getNameFromKey(poll.creator)}}</span>
        </div>
    </div>
</div>

</div>

