<div class="jumbotron text-center">
		<h1>Signup Page</h1>
</div>


<div class="container">
		<form id="registerform" class="form-horizontal" role="form">
		
		<div class="form-group">
			<label for="orgName" class="col-sm-2 control-label">Organization Name</label>
			<div class="col-sm-10">
			  <input type="text" class="form-control" id="orgName" ng-model="item.org_name" placeholder="Greek Organization" required>
			</div>
		</div>
        
        <div class="form-group">
			<label for="schoolName" class="col-sm-2 control-label">School Name</label>
			<div class="col-sm-10">
			  <input type="text" class="form-control" id="schoolName" ng-model="item.school_name" placeholder="Texas A&M" required>
			</div>
        </div>
        
		</form>
</div>