<div class="jumbotron text-center">
		<h1>More Register Information</h1>
</div>


<div class="container">
		<form id="registerinfoForm" ng-submit="registerinfoClick(item, registerinfoForm.$valid)" name="registerinfoForm" class="form-horizontal" role="form" novalidate>

        <div class="form-group" ng-class="{ 'has-error' : (registerinfoForm.first_name.$invalid && !registerinfoForm.first_name.$pristine) || (registerinfoForm.first_name.$invalid && submitted)}">
			<label for="firstName" class="col-sm-2 control-label">First Name</label>
			<div class="col-sm-10">
			  <input type="text" class="form-control" id="firstName" name="first_name" ng-model="item.first_name" placeholder="John" required>
			</div>
            <p ng-show="(registerinfoForm.first_name.$invalid && !registerinfoForm.first_name.$pristine) || (registerinfoForm.first_name.$invalid && submitted)" class="help-block">Please enter your first name.</p>
        </div>
        
        <div class="form-group" ng-class="{ 'has-error' : (registerinfoForm.last_name.$invalid && !registerinfoForm.last_name.$pristine) || (registerinfoForm.last_name.$invalid && submitted)}">
			<label for="lastName" class="col-sm-2 control-label">Last Name</label>
			<div class="col-sm-10">
			  <input type="text" class="form-control" id="lastName" name="last_name" ng-model="item.last_name" placeholder="Doe" required>
			</div>
            <p ng-show="(registerinfoForm.last_name.$invalid && !registerinfoForm.last_name.$pristine) || (registerinfoForm.last_name.$invalid && submitted)" class="help-block">Please enter your last name.</p>
        </div>
        
        <div class="form-group" ng-class="{ 'has-error' : (registerinfoForm.class_year.$invalid && !registerinfoForm.class_year.$pristine) || (registerinfoForm.class_year.$invalid && submitted)}">
			<label for="classYear" class="col-sm-2 control-label">Class Year</label>
			<div class="col-sm-10">
			  <input type="text" class="form-control" id="classYear" name="class_year" ng-model="item.class_year" placeholder="2014" ng-pattern="/[0-9]{4}/" required>
			</div>
            <p ng-show="(registerinfoForm.class_year.$invalid && !registerinfoForm.class_year.$pristine) || (registerinfoForm.class_year.$invalid && submitted)" class="help-block">Please enter your class year.</p>
        </div>
        
        <div class="form-group" ng-class="{ 'has-error' : (registerinfoForm.user_name.$invalid && !registerinfoForm.user_name.$pristine) || (registerinfoForm.user_name.$invalid && submitted)}">
			<label for="userName" class="col-sm-2 control-label">User Name</label>
			<div class="col-sm-10">
			  <div class="input-group">
               <input type="text" class="form-control" id="userName" name="user_name" ng-model="item.user_name" placeholder="John.Doe" required>
                <span class="input-group-btn">
                   <button ng-click="checkUserName(item.user_name)" class="btn btn-default" type="button">Check</button>
                </span>
                </div>
                <div class="form-control-feedback alert alert-success usernameAlert" ng-show="available">That will work!</div>
                <div class="form-control-feedback alert alert-danger usernameAlert" ng-show="unavailable">This user name too short or already taken (5 + characters required)</div>    
			</div>
            <p ng-show="(registerinfoForm.user_name.$invalid && !registerinfoForm.user_name.$pristine) || (registerinfoForm.user_name.$invalid && submitted)" class="help-block">Please enter a username.</p>
        </div>
        
        
        <div class="form-group" ng-class="{ 'has-error' : (registerinfoForm.password.$invalid && !registerinfoForm.password.$pristine) || (registerinfoForm.password.$invalid && submitted)}">
			<label for="password" class="col-sm-2 control-label">Password</label>
			<div class="col-sm-10">
			  <input type="password" class="form-control" id="password" name="password" ng-model="item.password" ng-minlength="6" placeholder="***********" required>
			</div>
            <p ng-show="(registerinfoForm.password.$invalid && !registerinfoForm.password.$pristine) || (registerinfoForm.password.$invalid && submitted)" class="help-block">Please enter a password at least 6 characters long.</p>
        </div>
        
        <div class="form-group" ng-class="{ 'has-error' : (registerinfoForm.repeat_password.$invalid && !registerinfoForm.repeat_password.$pristine) || (registerinfoForm.repeat_password.$invalid && submitted)}">
			<label for="repeatPassword" class="col-sm-2 control-label">Repeat Password</label>
			<div class="col-sm-10">
			  <input type="password" class="form-control" id="repeatPassword" name="repeat_password" ng-model="item.repeat_password" match="item.password" placeholder="***********" required>
			</div>
            <p ng-show="(registerinfoForm.repeat_password.$invalid && !registerinfoForm.repeat_password.$pristine) || (registerinfoForm.repeat_password.$invalid && submitted)" class="help-block">These passwords must be exactly the same.</p>
        </div>
        
        <div class="form-group" ng-class="{ 'has-error' : (registerinfoForm.email.$invalid && !registerinfoForm.email.$pristine) || (registerinfoForm.email.$invalid && submitted)}">
			<label for="email" class="col-sm-2 control-label">Primary Email</label>
			<div class="col-sm-10">
			  <input type="email" class="form-control" id="email" name="email" ng-model="item.email" placeholder="john.doe@email.com" required>
			</div>
            <p ng-show="(registerinfoForm.email.$invalid && !registerinfoForm.email.$pristine) || (registerinfoForm.email.$invalid && submitted)" class="help-block">Please enter a valid email.</p>
        </div>
                
        <div class="form-group" ng-class="{ 'has-error' : (registerinfoForm.terms.$invalid && !registerinfoForm.terms.$pristine) || (registerinfoForm.terms.$invalid && submitted)}">
            <div class="col-sm-offset-2 col-sm-10">
              <div class="checkbox">
                <label>
                  <input name="terms" type="checkbox" ng-model="item.terms" ng-pattern="true" ng-required="true"> I agree to terms & conditions
                </label>
              </div>
            </div>
            <p ng-show="(registerinfoForm.terms.$invalid && !registerinfoForm.terms.$pristine) || (registerinfoForm.terms.$invalid && submitted)" class="help-block">Please agree to the terms & conditions.</p>
        </div>
          
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-default">Submit</button>
            </div>
          </div>
		</form>
</div>
            

