
<div ui-view ng-hide="loading" id="mainSection" class="fadingIn fadingOut"></div>
<div ng-show="loading" id="loadingScreen"><i class="fa fa-spinner fa-spin"></i></div>   

   
<div ng-hide="loading">
    <div class="jumbotron text-center">
            <h1>Subscription Information</h1>
    </div>

    <div class="container">
       <div ng-hide ="subscription.no_subscription">
        <p>Next Billing Date: {{subscription.next_billing_date}}</p>
        </div>
        
        <img ng-src="{{subscription.credit_card.image_url}}"><span>{{subscription.credit_card.masked_number}}</span>
        <p>Expires: {{subscription.credit_card.expiration}}</p>
        <button ng-hide="subscription.no_subscription" class="btn btn-default" ng-click="cancelSubscription()">Cancel Subscription</button>
        <button ng-show="subscription.no_subscription" class="btn btn-default" ng-click="subscribe()">Subscribe with this card</button>
        <div ng-show="subscription.no_subscription">
<!--      action needs to be: action="/create_transaction" method="POST" -->
          <form id="braintree-payment-form">
            <p>
              <label>First Name</label>
              <input type="text" size="20" autocomplete="off" ng-model="pay.first_name" />
            </p>
            <p>
              <label>Last Name</label>
              <input type="text" size="20" autocomplete="off" ng-model="pay.last_name" />
            </p>
            <p>
              <label>Card Number</label>
              <input type="text" size="20" autocomplete="off" ng-model="pay.number" />
            </p>
            <p>
              <label>CVV</label>
              <input type="text" size="4" autocomplete="off" ng-model="pay.cvv" />
            </p>
            <p>
              <label>Expiration (MM/YYYY)</label>
              <input type="number" size="2" ng-model="pay.exp_month" /> / <input type="text" size="4" ng-model="pay.exp_year" />
            </p>
            <p ng-show="$scope.error">{{error}}</p>
            <button type="submit" ng-click="subscribe(pay)" class="btn btn-default">Save Payment Info</button>
          </form>
        </div>
    </div>
</div>