<div class="container memberTags">
                    <input id="directorySearch" type="search" ng-model="search" placeholder="Search Members">
                    <ul ng-repeat="tag in organizationTags" class="addTags">
                        <input type="checkbox" ng-model="selectedTags[tag]"> <li>{{ tag }}</li> 
                    </ul>
                    <button ng-click="addTagsToUsers(selectedTags, selectedUsers)">Add Tags</button><button ng-click="removeTagsFromUsers(selectedTags, selectedUsers)">Remove Tags</button>
                    <ul ng-repeat="member in members | orderBy:'last_name' | filter:search" style="border: 2px solid black;">

                            <li>
                            <input type="checkbox" ng-model="selectedUsers[member.key]"> {{ member.first_name }}, {{ member.last_name }}, {{ member.class_year }}, {{ member.email }}
                    Tags:   <ul class="memberTags" ng-repeat="tag in member.tags">
                                <li>{{ tag }}</li>
                            </ul>
                            <br>
                            </li>
                    </ul>

                    <h2>Add/Remove Tags</h2>
                    <form id="addTag" ng-submit="addOrganizationTag(item.tag)"><input name="tag" id="tag" ng-model="item.tag" class="form-control" type="text"><button type="submit" class="btn btn-default btn-sm">Add Tag</button></form>

</div>