<div class="container memberTags">
                    
                    
<button ng-click="addTagsToUsers(selectedTags, selectedUsers)" class="btn btn-default btn-sm">Add Tags</button>
<button ng-click="removeTagsFromUsers(selectedTags, selectedUsers)" class="btn btn-default btn-sm">Remove Tags</button>
                    
                    <ul class="addTags">
                        <div class="btn-group" ng-repeat="tag in organizationTags">
                            <label class="label label-default" >
                            <input type="checkbox" ng-model="selectedTags[tag]"> <li>{{ tag }}</li>
                            </label>
                            <div data-toggle="dropdown" class="badge dropdown-toggle"><i class="fa fa-sort-desc"></i></div>
                            <ul class="dropdown-menu" role="menu">
                                <li><a ng-click="openRenameTagModal(tag)">Rename Tag</a></li>
                                <li><a ng-click="openDeleteTagModal(tag)">Delete Tag</a></li>
                            </ul>
                        </div>
                    </ul>

                    
<hr>                    
                    <input id="directorySearch" type="search" ng-model="search" placeholder="Search Members">
<br><br>

                    <ul ng-repeat="member in members | orderBy:'last_name' | multipleSearch:search" style="border: 2px solid black;">

                            <li>
                            <input type="checkbox" ng-model="selectedUsers[member.key]"> {{ member.first_name }}, {{ member.last_name }}, {{ member.class_year }}, {{ member.email }}
                    Tags:   <ul class="memberTags" ng-repeat="tag in member.tags">
                                <li>{{ tag }}</li>
                            </ul>
                            <br>
                            </li>
                    </ul>

<hr>
                    
                    <h2>Add/Remove Tags</h2>
                    <form id="addTag" ng-submit="addOrganizationTag(item.tag)"><input name="tag" id="tag" ng-model="item.tag" class="form-control" type="text">
                        <div class="form-group">
                        <button type="submit" class="btn btn-default btn-sm">Add Tag</button>
                        </div>
                    </form>

</div>


<div class="modal fade" id="renameTagModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Rename Tag</h4>
      </div>
      <div class="modal-body">
        <form>
            <label for="rename">New Tag Name</label>
            <input type="text" name="rename" ng-model="rename">
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" ng-click="renameOrganizationTag(rename)">Rename Tag</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->




<div class="modal fade" id="deleteTagModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Delete Tag</h4>
      </div>
      <div class="modal-body">
        <p>One fine body&hellip;</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" ng-click="removeOrganizationTag()">Delete Tag</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
