<div class="container" ng-controller="ProfilePicCtrl as P">  


<!--    <input type="file" accept="image/*" capture="camera" aj-file-select="P.onFileSelect($files)" aj-change="P.getFile($files)" aj-model="P.file" class="ng-scope ng-isolate-scope">-->
    
<!--
    resize-max-height="640"
    resize-max-width="640"
    resize-quality="0.7" 
-->
    <section id="crop">
    <h2 class="page-header" ng-show="imageSrc.length">Image <i class="fa fa-crop"></i></h2>
<!--    <img-cropped src="imageSrc" selected="selected(cords)" ratio="1" style="width: 300px !important;"></img-cropped>-->
    <img-cropped-two src="https://lh5.ggpht.com/OvrMD6hI6M18vwkLurgfP60bdsm3cwiPVLaktB4182_7hMoViWkJOlOKryUHLui9t0E-GUlGs8ALfFfr5V79" selected='selected(cords)'></img-cropped-two>
    <h2 class="page-header" ng-show="P.cropData.length">Preview</h2>
    <div id="cropped-image" ng-show="cropped" ng-style="{ width: P.picWidth + 'px', height: P.picHeight + 'px', overflow: 'hidden' }">
    <img id="preview" ng-src="{{ P.imageSrc }}">
    </div>
    </section>
   
        <form action="/upload" method="post" enctype="multipart/form-data"  id="profilePic">
        <input type="file" name="file" accept="image/*" value="upload" aj-file-select="P.onFileSelect($files)" aj-change="P.getFile($files)" aj-model="P.file">
<!--        <input name="file" accept="image/*" ng-model="P.imageSrc" style="display: none;">-->
        <input name="user_name" ng-model="user_name" style="display: none;">
        <input name="token" ng-model="token" style="display: none;">
        <input name="type" ng-model="type" style="display: none;">
        <input name="crop_data" ng-model="P.cropData" style="display: none;">
    <!--
    Original<br><img ng-show="image2" ng-src="{{image2.dataURL}}" type="{{image2.file.type}}">
    <hr>
    Resized<br><img ng-show="image2" ng-src="{{image2.resized.dataURL}}">
    <hr>
    -->
    <!--    <div class="canvas-preview"></div>--><br>
       <input  ng-disabled="!P.cropData" type="submit" name="submit" value="Upload" class="btn btn-default">
       </form>
    
    
</div>
<!--
<form action="/upload" method="POST" enctype="multipart/form-data" id="profilePic">
        Upload File: <input type="file" name="file" accept="image/*"><br>
        <input type="submit" name="submit" value="Upload" class="btn btn-default">
</form>
-->



<!--
<form id="newmemberAccount" ng-submit="uploadPicture()" class="form-horizontal" enctype="multipart/form-data" role="form">

    
    <div class="form-group">
        <label for="fileUpload" class="col-sm-2 control-label">Upload Picture</label>
        <div class="col-sm-10">
          <input type="file" name="file" accept="image/*" onchange="angular.element(this).scope().uploadFile(this.files)"/>
        </div>
    </div>
    
    <button type="submit" class="btn btn-default">Submit</button>
</form>
-->





<!--<form ng-submit="create(message)" class="form-horizontal" enctype="multipart/form-data">
      <div class="control-group">
        <label class="control-label">Profile Picture: </label>
        <div class="controls">
          <input type="file" ng-model="message.profilePic" name="message.profilePic" />
        </div>
      </div>
      <div class="well">
        <input class="btn btn-large btn-primary" type="submit" value="Submit" />
      </div>
    </form>-->