<md-dialog id="editLink" md-theme="{{$root.color}}" style="min-width:60%;">
  <md-toolbar>
   <div class="md-toolbar-tools">
    <h1>Edit Link</h1>
   </div>
  </md-toolbar>
  <md-divider></md-divider>
  <md-content class="md-padding no-padding-top">
        <md-input-container>
            <label for="title">Title</label>
            <input type="text" name="title" ng-model="tempLink.title" required>
        </md-input-container>
        <md-input-container class="url">
            <label for="link">Link</label>
            <input type="text" name="link" ng-model="tempLink.link" remove-http required>
            {{tempGroup.name}}
        </md-input-container>
          <md-select class="btn-touch" id="newGroup" name="newGroup" ng-model="group" required>
            <md-option ng-value="gr" ng-repeat="gr in groups">{{gr.name}}</md-option>
            <md-option value="new_group_listing">Add New Group</md-option>
          </md-select>
      
      <md-input-container ng-show="group === 'new_group_listing'">
          <label for="new_group">New Group</label>
          <input type="text" name="new_group" ng-model="newGroup" ng-required="group === 'new_group_listing'">
      </md-input-container>
  </md-content>
  
  <div class="md-actions" layout="row">
        <md-button ng-click="editLink(tempLink, group === 'new_group_listing' ? newGroup:group, group === 'new_group_listing' ? true:false)">save</md-button>
        <md-button ng-click="closeDialog()">cancel</md-button>
  </div>
</md-dialog>