<md-dialog md-theme="{{$root.color}}" flex="60">
        <md-subheader>
            New Link
        </md-subheader>
        <md-divider></md-divider>
    <md-content class="md-padding no-padding-top">
        <md-input-container>
            <label for="title">Title</label>
            <input type="text" name="title" ng-model="newTitle" required>
        </md-input-container>
        <md-input-container>
            <label for="link">Link</label>
            <input type="text" name="link" ng-model="newLink" remove-http required>
        </md-input-container>

        <br>
        <div class="form-group">
            <md-select class="btn-touch" id="newGroup" name="newGroup" ng-model="newGroup" placeholder="Select a Group" required>
                <md-option ng-value="group" ng-repeat="group in groups">{{group.name}}</md-option>
                <md-option value="new_group_listing">Add New Group</md-option>
            </md-select>
        </div>

        <md-input-container ng-show="newGroup == 'new_group_listing'">
            <label for="new_group">New Group Name</label>
            <input type="text" name="new_group" ng-model="new_group" ng-required="temp_link.group === 'new_group_listing'">
        </md-input-container>
    </md-content>

    <div class="md-actions" layout="row">
       <md-button ng-click="createLink(newTitle, newLink, newGroup === 'new_group_listing' ? new_group : newGroup, newGroup === 'new_group_listing' ? true: false)" ng-disabled="!newTitle || !newLink || !newGroup">add</md-button>
        <md-button ng-click="closeDialog()">cancel</md-button>
    </div>

</md-dialog>
