<div class="aside am-fade-and-slide-right" tabindex="-1" role="dialog">
    <div class="aside-dialog">
        <div class="aside-content">
            <div class="aside-header darkbg">
                <button type="button" class="close" ng-click="$hide()">&times;</button>
                <h4 class="aside-title">Menu</h4>
            </div>
            <div class="aside-body">
                <ul class="asideMenu nav navbar-nav">
                    <li ng-click="$hide()"><a ng-href="/#/app/home"><i class="fa fa-home fa-fw"></i> Home</a></li>
                    <li class="divider"></li>
                    <li ng-click="$hide()"><a ng-href="/#/app/directory/members"><i class="fa fa-book fa-fw"></i> Directory</a></li>
                    <li class="divider" ng-show="$root.checkPermissions('leadership') && $root.subscribed"></li>
                    <li ng-click="$hide()" ng-show="$root.checkPermissions('leadership') && $root.subscribed"><a ng-href="/#/app/messaging"><i class="fa fa-envelope fa-fw"></i> Messaging</a></li>
                    <li class="divider" ng-show="$root.subscribed"></li>

                    <li ng-click="$hide()" ng-show="$root.subscribed"><a ng-href="/#/app/events"><i class="fa fa-calendar fa-fw"></i> Events</a></li>
                    <!-- <li class="divider" ng-show="$root.subscribed"></li>
                    <li ng-click="$hide()" ng-show="$root.subscribed"><a ng-href="/#/app/links"><i class="fa fa-file-text-o fa-fw"></i> Links</a></li> -->

                    <li class="divider" ng-show="$root.subscribed"></li>
                    <li ng-click="$hide()" ng-show="$root.subscribed"><a ng-href="/#/app/polls"><i class="fa fa-th-list fa-fw"></i> Polls</a></li>
                </ul>
            </div>
            <div class="aside-header darkbg">
                <h4 class="aside-title">Settings</h4>
            </div>
            <div class="aside-body">
                <ul class="asideMenu nav navbar-nav">
                    <li ng-click="$hide()"><a ng-href="#/app/accountinfo"><i class="fa fa-user fa-fw"></i> Account</a></li>
                    <li class="divider" ng-show="$root.checkPermissions('leadership')"></li>
                    <li ng-click="$hide()" ng-show="$root.checkPermissions('leadership')"><a ng-href="#/app/managemembers/tag"><i class="fa fa-users fa-fw"></i> Members</a></li>
                    <li class="divider" ng-show="$root.checkPermissions('leadership')"></li>
                    <li ng-click="$hide()" ng-show="$root.checkPermissions('council')"><a ng-href="#/app/managealumni"><i class="fa fa-graduation-cap fa-fw"></i> Alumni</a></li>
                    <li class="divider" ng-show="$root.checkPermissions('council')"></li>
                    <li ng-click="$hide()" ng-show="$root.checkPermissions('council')"><a ng-href="#/app/admin"><i class="fa fa-gears fa-fw"></i> Admin</a></li>
                    <li class="divider" ng-show="$root.checkPermissions('council')" ></li>
                    <li ng-click="$hide()"><a ng-click="logout()"><i class="fa fa-sign-out fa-fw"></i> Log Out</a></li>
                </ul>
            </div>
            <div class="aside-footer">
 
<!--                <button type="button" class="btn btn-default" ng-click="$hide()">Close</button>-->
                
            </div>
        </div>
    </div>
</div>