<div><!--<selecting-users>-->
   <form id="tagtypeahead" name="tagtypeahead" ng-submit="checkTag(selectedTagName);">
        <input type="text" class="form-control" ng-model="selectedTagName" update-fn="$root.NotifyConsole()" ng-options="tag.name for tag in allTagsList" placeholder="Enter Tag" ng-enter="selectTagFromTypeAhead(selectedTagName);" bs-typeahead>
        <a id="seeall" data-toggle="modal" data-target="#seeallTags">see all</a>
    </form>
   
    <ul id="messagingTags">
       <span>Recent: </span>
            <div class="btn-group" ng-repeat="tag in ngModel.org_tags">
                <netetag-check ng-show="tag.recent"></netetag-check>
            </div>
        <span ng-repeat="type in ngModel">
            <div class="btn-group" ng-repeat="tag in type">
                <netetag-check ng-show="tag.checked"></netetag-check>
            </div>
        </span>
    </ul>
    <div id="selectedList" class="well">
        <span class="messagePerson label label-primary"  ng-repeat="member in $parent.selectedMembers = ( $root.users.members | tagDirectorySearch:ngModel)">{{member.first_name}} {{member.last_name}}</span>
        <span class="noneSelected" ng-hide="$parent.selectedMembers.length">No one is selected.</span>
    </div>
    
    
<div class="modal fade" id="seeallTags">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">All Tags</h4>
      </div>
      <div class="modal-body">
            <ul class="addTags">
            <div ng-repeat="type in ngModel">
                <div class="btn-group" ng-repeat="tag in type">
                    <netetag-check></netetag-check>
                </div>
            </div>
<!--
                <div class="btn-group" ng-repeat="tag in org_tags | orderBy : 'name'">
                    <netetag-all ></netetag-all>
                </div>
-->
            </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
</div>


