<section id="selectingUsers">
    
    <div class="row">
          
           <form class="col-sm-6" id="tagtypeahead" name="tagtypeahead" ng-submit="checkTag(selectedTagName);">
                <input type="text" class="form-control" ng-model="selectedTagName" ng-options="tag.name for tag in allTagsList" placeholder="Enter Tag" ng-enter="selectTagFromTypeAhead(selectedTagName);" bs-typeahead>
                <a id="seeall" data-toggle="modal" data-target="#seeallTags">see all</a>
            </form>
            <div class="col-sm-6">
                  
                <div id="recentTags">
                    <h2 class="page-header">Recent Tags</h2>
                    <div id="theTags">
                    <div class="btn-group" ng-repeat="tag in ngModel.org_tags">
                        <netetag-check ng-if="tag.recent"></netetag-check>
                    </div>
                    </div>
                </div>

            </div>
    </div>
    
    <h2 class="page-header">Tags Selected</h2>
    <ul id="messagingTags">
    <span id="noTags" class="noneSelected" ng-hide="orgTagCheck.length > 0 || eventTagCheck.length > 0 || permsTagCheck.length > 0">No tags are selected.</span>
        <span>
            <div class="btn-group" ng-show="ngModel.org_tags" ng-repeat="tag in orgTagCheck = (ngModel.org_tags | checkedFilter)">
                <netetag-check></netetag-check>
            </div>
            <div class="btn-group" ng-show="ngModel.event_tags && !skipEvent" ng-repeat="tag in eventTagCheck = ( ngModel.event_tags | checkedFilter)">
                    <netetag-check></netetag-check>
            </div>
            <div class="btn-group" ng-show="ngModel.perms_tags" ng-repeat="tag in permsTagCheck = (ngModel.perms_tags | checkedFilter)">
                    <netetag-check></netetag-check>
            </div>
        </span>
    
    </ul>
    
    <h2 class="page-header">People Selected<span ng-show="$parent.selectedMembers.length">: {{$parent.selectedMembers.length}}</span></h2>
    <div id="selectedList">
        <span class="noneSelected" ng-hide="$parent.selectedMembers.length">No one is selected.</span>

        <span><netemember-check ng-repeat="tag in $parent.selectedMembers = ( $root.directory.members | tagDirectorySearch:ngModel:usersList) | orderBy: 'last_name'" ng-model="tag" ng-show="tag.checked"></netemember-check></span>
        <span class="messagePerson label label-primary"  ng-repeat="member in $parent.selectedMembers | orderBy: 'last_name'" ng-show="member.first_name">{{member.first_name}} {{member.last_name}}</span>
    </div>
    
    
<div class="modal fade" id="seeallTags">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">All Tags</h4>
      </div>
      <div class="modal-body">
<!--
                <div class="clearInputContainer">
                    <input type="search" ng-model="modalSearch" placeholder="Search..." class="form-control">
                    <button ng-show="modalSearch.length" type="button" class="close clearInput" ng-click="modalSearch = ''"><i class="fa fa-times"></i></button>
                </div>
-->
           <search ng-model="modalSearch"></search>
            <ul class="selectTags">
            <div>
               <h2 class="page-header">Organization Tags</h2>
                <div class="btn-group" ng-repeat="tag in ngModel.org_tags | multipleSearch:modalSearch">
                    <netetag-check></netetag-check>
                </div>
                <div ng-hide="skipEvent">
                    <h2 class="page-header">Event Tags</h2>
                    <div class="btn-group" ng-repeat="tag in ngModel.event_tags | multipleSearch:modalSearch">
                        <netetag-check></netetag-check>
                    </div>
                </div>
                <h2 class="page-header">Preset Tags</h2>
                <div class="btn-group" ng-repeat="tag in ngModel.perms_tags | multipleSearch:modalSearch">
                    <netetag-check></netetag-check>
                </div>
                <span ng-show="includeUsers">
                <h2 class="page-header">Users</h2>
                <div class="btn-group" ng-repeat="tag in usersList | multipleSearch:modalSearch">
                    <netemember-check ng-model="tag"></netemember-check>
                </div>
                </span>
            </div>
<!--
                <div class="btn-group" ng-repeat="tag in org_tags | orderBy : 'name'">
                    <netetag-all ></netetag-all>
                </div>
-->
            </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
</div>
</section>
