<div ng-hide="$scope.directory.alumni" class="md-padding">
    <p class="bg-info md-padding">There are no almuni added yet.<br>
    When members graduate, their information will be show up here.</p>
</div>
<div ng-hide="!$scope.directory.alumni" id="alumniDirectory" load-directive ng-model="directoryLoaded" class="md-padding no-padding-top">
<search ng-model="search"></search>
    <alumni-year-picker id="yearSelect" alumni="directory.alumni" selected-year="selected_year" search="search" require-registration="true"></alumni-year-picker>
<section>
    <md-list class="itemList">
        <md-list-item ng-repeat="member in directory.alumni | nameSearch:search | pledgeClassSearch:selected_year | orderBy:'last_name' " ng-click="showIndividual(member)" ng-show="member.user_name">
                <div class="md-tile-left">
                  <img ng-src="{{getProfPic(member.prof_pic)}}" class="face">
                </div>
                <div class="md-tile-content">
                    <div class="name">{{member.first_name}} {{member.last_name}}</div>
                </div>
        </md-list-item>
    </md-list>
</section>
</div>
