<div id="changepasswordfromToken" class="container">
    <div class="md-whiteframe-z1">
        <md-toolbar>
           <div class="md-toolbar-tools">
               <h1>Reset Password</h1>
           </div>
        </md-toolbar>
        <md-content class="md-padding">
            <form id="newPassword" name="newPassword" ng-submit="changePassword(item.password, newPassword.$valid)" class="form-horizontal" role="form">
                <md-input-container ng-class="{ 'md-input-invalid' : (newPassword.password.$invalid && !newPassword.password.$pristine) || (newPassword.password.$invalid && submitted)}">
                    <label for="password">New Password</label>
                    <input type="password" id="password" name="password" ng-model="item.password" ng-minlength="6" required>
                </md-input-container>
                <md-input-container ng-class="{ 'md-input-invalid' : (newPassword.repeat_password.$invalid && !newPassword.repeat_password.$pristine) || (newPassword.repeat_password.$invalid && submitted)}">
                    <label for="password">Repeat New Password</label>
                    <input type="password" id="repeatPassword" name="repeat_password" ng-model="item.repeat_password" match="item.password" ng-minlength="6" required>
                </md-input-container>
                <md-button type="submit" ng-disabled="waiting_for_response || !newPassword.$valid" class="pull-right">Reset</md-button>
            </form>
        </md-content>
    </div>
</div>
