<div ng-show="eventNotFound" class="jumbotron text-center"><h1>Event not found :(</h1></div>
<md-progress-circular md-mode="indeterminate" ng-show="loading" style="margin:20px auto;"></md-progress-circular>
<div ng-hide="eventNotFound || loading" id="newEvent" class="container">
<div class="md-whiteframe-z1">
    <md-toolbar>
       <div class="md-toolbar-tools">
           <h1>Edit: {{event.title}}</h1>
       </div>
    </md-toolbar>
    <md-content class="md-padding no-padding-top">
    <br>
    <selecting-members selected-calendar="calendar" selected-individuals="individuals" input-calendar="inputCalendar"></selecting-members>
    <form id="newEvent" name="newEvent" ng-submit="submitEdits(newEvent.$valid)" class="form-horizontal" role="form" novalidate>
        <md-input-container class="md-default-theme" ng-class="{ 'md-input-invalid' : (newEvent.title.$invalid && !newEvent.title.$pristine) || (newEvent.title.$invalid && submitted)}">
            <label for="title">Event Name</label>
            <input name="title" ng-model="vm.event.title"/>
            <p ng-show="(newEvent.title.$invalid && !newEvent.title.$pristine) || (newEvent.title.$invalid && submitted)" class="help-block">Please enter a title.</p>
        </md-input-container>    
        <div class="form-group" ng-class="{ 'md-input-invalid' : (newEvent.description.$invalid && !newEvent.description.$pristine) || (newEvent.description.$invalid && submitted)}">
            <textarea class="form-control" id="description" rows="6" name="description" ng-model="event.description" placeholder="Enter your event description here: We are going bowling! Yay!"></textarea>
            <p ng-show="(newEvent.description.$invalid && !newEvent.description.$pristine) || (newEvent.description.$invalid && submitted)" class="help-block">Please enter a description.</p>
        </div> 
        <md-input-container ng-if="mapsLoaded" class="md-default-theme" ng-class="{ 'md-input-invalid' : (newEvent.location.$invalid && !newEvent.location.$pristine) || (newEvent.location.$invalid && submitted)}">
            <input name="location" ng-autocomplete options="options" address="vm.event.address" details="details" ng-model="vm.event.location"/>
            <p ng-show="(newEvent.location.$invalid && !newEvent.location.$pristine) || (newEvent.location.$invalid && submitted)" class="help-block">Please enter a location</p>
        </md-input-container> 
        <div class="form-group" ng-class="{ 'md-input-invalid' : ((newEvent.date_start.$invalid && !newEvent.date_start.$pristine) || (newEvent.date_start.$invalid && submitted)) || ((newEvent.time_start.$invalid && !newEvent.time_start.$pristine) || (newEvent.time_start.$invalid && submitted))}">
            <label for="date_start" class="col-xs-12 col-sm-2 control-label">Start</label>
            <div class="col-xs-6 col-sm-5">
                <date-picker id="datestartPicker" name="date_start" ng-model="date_start"></date-picker>
            </div>
            <div class="col-xs-6 col-sm-5">
                <time-picker id="timestartPicker" name="time_start" ng-model="time_start"></time-picker>
            </div>
            <p ng-show="((newEvent.date_start.$invalid && !newEvent.date_start.$pristine) || (newEvent.date_start.$invalid && submitted)) || ((newEvent.time_start.$invalid && !newEvent.time_start.$pristine) || (newEvent.time_start.$invalid && submitted))" class="help-block">Please enter start date and time.</p>
        </div>   
        <div class="form-group" ng-class="{ 'md-input-invalid' : ((newEvent.date_end.$invalid && !newEvent.date_end.$pristine) || (newEvent.date_end.$invalid && submitted)) || ((newEvent.time_end.$invalid && !newEvent.time_end.$pristine) || (newEvent.time_end.$invalid && submitted))}">
            <label for="date_end" class="col-xs-12 col-sm-2 control-label">End</label>
            <div class="col-xs-6 col-sm-5">
                <date-picker id="dateendPicker" name="date_end" ng-model="date_end"></date-picker>
            </div>
            <div class="col-xs-6 col-sm-5">
                <time-picker id="timeendPicker" name="time_end" ng-model="time_end"></time-picker>
            </div>
            <p ng-show="((newEvent.date_end.$invalid && !newEvent.date_end.$pristine) || (newEvent.date_end.$invalid && submitted)) || ((newEvent.time_end.$invalid && !newEvent.time_end.$pristine) || (newEvent.time_end.$invalid && submitted))" class="help-block">Please enter end date and time.</p>
        </div>
        <div class="alert alert-danger" ng-show="time_broken">Please make sure start time is before end time.</div>
        
        <md-checkbox ng-model="recurring" aria-label="recurring event">
            Is this event recurring?
        </md-checkbox>
        
        <div class="form-group" ng-show="recurring">
            <div class="col-xs-12 col-sm-3">
                <md-checkbox ng-disabled="!recurring || monthly" ng-model="weekly" aria-label="recurring weekly">
                    Weekly
                </md-checkbox>
                <md-checkbox ng-disabled="!recurring || weekly" ng-model="monthly" aria-label="recurring monthly">
                    Monthly
                </md-checkbox> 
            </div>
            <div class="col-xs-12 col-sm-2" style="margin-top:15px;">
               <label for="untilDate">Recurrs Until:</label>
            </div>
            <div class="col-xs-12 col-sm-5" style="margin-top:15px;">
                <date-picker id="untilDate" name="untilDate" ng-model="event.until"></date-picker>
            </div>
            <div class="col-xs-12 col-sm-2"></div>
        </div>
        
        <br>
        <md-button id="deleteEventButton" type="button" ng-click="openDeleteEventModal()" class="md-warn">Delete Event</md-button>
        <md-button type="submit" class="pull-right" ng-disabled="!selectedMembers.length || !newEvent.$valid ||( working && working != 'broken')">Save</md-button>
    </form>
</md-content>
</div>
</div>


<div class="modal fade" id="deleteEventModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Delete this event?</h4>
        <button type="button" class="btn btn-primary" ng-click="deleteEvent()">Delete</button>
      </div>
<!--
      <div class="modal-footer">
      </div>
-->
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->