<div ng-show="eventNotFound" class="jumbotron text-center"><h1>Event not found :(</h1></div>
<div id="eventCheckinReport" class="container" ng-hide="eventNotFound || loading" infinite-scroll="increaseMaxLength()">
<div class="md-whiteframe-z1">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <md-button class="btn-touch" ng-click="checkInReport.back()"><i class="fa fa-chevron-left"></i> <i class="fa fa-calendar"></i></md-button>
            <h1>Checkin Report for {{event.title}}</h1>
                <div flex></div>
            <md-button class="btn-touch" ng-click="downloadCSV()"><i class="fa fa-download"></i></md-button>
        </div>
    </md-toolbar>
    <md-content class="md-padding no-padding-top">
        <search ng-model="search"></search>
        <md-subheader ng-show="currentShows.length > 0">Attended</md-subheader>
        <md-list>
            <md-list-item class="md-padding" ng-repeat="member in currentShows = (shows | orderBy:['rsvp', 'last_name'] | nameSearch:search:0 | limitTo:maxLength)" layout="row" layout-align="center center">
                <table class="table table-bordered">
                    <tr>
                        <td>
                            <div layout="row" layout-align="start center">
                                <div>
                                    <img ng-src="{{member.prof_pic? member.prof_pic+'=s50':$root.defaultProfilePicture}}" class="face">
                                </div>
                                <div class="name">{{member.first_name}} {{member.last_name}}</div>
                            </div>
                        </td>
                        <td ng-show="member.attendance_data.time_in || member.attendance_data.time_out">
                            <span ng-show="member.attendance_data.time_in"><i class="fa fa-sign-in fa-fw"></i> {{formatDate(member.attendance_data.time_in)}}</span><br>
                            <span ng-show="member.attendance_data.time_out"><i class="fa fa-sign-out fa-fw"></i> {{formatDate(member.attendance_data.time_out)}}</span>
                        </td>
                    </tr>
                </table>
            </md-list-item>
        </md-list>
			<md-subheader ng-show="noShows.length > 0">Missed</md-subheader>
			<md-list id="missedCheckin">
                <div ng-repeat="member in (noShows | orderBy: 'last_name' | nameSearch:search:0 | limitTo:maxNoShowsLength)">
    				<md-list-item class="contact-item">
                        <img ng-src="{{member.prof_pic ? member.prof_pic + '=s50' : 'images/defaultprofile.png'}}" class="md-avatar" alt="{{member.name}}" />
                        <div class="md-list-item-text compact">
                            <h3>{{member.first_name}} {{member.last_name}}</h3>
                        </div>
                    </md-list-item>
                </div>
			</md-list>
    </md-content>
</div>
