<div ng-show="eventInfo.eventNotFound" class="jumbotron text-center"><h1>Event not found :(</h1></div>
<md-progress-circular md-mode="indeterminate" ng-show="loading" style="margin:20px auto;"></md-progress-circular>

<div ng-hide="eventInfo.eventNotFound || loading" id="eventInfo" class="container">
    <div class="md-whiteframe-z1">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <md-button class="btn-touch" ng-click="eventInfo.back()"><i class="fa fa-chevron-left"></i> <i class="fa fa-calendar"></i></md-button>
                <h1>{{eventInfo.event.title}}</h1>
                <div flex></div>
                <md-menu md-position-mode="target-right target">
                  <md-button aria-label="Open event options" class="md-icon-button" ng-click="$mdOpenMenu()">
                    <i md-menu-origin class="fa fa-ellipsis-h"></i>
                  </md-button>
                  <md-menu-content width="4">
                    <md-menu-item ng-show="app.leadership">
                      <md-button ng-click="eventInfo.editEvent()">
                        <p>Edit</p>
                        <md-icon md-menu-align-target class="fa fa-pencil-square-o"></md-icon>
                      </md-button>
                    </md-menu-item>
                    <md-menu-item>
                      <md-button ng-click="eventInfo.saveEvent()">
                        <p>Save</p>
                        <md-icon md-menu-align-target class="fa fa-floppy-o"></md-icon>
                      </md-button>
                    </md-menu-item>
                    <md-menu-item ng-show="app.leadership">
                      <md-button ng-click="eventInfo.goToCheckin()">
                        <p>Check-In</p>
                        <md-icon md-menu-align-target class="fa fa-sign-in"></md-icon>
                      </md-button>
                    </md-menu-item>
                    <md-menu-item ng-show="app.leadership">
                      <md-button ng-click="eventInfo.goToCheckinReport()">
                        <p>Report</p>
                        <md-icon md-menu-align-target class="fa fa-file"></md-icon>
                      </md-button>
                    </md-menu-item>
                  </md-menu-content>
                </md-menu>
            </div>
        </md-toolbar>

        <md-content class="md-padding">
            <div ng-show="eventInfo.event.time_start || eventInfo.event.time_end" id="time">
                <md-subheader>When?</md-subheader>
                <p>{{eventInfo.time_start}} &mdash; {{eventInfo.time_end}}</p>
            </div>
            <div ng-show="eventInfo.event.location" id="location">
                <md-subheader>Where?</md-subheader>
                <a external-href="https://www.google.com/maps/place/{{eventInfo.address_html}}">
                    <p>{{eventInfo.event.location}}</p>
                </a>
            </div>
            <div ng-show="eventInfo.event.description" id="description">
                <md-subheader>What?</md-subheader>
                <p class="preText">{{eventInfo.event.description}}</p>
            </div>
        </md-content>

    </div>
</div>