<div ng-show="eventInfo.eventNotFound" class="jumbotron text-center"><h1>Event not found :(</h1></div>
<md-progress-circular md-mode="indeterminate" ng-show="loading" style="margin:20px auto;"></md-progress-circular>

<div ng-hide="eventInfo.eventNotFound || loading" id="eventInfo" class="container">
    <div class="md-whiteframe-z1">
        <md-toolbar layout="row" layout-align="center center">
            <div class="md-toolbar-tools">
                <i class="fa fa-calendar"></i>
                <h1>{{eventInfo.event.title}}</h1>
                <div flex></div>
                <md-menu md-position-mode="target-right target">
                    <md-button class="btn-touch" aria-label="open menu" md-menu-origin ng-click="eventInfo.openMenu($mdOpenMenu, $event)"><i class="fa fa-ellipsis-h"></i></md-button>
                    <md-menu-content width="4">
                        <md-menu-item>
                            <md-button ng-click="eventInfo.editEvent()"  md-menu-align-target>
                              <div layout="row">
                                  <p flex>Edit</p>
                                  <md-icon class="fa fa-pencil-square-o"></md-icon>
                              </div>
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                          <md-button ng-click="eventInfo.saveEvent()">
                            <div layout="row">
                                <p flex>Save</p>
                                <md-icon class="fa fa-floppy-o"></md-icon>
                            </div>
                          </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </div>
            <md-button id="back" class="md-fab lower md-warn md-hue-3" aria-label="back" ng-click="eventInfo.back()">
                <i class="fa fa-arrow-left"></i>
            </md-button>
        </md-toolbar>

        <md-content class="md-padding">
            <div ng-show="eventInfo.event.time_start || eventInfo.event.time_end" id="time">
                <md-subheader>When?</md-subheader>
                <p>{{eventInfo.formatDate(time_start)}} &mdash; {{eventInfo.formatDate(time_end)}}</p>
            </div>
            <div ng-show="eventInfo.event.location" id="location">
                <md-subheader>Where?</md-subheader>
                <a ng-href="https://www.google.com/maps/place/{{eventInfo.address_html}}" target="_blank">
                    <p>{{eventInfo.event.location}}</p>
                </a>
            </div>
            <div ng-show="eventInfo.event.description" id="description">
                <md-subheader>What?</md-subheader>
                <p class="preText">{{eventInfo.event.description}}</p>
            </div>
        </md-content>

    </div>
</div>
