<div id="managingAlumni" load-directive ng-model="finished_loading">
<search ng-model="search"></search><br>
   <alumni-year-picker id="yearSelect" alumni="directory.alumni" selected-year="selected_year" search="search"></alumni-year-picker>
    <div infinite-scroll="loadMoreMembers()" infinite-scroll-disabled="search">
        <md-list id="members" class="itemList striped">
            <md-item class="listItem" ng-repeat="alumnus in directory.alumni | orderBy:'last_name' | pledgeClassSearch:selected_year | nameSearch:search">
                <div layout="row" layout-sm="column" layout-margin layout-align="space-between center">
                    <div>{{alumnus.first_name + ' ' + alumnus.last_name}}</div>
                    <div class="email" ng-bind="alumnus.email"></div>
                        <!-- <md-button ng-click="resendWelcomeEmail(alumnus, ev)" ng-hide="alumnus.user_name" class="resendWelcome">Resend Email</md-button> -->
                    <div>
                        <md-button class="btn-touch" ng-click="openConvertAlumniModal(alumnus, ev)" aria-label="convert alumni to member">
                            <i class="fa fa-graduation-cap"></i>
                            <i class="fa fa-arrow-right"></i>
                            <i class="fa fa-user"></i>
                        </md-button>
                        <md-button class="btn-touch" ng-click="openDeleteAlumniModal(alumnus, ev)" aria-label="delete alumni"><i class="fa fa-fw fa-trash-o"></i></md-button>
                    </div>
                </div>
            </md-item>
        </md-list>
    </div>
    <div id="pagingButtons" layout="row" ng-show="directory.alumni > 10">
        <md-button aria-label="page left" ng-disabled="startsWith == 0" ng-click="startsWith = startsWith - 10;"><i class="fa fa-arrow-left"></i></md-button>
        <div flex></div>
        <md-button aria-label="page right" ng-disabled= "startsWith == end*10" ng-click="startsWith = startsWith + 10;"><i class="fa fa-arrow-right"></i></md-button>
    </div>
</div>
