<div id="managingMembers" load-directive ng-model="directoryLoaded">
    <md-button ng-click="openConvertMembersModal($event)" ng-disabled = "!((directory.members|checkedFilter).length)">Convert To Alumni</md-button>
    <md-button ng-click="resendAllWelcomeEmails()">Resend All Welcome Emails</md-button>

<search ng-model="search" change="startsWith = 0;"></search><br>
    <div>
        <md-list id="members" class="striped">
            <md-item ng-repeat="member in directory.members | orderBy:'last_name' | nameSearch:search | startFrom:startsWith | limitTo:10 track by member.key" ng-show="member.user_name != session.me.user_name">
                <div layout="row" layout-sm="column" layout-margin layout-align="space-between center">
                    <md-checkbox class="md-primary" ng-model="member.checked">{{member.name}}</md-checkbox>
                    <div class="email">{{member.email}}</div>
                    <md-button ng-click="openChangeEmailModal(member, $event)" class="btn-touch" href="" aria-label="edit email"><i class="fa fa-pencil fa-fw"></i></md-button>
                    <md-button ng-click="resendWelcomeEmail(member)" ng-hide="member.user_name" class="resendWelcome">Resend Email</md-button>
                    <div class="no-margin" flex></div>
                    <form class="permsSelect">
                    <!-- <update-status ng-model="member.updating" fn-call="updatePerms(member, option)"></update-status> -->
                        <md-select class="btn-touch" ng-init="option=member.perms" ng-model="option" ng-change="updatePerms(member, option)">
                            <md-option value="council">council</md-option>
                            <md-option value="member">member</md-option>
                            <md-option value="leadership">leadership</md-option>
                        </md-select>
                    </form>
                    <md-button ng-click="openDeleteMemberModal(member, $event)" class="btn-touch" aria-label="delete"><i class="fa fa-fw fa-trash-o"></i></md-button>
                </div>
            </md-item>
        </md-list>
    </div>
    <div id="pagingButtons" layout="row">
        <md-button aria-label="page left" ng-disabled="startsWith == 0" ng-click="startsWith = startsWith - 10;"><i class="fa fa-arrow-left"></i></md-button>
        <div flex></div>
        <md-button aria-label="page right" ng-disabled= "startsWith == end*10" ng-click="startsWith = startsWith + 10;"><i class="fa fa-arrow-right"></i></md-button>
    </div>
        <p ng-show="directory.members.length < 1">There are no members to manage!</p>
</div>
