<div class="md-padding no-padding-top">
<load-directive ng-model="loaded">
<search ng-model="search"></search>
<md-content>
  <section ng-show="council.length">
   <md-subheader>
       COUNCIL
   </md-subheader>
    <md-list class="memberList">
        <md-list-item ng-repeat="member in council | multipleSearch:search  track by member.key" ng-click="showIndividual(member)">
                <div class="md-tile-left">
                    <img ng-src="{{getProfPic(member.prof_pic)}}" class="face">
                </div>
                <div class="md-tile-content">
                    <p class="name">{{member.first_name}} {{member.last_name}} <span class="position" ng-show="member.position">({{member.position}})</span></p>
                </div>
        </md-list-item>
    </md-list>
    </section>
    <section ng-show="leadership.length">
   <md-subheader>
       LEADERSHIP
   </md-subheader>
    <md-list class="memberList">
        <md-list-item ng-repeat="member in leadership | multipleSearch:search track by member.key" ng-click="showIndividual(member)">
                <div class="md-tile-left">
                    <img ng-src="{{getProfPic(member.prof_pic)}}" class="face">
                </div>
                <div class="md-tile-content">
                    <p class="name">{{member.first_name}} {{member.last_name}} <span class="position" ng-show="member.position">({{member.position}})</span></p>
                    <p class="status">{{member.status}}</p>
                </div>
        </md-list-item>
    </md-list>
    </section>
    <section ng-show="members.length">
   <md-subheader>
       MEMBERS
   </md-subheader>
      <div infinite-scroll="increaseDirectoryLength()" infinite-scroll-distance="0" infinite-scroll-disabled="search">
    <md-list class="memberList">
        <md-list-item ng-repeat="member in members | multipleSearch:search | limitTo:memberdirectorylength track by member.key" ng-click="showIndividual(member)">
                <div class="md-tile-left">
                  <img ng-src="{{getProfPic(member.prof_pic)}}" class="face">
                </div>
                <div class="md-tile-content">
                    <p class="name">{{member.first_name}} {{member.last_name}}</p>
                    <p class="status">{{member.status}}</p>
                </div>
        </md-list-item>
    </md-list>
    <div style='height:1px;'></div>
    </div>
    </section>
</md-content>
</load-directive>
</div>
