<div class="container">
  <div class="md-whiteframe-z1">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h1>Register</h1>
      </div>
    </md-toolbar>
    <md-content class="md-padding">
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <br>
          <md-button href= "#/registeruser">Find Your Organization</md-button>
          <br>
        </div>
        <div class="col-xs-12 col-sm-6">
          <br>
          <md-button href="#/registerorganization">Register a New Organization</md-button>
          <br>
        </div>
      </div>
    </md-content>
  </div>
</div>